<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Greška | E-Mobilnost</title>

        <meta name="description" content="Žao nam je, ali tražena stranica nije pronađena ili je premeštena na drugu adresu. Ako ste stigli do ove stranice nesto nije u redu. Probajte ponovo da učitate stranicu ili proverite internet vezu. Možete nas kontaktirati..."/> 
<meta name="keywords" content="e-mobilnost, srbija, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih 
      vozila, emobilnost, electric vehicles, electric vehicle, error, greška, 404, eror 404"/>
    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css" />



</head>

<body>
    <!--    <img src="/img/error.jpg" class="header-img" alt="error-header-image">-->


<th:block th:insert="fragments/navigation :: navbar" />



<div class="full-size-img-error">
    <section class="error-page-area text-center">
        <div class="container-fluid">
            <h1>404</h1>
            <h2>Stranica nije pronađena!</h2>
            <p>
                Žao nam je, ali tražena stranica nije pronađena <br> ili je premeštena na drugu adresu.
            </p>
            <a class="uclani-se-btn" th:href="@{/}">Nazad na početnu</a>
        </div>
    </section>
</div>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>