<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Galerija slika | E-Mobilnost</title>

        <link th:href="@{/css/galerija.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/pagination-custom.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">


    <meta name="description" content="Galerija slika udruženja E-Mobilnost. Pogledajte našu galeriju slika | E-Mobilnost"/> 
    <meta name="keywords" content="e-mobilnost, srbija, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih vozila, 
          emobilnost, električna vozila, električni automobili, vozila, automobili, električni motori, električni trotineti, motori, trotineti, electric vehicles, electric vehicle, galerija, galerija slika, galerija slika udruženja, 
          galerija slika udruženja E-Mobilnost, električni pogon, vozila na električni pogon, elektromobili, elektromobilnost"/>
</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/car-galerija.jpg" class="gallery-header-img" alt="header-image" >-->
<picture>
    <source media="(max-width: 776px)" srcset="/img/gallerysmall.jpg">
    <source media="(min-width: 992px)" srcset="/img/galleryCropped.jpg">
    <img src="/img/galleryCropped.jpg" class="header-img" alt="home-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Galerija</h3>
</div>

<section id="gallery ">
    <div class="container">
        <!--<th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />-->


        <div class="photo-gallery mt-5">
            <div class="container">
                <div class="row photos">
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/kona.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/kona.jpg" alt="Hyundai Kona"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/mica2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/mica2.jpg" alt="Peugeot auto"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/ruza.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/ruza.jpg" alt="Restoran Ružo rumena"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/restRuzoRumena.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/restRuzoRumena.jpg" alt="Restoran Ružo rumena"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/chargerruza.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/chargerruza.jpg" alt="Punjač za sve vrste električnih automobila u restoranu Ružo rumena"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/mercedes1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/mercedes1.jpg" alt="Mercedes predstavljanje"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/mercedes2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/mercedes2.jpg" alt="Mercedes predstavljanje"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/mercedes3.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/mercedes3.jpg" alt="Mercedes predstavljanje"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/skodaenyaqiV.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/skodaenyaqiV.jpg" alt="Škoda enyag iV"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/skodaenyaqiV-2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/skodaenyaqiV-2.jpg" alt="Škoda enyag iV"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/Golden-Steering-Wheel-2021-1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/Golden-Steering-Wheel-2021-1.jpg" alt="Golden Steering-Wheel 2021"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/Golden-Steering-Wheel-2021-2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/Golden-Steering-Wheel-2021-2.jpg" alt="Golden Steering-Wheel 2021"></a></div>

                </div>
            </div>
        </div>

        <!--        <div id="image-gallery">
                    <div class="row">
                        <th:block th:each="slika : ${listaSlika}" >  
        
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 image">
        
                                <div class="img-wrapper">
                                    <a th:href="@{/photo/{photoId} (photoId=${slika.id})}"> <img class="gallery-img" th:src="@{/photo/{photoId} (photoId=${slika.id})}" th:alt="${slika.alt_text}"  th:title="${slika.title}"/></a>
                                    <div class="img-overlay">
                                    </div>
        
                                </div>
                            </div>
        
                        </th:block>
        
                    </div> End row 
                </div> End image gallery -->
        <!--
                <div style="padding-top: 2rem">
                    <th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />
                </div>-->

    </div>
</div><!-- End container --> 
</section>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>

<th:block th:insert="fragments/scripts :: scripts" />
<!--<script th:src="@{/js/galerijaSlide.js}" type="text/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

</body>

</html>