<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Galerija Slika</title>

        <link th:href="@{/css/galerija.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/css/pagination-custom.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/css/lightbox.min.css">


    <meta name="description" content="Margotekstil galerija slika. Pogledajte neke primere onogo što smo već uradili i slobodno nam se javite ako vam se nešto sviđa. Image gallery."/> 
</head>

<body>
    <!--<img src="/img/car-galerija.jpg" class="gallery-header-img" alt="header-image" >-->
<picture>
    <source media="(max-width: 776px)" srcset="/img/cargallerysmall.jpg">
    <source media="(min-width: 992px)" srcset="/img/cargallery.jpg">
    <img src="/img/cargallery.jpg" class="header-img" alt="home-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Galerija</p>
</div>

<section id="gallery ">
    <div class="container">
        <!--<th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />-->


        <div class="photo-gallery mt-5">
            <div class="container">
                <div class="row photos">
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/carhomesmall.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/carhomesmall.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/caronama1.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/caronama1.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/carpolitikakolacica.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/carpolitikakolacica.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/flattyre.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/flattyre.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/carsavetismall.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/carsavetismall.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/carulogujsesmall.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/carulogujsesmall.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/caruclanisesmall.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/caruclanisesmall.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/cargallery.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/cargallery.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/carpogodnosti.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/carpogodnosti.jpg"></a></div>
                    <div class="col-sm-6 col-md-4 col-lg-3 item"><a href="/img/caronama2.jpg" data-lightbox="photos"><img class="img-fluid" src="/img/caronama2.jpg"></a></div>


                </div>
            </div>
        </div>

        <!--        <div id="image-gallery">
                    <div class="row">
                        <th:block th:each="slika : ${listaSlika}" >  
        
                            <div class="col-lg-3 col-md-6 col-sm-6 col-6 image">
        
                                <div class="img-wrapper">
                                    <a th:href="@{/photo/{photoId} (photoId=${slika.id})}"> <img class="gallery-img" th:src="@{/photo/{photoId} (photoId=${slika.id})}" th:alt="${slika.alt_text}"  th:title="${slika.title}"/></a>
                                    <div class="img-overlay">
                                    </div>
        
                                </div>
                            </div>
        
                        </th:block>
        
                    </div> End row 
                </div> End image gallery -->

        <div style="padding-top: 2rem">
            <th:block th:insert="fragments/pagination :: pagination (${listaSlika})" />
        </div>

    </div>
</div><!-- End container --> 
</section>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>

<th:block th:insert="fragments/scripts :: scripts" />
<!--<script th:src="@{/js/galerijaSlide.js}" type="text/javascript"></script>-->

<script src="https://cdnjs.cloudflare.com/ajax/libs/lightbox2/2.8.2/js/lightbox.min.js"></script>

</body>

</html>