<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml"
      xmlns:th="https://www.thymeleaf.org" 

      xmlns:sec="https://www.thymeleaf.org/extras/spring-security" 
      >

    <head>
        <title>Početna strana udruženja E-Mobilnost</title>
        <meta name="description" content="Početna strana udruženja vozača i ljubitelja električnih vozila | E-Mobilnost"/> 
        <meta name="keywords" content="e-mobilnost, srbija, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja 
              električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, električni motori, električni trotineti, motori, trotineti, 
              electric vehicles, electric vehicle, subvencije, pogodnosti, mreža punjača, auto na struju, vozilo na struju, električni pogon, vozila na električni pogon, 
              elektromobili, elektromobilnost"/>
    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/onama-home-section.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/anketa.css}" rel="stylesheet" type="text/css" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<div class="kontejner">

    <picture>
        <source media="(max-width: 776px)" srcset="/img/carhomesmall.jpg">
        <source media="(min-width: 992px)" srcset="/img/carhome.jpg">
        <img src="/img/carhome.jpg" class="header-img " alt="Car Image Home Hero">
    </picture>


    <th:block th:insert="fragments/navigation :: navbar" />

    <div class="text-box">
        <h2 class="">E-Mobilnost</h2>
        <h3 class="">Živi bili elektromobili.</h3>
    </div>

    <th:block th:insert="fragments/alert :: gotovaporudzbina (${successMessage})"></th:block>

    <th:block th:insert="fragments/alert :: uspesnaPrijava (${successMessageLogin})"></th:block>


    <section class="blog-section">
        <div class="container">
            <div class="section-heading text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>NOVOSTI</h5>
                        <h2 class="text-dark">NAJNOVIJE VESTI</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 col-lg-4 d-flex">
                    <article class="post text-left">
                        <figure class="feature-image">
                            <a th:href="@{/mercedes-benz-vs-mercedes-electric}">
                                <img src="/img/mercedes1.jpg" alt="Hyandai Kona automobil">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <p class="dateNews">22.11.2021.</p>
                            <h3><a th:href="@{/mercedes-benz-vs-mercedes-electric}">Mercedes benz VS Mercedes electric</a></h3>
                            <p>U petak 19.11.2021. imali smo priliku da prisustvujemo predstavljanju Mercedesove game novih električnih i plug in hibridnih vozila na terenu vozačke akademije NAVAK...</p>
                            <span class="separatorBtn"></span>
                            <a th:href="@{mercedes-benz-vs-mercedes-electric}" class="blogBtn" >Pročitajte više</a>
                        </div>
                    </article>
                </div>
                
                <div class="col-md-6 col-lg-4 d-flex">
                    <article class="post text-left">
                        <figure class="feature-image">
                            <a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}">
                                <img src="/img/skodaenyaqiV.jpg" alt="Hyandai Kona automobil">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <p class="dateNews">18.11.2021.</p>
                            <h3><a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}">ENYAQ iV: globalna priča o uspehu brenda ŠKODA</a></h3>
                            <p>ENYAQ iV postigao je trenutni uspeh na međunarodnim tržištima. Prvi proizvodni model brenda ŠKODA zasnovan na MEB modularnoj platformi za električne automobile...</p>
                            <span class="separatorBtn"></span>
                            <a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}" class="blogBtn" >Pročitajte više</a>
                        </div>
                    </article>
                </div>
                <div class="col-md-6 col-lg-4 d-flex">
                    <article class="post text-left">
                        <figure class="feature-image">
                            <a th:href="@{/skoda-enyaq-iv-osvojio-nagradu-zlatni-volan-za-najbolji-električni-suv-2021}">
                                <img src="/img/Golden-Steering-Wheel-2021-2.jpg" alt="">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <p class="dateNews">18.11.2021.</p>
                            <h3><a th:href="@{/skoda-enyaq-iv-osvojio-nagradu-zlatni-volan-za-najbolji-električni-suv-2021}">ŠKODA ENYAQ iV osvojio nagradu Zlatni volan za najbolji električni SUV 2021</a></h3>
                            <p>ŠKODA ENYAQ iV svojim nastupom na Lausitzring-u impresionirao stručni žiri vozača trka i novinara...</p>
                            <span class="separatorBtn"></span>
                            <a th:href="@{/skoda-enyaq-iv-osvojio-nagradu-zlatni-volan-za-najbolji-električni-suv-2021}" class="blogBtn" >Pročitajte više</a>
                        </div>
                    </article>
                </div>
                




            </div>
            <div class="row">
                <div class="col-12 text-center">
                    <a th:href="@{/vesti}" class="btn-underlined">SVE VESTI</a>
                </div>
            </div>
        </div>
    </section>

    <section class="home-about-section padding-top-bottom">
        <div class="container">
            <div class="row">
                <div class="col-lg-7">
                    <div class="about-img-wrap">
                        <div class="about-img-left">

                            <div class="about-img">
                                <img src="/img/caronamahome1.jpeg" alt="Car charging About Us Image 1" class="hide-img">
                            </div>
                        </div>
                        <div class="about-img-right">
                            <div class="about-img">
                                <img src="/img/caronamahome2.jpeg" alt="Car charging About Us Image 2" >
                            </div>
                            <div class="about-img">
                                <img src="/img/caronamahome3.jpeg" alt="Car charging About Us Image 3" class="hide-img">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 margin-top-s">
                    <div class="banner-content section-heading section-heading-onama">
                        <h5>O NAMA</h5>
                        <h2 class="banner-title text-dark">UPOZNAJTE NAS</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                        <p>E-Mobility, udruženje vozača električnih vozila, osnovano je sa ciljem da osvesti, ne samo vozače i vlasnike, već i celokupno društvo.
                            Da pokaže i dokaže da električna vozila nisu 
                            daleka budućnost već su uveliko deo sadašnjosti. Ona su pametan izbor svakog pojedinca za bolji, 
                            kvalitetniji, efikasniji i mnogo zdraviji život.  </p>
                    </div>
                    <div class="about-service-container">
                        <div class="about-service">

                            <div class="about-service-content">
                                <h4>UDRUŽENI MOŽEMO MNOGO</h4>
                                <p>U vrlo kratkom roku Električnoj Mobilnosti pridružio se veliki broj članova i simpatizera, željnih poboljšanja i unapređenja električne mobilnosti u Srbiji.</p>
                            </div>
                        </div>
                        <!--                            <div class="about-service">
                        
                                                        <div class="about-service-content">
                                                            <h4>ZA ZDRAVIJE I ZELENIJE DRUŠTVO
                        
                                                            </h4>
                                                            <p>Kroz različite projekte svakodnevno se trudimo da utičemo na poboljšanje infrastrukture za elektromobile i da omogućimo određene, ne male pogodnosti, njihovim sadašnjim i budućim vlasnicima.</p>
                                                        </div>
                                                    </div>
                                                    <div class="about-service">
                        
                                                        <div class="about-service-content">
                                                            <h4>POSTANITE ČLAN</h4>
                                                            <p>Nastojimo da aktivno utičemo na promene i dopune zakona, poput povećanja subvencija, pojednostavljenja njihove isplate, širenje mreže punjača, pravovremeno reagovanje državnih tela na nepropisno parkiranje pored punionica za električna vozila, kao i na zakone o unapređenju ukupne infrastrukture za elektromobilnost.</p>
                                                        </div>
                                                    </div>-->
                    </div>
                    <div class="">
                        <a class="uclani-se-btn darkText" href="/o-nama">Pročitaj više</a>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!--        <div class="img-parallax">
                <p>Naše dugogodišnje iskustvo bavljenja krojačkim zanatom <br> i širok asortiman proizvoda
                    priuštiće vašim klijentima  <br> uvek nove i nezaboravne utiske kojima će se rado vraćati.</p>
            </div>-->

    <section class="activity-section activity-bg-image">
        <div class="container">
            <div class="section-heading section-heading-white text-center">
                <div class="row">
                    <div class="col-lg-8 offset-lg-2">
                        <h5>UČLANI SE</h5>
                        <h2>PRIDRUŽI NAM SE</h2>
                        <div class="title-icon-divider"><i class="fas fa-plug"></i></div>
                        <div class="mt-5">
                            <p>Članstvom u udruženju ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.</p>
                            <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. </p> 
                            <p>Pored informacija o vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
                                Popusti na vozila, opremu i usluge sastavni su deo benefita koje E-mobilnost obezvbeđuje za svoje članove. Te ponude 
                                menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                                segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji. </p> 
                            <p>Pratite nas i dalje na www.emobilnost.rs</p>
                        </div>
                        <div class="mt-5">
                            <a class="uclani-se-btn" href="/uclani-se">UČLANI SE</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

</div>

<section class="partners-section">
    <div class="container">
        <div class="section-heading section-heading-white text-center text-dark">
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <h5>SARADNJA</h5>
                    <h2 class="text-dark">NAŠI PARTNERI</h2>
                    <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    <div class="container partneri">
                        <section class="customer-logos slider">
                            <div class="slide"><a href="https://www.ruzorumena.rs/index.html" target="_blank"><img style="padding-top: 2rem;" src="/img/logoRuzadark.png" alt="Logo restorana Ružo Rumena"></a></div>
                            <div class="slide"><a href=""><img src="/img/adepto-logo.png" alt="Logo firme Adepto Trade doo"></a></div>
                            <div class="slide"><a href="https://www.facebook.com/burgerplus/" target="_blank"><img src="/img/burgerplus.jpg" alt="Logo restorana brze hrane Burger Plus"></a></div>
                            <div class="slide"><a href="https://ceffair.com/" target="_blank"><img src="/img/ceflogo.png" alt="Logo firme Cef International doo"></a></div>
                            <div class="slide"><a href="https://margotekstil.com/" target="_blank"><img style="padding-top: 2rem;" src="/img/logomargo.png" alt="Logo firme VM Margotekstil doo"></a></div>                
                        </section>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


<!--contact us section--> 
<div class=" contact-us" style="overflow-x: hidden">
    <div class="container">
        <div class="row">
            <div class="col-md-6" >
                <!--<h3 class="send-us-a-message-header">Pošaljite nam poruku</h3>-->
                <div class="banner-content section-heading">
                    <h5>KONTAKTIRAJTE NAS
                    </h5>
                    <h2 class="banner-title">Pošaljite nam poruku</h2>
                    <div class="title-icon-divider text-dark"><i class="fas fa-plug" aria-hidden="true"></i></div>
                </div>
                <form class="forma" style="overflow: hidden"  th:action="@{/posaljiPoruku}" method="POST">                                                                   
                    <div class="form-group col floating-placeholder">
                        <!--<label for="inputIme">Ime</label>-->
                        <input type="text" class="form-control" name="ime" id="inputIme" placeholder="Ime i prezime">
                        <label></label>
                    </div>
                    <!--                        <div class="form-group col floating-placeholder">
                                                <label for="inputPrezime">Prezime</label>
                                                <input type="text" class="form-control" name="prezime" id="inputPrezime" placeholder="Prezime">
                                                <label></label>
                                            </div>-->
                    <div class="form-group col floating-placeholder">
                        <!--<label for="inputEmail">Email</label>-->
                        <input type="email" name="email" class="form-control" id="inputEmail" placeholder="Email">
                        <label></label>
                    </div>
                    <div class="form-group col floating-placeholder">
                        <!--<label for="inputTelefon">Telefon</label>-->
                        <input type="number" name="telefon" class="form-control" id="inputTelefon" placeholder="Telefon">
                        <label></label>
                    </div>
                    <div class="form-group floating-placeholder-textarea">
                        <!--<label for="inputPoruka">Poruka</label>-->
                        <textarea type="text" name="poruka" class="form-control" rows="5" cols="50" id="inputPoruka" placeholder="Poruka"></textarea>
                        <label></label>
                    </div>
                    <button type="submit" class="posalji-btn-contact-form-page">Pošalji</button>
                </form>
            </div>
            <div class="col-md-6 bg-color-contact " >
                <h3 class="contact-header">Kontakt</h3>
                <p>Ukoliko imate bilo kakvih pitanja ili zahteva, slobodno nam napšite poruku. Potrudićemo se da Vam odgovorimo u najkraćem mogućem roku.</p>
                <ul class="list-info">
                    <li><i class="fas fa-globe"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; <a href="https://goo.gl/maps/thFoVjcg9BCFShPH8" target="_blank">Časlava Veljića 53, Beograd</a></li>
                    <li><i class="fas fa-envelope"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="mailto:nebojsa@emobilnost.rs" target="_blank" rel="noopener">nebojsa@emobilnost.rs</a></li>
                    <li><i class="fas fa-phone-alt"></i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="tel:+381-61-20-28-158">+381 61 20 28 158</a></li>
                </ul>
                <p class="pratite-nas">Pratite nas na društevnim mrežama:</p>
                <ul class="social-icons-contact">
                    <li><a href="#" aria-label="Our Facebook page"><i class="fab fa-facebook-f"></i></a></li>
                    <li><a href="#"><i class="fab fa-instagram" aria-label="Our Instagram page"></i></a></li>
                    <li><a href="#"><i class="fab fa-twitter"aria-label="Our Twitter page"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="fragments/footer :: footer" />


<!--<div id="backToTop"></div>-->

<a id="back-to-top-button"></a>

<div class="container mt-5" id="anketa" style="display: none">
    <div class="survey-padding">
        <button type="button" id="closeBtn" class="close zatvori-alert" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="xTimes">&times;</span>
        </button>

        <form id="anketaForm" >

            <!-- 1 -->
            <div id="form1">
                <h6 id="register">Razmišljate li o kupovini električnog vozila?</h6>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios1" value="Da, razmišljam o kupovini EV" checked>
                    <label class="form-check-label" for="anketaRadios1">
                        Da
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios2" value="Ne, ne razmišljam o kupovini EV">
                    <label class="form-check-label" for="anketaRadios2">
                        Ne
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios3" value="Već imam EV">
                    <label class="form-check-label" for="anketaRadios3">
                        Već imam EV
                    </label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios4" value="Imam EV, ali razmišljam o kupovini još jednog">
                    <label class="form-check-label" for="anketaRadios4">
                        Imam EV, ali razmišljam o kupovini još jednog
                    </label>
                </div>
                <div style="overflow:auto;" id="nextprevious" class="mt-3">
                    <div style="float:right;">
                        <button class="fullClrBtn" type="button" id="nextBtn">Dalje &nbsp; &rarr;</button>
                    </div>
                </div>
            </div>
            <!--       1 -->

            <!--       2 -->
            <div id="form2" style=" display:none">
                <h6 id="register">Ako želite možete nam ostaviti Vašu email adresu pa ćemo Vas obavestiti o pogodnostima za vlasnike električnih vozila:</h6>
                <div class="form-group">
                    <label for="exampleInputEmail1">Email adresa</label>
                    <input type="email" class="form-control" id="emailAnketa" aria-describedby="emailHelp" placeholder="Unesite email adresu" required>
                    <small id="emailHelp" class="form-text text-muted">Email adresa neće biti podeljena ni sa kim.</small>
                </div>
                <div style="overflow:auto;" id="nextprevious" class="mt-3">
                    <div style="float:right;margin-left:10px;">
                        <!--<button class="fullClrBtn" id="prijaviSe">Prijavi se</button>-->
                        <input class="fullClrBtnInput" id="prijaviSe" value="Prijavi se" />
                    </div>
                    <div style="float:right;">
                        <button class="prevBtn" type="button" id="prevBtn">&larr; &nbsp;Nazad </button>
                    </div>

                </div>
            </div>
            <!--       2 -->

            <!--       3 -->
            <div id="form3" style="display:none">
                <h6 id="register">Hvala Vam što se učestvovali u anketi. <br>
                    Vaša prijava je uspešno primljena!</h6>
            </div>
            <!--       3 -->

        </form>
    </div>
</div>


<th:block th:insert="fragments/scripts :: scripts" />
<script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.6.0/slick.js"></script>
<script src="https://unpkg.com/jquery-aniview/dist/jquery.aniview.js"></script>
<script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>


<script th:src="@{/js/slickCarouselPartneri.js}" type="text/javascript"></script>
<script th:src="@{/js/uspesnaKupovinaAlert.js}" type="text/javascript"></script>
<script src="/js/js.cookie.min.js" type="text/javascript"></script>
<script th:src="@{/js/anketa.js}" type="text/javascript"></script>

</body>

</html>