<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Miodrag Makarić - Mića: Pionir elektromobilnosti - šampion biznisa | Blog | E-Mobilnost</title>

        <meta name="description" content="Vlasnik restorana Ruža Rumena i fast food brenda BURGER PLUS Milorad Makarić je jedan od prvih koji je kroz svoj biznis uveo u upotrebu potpuno električne automobile. Čovek je sa velikim iskustvom u upotrebi malih dostavnih vozila pogonjenih strujom i evo šta on kaže o tome..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, železnik, miodrag makarić, elektrobiznis, restoran ruža rumena, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila, vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti"/>


        <link th:href="@{/css/vest.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/carvestismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carvestiCropped.jpg">
    <img src="/img/carvestiCropped.jpg" class="header-img " alt="Porsche car image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
</div>



<div class="container py-5">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">


                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold">Miodrag Makarić - Mića: Pionir elektromobilnosti - šampion biznisa</h2>

                        <div class="post-meta">
                            <span><i class="far fa-calendar"></i>15.11.2021.</span>
                            <!--                                           <span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>  -->
                            <!--<span><i class="far fa-user"></i> <a href="#">Nebojša Margetić</a> </span>-->  

                            <span><i class="far fa-comments"></i> <a href="#comments">Komentari (0)</a></span>
                        </div>

                        <p>Vlasnik <a href="https://www.ruzorumena.rs/index.html" target="_blank">restorana Ružo Rumena</a> i fast food brenda BURGER PLUS Milorad Makarić je jedan od prvih koji je kroz svoj biznis uveo u upotrebu potpuno električne
                            automobile. Čovek je sa velikim iskustvom u upotrebi malih dostavnih vozila pogonjenih strujom i evo šta on kaže o tome:</p>
                        <p>15.03.2020. godine nakon proglašenja pandemije COVID došlo je, između ostalog, do zatvaranja ugostiteljskih objekata, restorana, fast food-ova i naš posao 
                            je bio ugrožen. Zatražili smo i dobili dozvolu za pripremu i dostavu hrane i to je bio način da preživimo. Međutim naša lokacija u Železniku nije mogla 
                            omogućiti dovoljno posla ukoliko ne krenemo s dostavom prema čitavom gradu. </p>
                        <p>Udaljenost Železnika od centra i drugih delova grada i saobraćajne gužve postali su nepremostiva prepreka u smislu troškova dostave hrane. Dostava 
                            klasičnim vozilima košta između 10-15 din/km.</p>
                        <p>To je apsolutno neisplativo za nekog s periferije. U to vreme čuo sam da su WV dobili neka električna vozila na testiranje. Javim se, dobijem „VW up“ na probu i 
                            oduševim se. Istestiram i ustanovim da me kilometar košta 50 para. Video sam rešenje jednog problema – troškovi dostave - ali pojavio se drugi problem. U tom 
                            trenutku nisam imao para za ta vozila.</p>
                        <div class="post-image ms-0">
                            <img src="/img/mica2.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Peugeot Car">
                        </div>
                        <p>Izreka kaže, kad ima volje, nađe se i načina. Tako je bilo i u mom slučaju. Prodavci su mi izašli u susret, prilagodili lizing ponudu mojim mogućnostima i 
                            kupio sam 2 „VW up“, gotovo nova test vozila. Kao da sam se preporodio. Moj biznis je opstao i nastavio uspešno da se razvija.</p>
                        <p>Pređeni kilometar me sada koštao 0,5 dinara i mogao sam preuzeti isporuke i u udaljene delove grada, bez straha da će mi troškovi pojesti zaradu. </p>
                        <p>Za kratko vreme uvideli smo sve prednosti upotrebe električnih vozila u gradskoj dostavi. Svi troškovi su drastično smanjeni. Primenjuje se najniža tarifa 
                            za registraciju vozila, minimalni troškovi servisiranja i najniži mogući troškovi pogonske energije. Malo vozilo pogodno je za parkiranje u gradskoj 
                            gužvi, a obrtni moment električnog pogona koji trenutno isporučuje snagu na točkove daje našim dostavljačima znatnu prednost u gradskoj gužvi. Postali 
                            smo konkurentni s dostavom hrane.</p>
                        <p>Sledeće o čemu smo morali razmišljati su bili punjači. Sa vozilima smo dobili kućne punjače i njima treba 8-9 sati da se vozilo napuni. Sa tim punjenjem 
                            VW up pređe 160 km. Kako se posao raširio to nam nije bilo dovoljno, jer mi danas radimo i po 200 km sa jednim vozilom. Zato smo nabavili 2 zidna punjača 
                            i skratili vreme punjenja na 4 sata. Njima u stvari dopunjavamo vozilo svaki put kad ima pauzu između 2 isporuke i to potpuno zadovoljava naše potrebe, 
                            praktično nemamo ograničenja u korišćenju vozila. </p>
                        <div class="row">
                            <div class="post-image ms-0 col-md-6">
                                <img src="/img/restRuzoRumena.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Restoran Ružo rumena slika">
                            </div>
                            <div class="post-image ms-0 col-md-6">
                                <img src="/img/ruza.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Restoran Ružo rumena slika">
                            </div>
                        </div>
                        <p>Mnogo je zabluda i predrasuda vezano uz električna vozila. Da su skupa, da imaju mali domet, da nema punjača, šta kada se baterije istroše?</p>
                        <p style="text-indent: 30px;">- Pitali smo Miću." Da li se isplate?"</p>
                        <p>Za godinu dana prešli samo sa svakim od naših VW up-ova po 60.000 km. Bez kvara, bez troškova održavanja. To je mesečno po 5000 km i sa bilo kojim 
                            drugim vozilom minimum 48000 dinara za gorivo ili 400-450 eur mesečno. Sa električnim to je manje od 30 eur/ mesečno ukupnih troškova.</p>
                        <p>Plaćam ratu lizinga 150 eur i u odnosu na bilo koje drugo vozilo ostaje nam 200 EUR mesečno. </p>
                        <p>Da – isplati se. </p>

                        <p style="text-indent: 30px;">- Vi imate iskustva i sa polovnim električnim vozilima. Šta nam o tome možete reći?</p>

                        <p>Da, kasnije smo nabavili polovni električni kangoo. Njegova nosivost je 600 kg. Uvezli smo ga iz Norveške i sa njim smo takođe radili nabavku i dostavu. 
                            Bio je star 5 godina kad smo ga uvezli i imao je pređenih 40.000 km. Ja sam ga ovde vozio preko godinu dana i prešao još oko 25000 km bez ikakvih problema. 
                            Prosto mislim da je neko ko je napravio ta vozila osmislio sve vrlo kvalitetno i napravio sve vrlo kvalitetno i pouzdano. Prodali smo ga bez gubitka na 
                            ceni. </p>
                        <p>Pre nekih nedelju dana nabavio sam još jedno polovno električno vozilo. To je Peugeot ION. To je malo vozilo za grad i interesantno je da je on 10 godina 
                            star i do sad je prešao 117.000 km. Njemu je deklarisani domet kao novom bio oko 120 km, a sada nakon 10 godina i dalje prelazi 80-90 km bez dopune. Za 
                            naše operativne potrebe to i dalje zadovoljava uslove za gradsku dostavu. I naravno kupljen je vrlo povoljno. </p>

                        <p style="text-indent: 30px;">- Kakvi su planovi?</p>
                        <p>Plan nam je da nabavimo još 2 električna vozila čime bi mogli da odgovorimo svim potrebama.</p>
                        <p>Interesantno je, testirao sam i električni motocikl, pošto se dostava po gradu često obavlja i motociklima. Možda krenemo u nabavku i tog sredstva. 
                            On ima domet oko 120 km i ima 2 baterije, kad se jedna potroši prebacuje se na drugu. Nabavkom rezervne baterije bilo bi moguće da jedna stalno bude 
                            na punjaču, a motocikl stalno u vožnji.</p>
                        <p>Nisam do sada dobio niti koristio nikakvu subvenciju za nabavku električnih vozila. Mislim da bi to bilo jako dobro i korisno i za pojedince i za društvo 
                            u celini. Procedure za odobravanje subvencija trebalo bi maksimalno pojednostavniti i učiniti dostupnim svima zainteresovanima.</p>
                        <p>Mislim da bi posebno trebalo stimulisati dostavne službe i taksiste, državnu upravu i komunalne službe koje po službenoj dužnosti mnogo voze po gradu i 
                            njihov doprinos čistom vazduhu bio bi najveći.</p>
                        <br>
                        <p>Za kraj moram naglasiti da sam oduševljen gostoprimstvom gospodina Miće Makarića, njegovim zanosom električnim vozilima i entuzijazmom koji širi oko sebe. 
                            Pozvao je sve koji imaju nedoumice oko električnih vozila da dođu kod njega u restoran RUŽA RUMENA u Železniku, popiju kafu, pitaju šta žele i ako treba 
                            provozaju se sa njim u nekom od njegovih električnih pulena.</p>
                        <p>Svojim gostima restoran Ružo Rumena nudi odličnu hranu, pristupačne cene i mogućnost da se uvek dopune na punjaču ukoliko imaju električno vozilo.</p>
                        <p>Ujedno objavljujemo da su se restoran RUŽO RUMENA i firma ADEPTO TRADE DOO pridružili Udruženju vozača električnih i Plug in hibridnih vozila  "E-Mobilnost" 
                            i kao partneri obezbeđuju posebne pogodnosti članovima udruženja: <br><b>10% popusta na sve proizvode i ugostiteljske usluge za članove E-Mobilnosti.</b></p>
                        <div class="row">
                            <div class="post-image ms-0 col-md-4">
                                <img src="/img/chargerruza.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 fx-height" alt="Slika punjača za sve vrste električnih autobomila">
                            </div>
                            <div class="post-image ms-0 col-md-4">
                                <img src="/img/mica3.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 fx-height" alt="Miodrag Makarić - Mića Slika 1">
                            </div>
                            <div class="post-image ms-0 col-md-4">
                                <img src="/img/micaruza.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0 fx-height" alt="Miodrag Makarić - Mića Slika 2">
                            </div>
                        </div>
                        <div class="post-block mt-5 post-share">
                            <h4 class="mb-3">Podelite vest</h4>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="https://www.okler.net/previews/porto/9.2.0/blog-post.html" data-title="Post Full Width | Porto - Responsive HTML5 Template" style="clear: both;">
                                <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" role="region"><span id="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                    <div class="at-share-btn-elements"><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(59, 89, 152); border-radius: 16px;"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-facebook-1">Facebook</title>
                                                <g>
                                                <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(29, 161, 242); border-radius: 16px;"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-twitter-2">Twitter</title>
                                                <g>
                                                <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-compact" style="background-color: rgb(255, 101, 80); border-radius: 16px;"><span class="at4-visually-hidden">Share to More</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-3" class="at-icon at-icon-addthis" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-addthis-3">AddThis</title>
                                                <g>
                                                <path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a></div>
                                </div>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>

                        </div>

                        <div class="post-block mt-5 post-similar">
                            <h4 class="mb-3">Slične vesti</h4>
                            <div class="blog-section blog-section-small">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/prvih-30000km-na-struju}">
                                                    <img src="/img/kona.jpg" alt="Hyundai Kona">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p  class="dateNews">15.11.2021.</p>
                                                <h3><a th:href="@{/prvih-30000km-na-struju}">Prvih 30 000 km na struju</a></h3>
                                                <!--                                                <p>Službeno je otvoren Electric EVolution Festival u Galerija Centru u Beogradu...</p>-->
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{/prvih-30000km-na-struju}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/bonton-za-vozace-elektricnih-vozila}">
                                                    <img src="/img/charge.jpg" alt="Bonton za vozače električnih vozila">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p  class="dateNews">29.10.2021.</p>
                                                <h3><a th:href="@{/bonton-za-vozace-elektricnih-vozila}">Bonton za vozače električnih vozila</a></h3>
                                                <!--<p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>-->
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{/bonton-za-vozace-elektricnih-vozila}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <!--                                    <div class="col-md-6 col-lg-4 d-flex">
                                                                            <article class="post text-left">
                                                                                <figure class="feature-image">
                                                                                    <a href="#">
                                                                                        <img src="https://image.jimcdn.com/app/cms/image/transf/dimension=4000x3000:format=jpg/path/sfcb9b9070fde9e8b/image/ib2e4d45a46261f30/version/1512503217/image.jpg" alt="vest2-img">
                                                                                    </a>
                                                                                </figure>
                                                                                <div class="entry-content">
                                                                                    <p class="dateNews">25.09.2021.</p>
                                                                                    <h3><a href="#">7 dana s Citroënom e-C4</a></h3>
                                                                                    <p>TLDR: Iako je verovatno reč o prelaznoj generaciji, Citroën e-C4 je jedan od...</p>
                                                                                    <span class="separatorBtn"></span>
                                                                                    <a href="" class="blogBtn" >Pročitajte više</a>
                                                                                </div>
                                                                            </article>
                                                                        </div>-->

                                </div>
                            </div>
                        </div>


                        <div id="comments" class="post-block mt-3 post-comments">
                            <!--<h4 class="mb-3">Komentari (3)</h4>-->
                            <h4 class="mb-3">Još uvek nema komentara</h4>
                            <!--                            <ul class="comments">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="https://i.ya-webdesign.com/images/profile-avatar-png-8.png">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                            
                                                                <ul class="comments reply">
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-3.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-4.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>-->

                        </div>

                        <div class="post-block mt-5 post-leave-comment" >
                            <h4 class="mb-3">Ostavite komentar</h4>

                            <form class="contact-form p-4 rounded bg-color-grey" action="php/contact-form.php" method="POST">
                                <div class="p-2">
                                    <!--                                    <div class="row">
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="ime" class="form-label required">Ime i prezime</label>
                                                                                <input type="text" value="" data-msg-required="Unesite ime i prezime." maxlength="100" class="form-control" name="ime" required="">
                                                                            </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="ime" class="form-label required">Ime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="prezime" class="form-label required">Prezime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                                                                </div>
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="email" class="form-label required">Email adresa</label>
                                                                                <input type="email" value="" data-msg-required="Unesite email adresum" data-msg-email="Unesite validnu email adresum" maxlength="100" class="form-control" name="email" required="">
                                                                            </div>
                                                                        </div>-->
                                    <div class="form-group">
                                        <label for="ime" class="form-label required">Ime</label>
                                        <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                    </div>
                                    <!--                                    <div class="form-group">
                                                                            <label for="ime" class="form-label required">Ime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                        </div>-->
                                    <!--                                    <div class="form-group">
                                                                            <label for="prezime" class="form-label required">Prezime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                        </div>-->

                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="poruka" class="form-label required">Komentar</label>
                                            <textarea maxlength="5000" data-msg-required="Napišite Vaš komentar." rows="5" class="form-control" name="poruka" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col mb-0">
                                            <button type="submit" class="sendComment">Pošalji</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

</div>





<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>