<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>O udruženju | O E-Mobilnosti | E-Mobilnost</title>

        <meta name="description" content="Saznajte više o nama. E-Mobilnost je udruženje vozača i ljubitelja električnih vozila u Srbiji..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja 
              električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, o nama, o udruženju, o emobilnosti, o e-mobilnosti, pogodnosti, benefiti"/>
        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->
              <th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/caronamasmall.jpg">
    <source media="(min-width: 992px)" srcset="/img/caronamaCropped2.jpg">
    <img src="/img/caronamaCropped2.jpg" class="header-img " alt="Car Image Sbout us hero">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>O nama</h3>
</div>

<div class="section section-margin">
    <div class="container">
        <div class="row m-b-n30 ">
            <div class="col-lg-6 order-first  m-b-30">
                <div class="about-image service-layer-image ">
                  
                    <img class="about-image-1 img-fluid" src="/img/caronama1.jpg" alt="Blue car image">
                    <img class="about-image-2 img-fluid" src="/img/caronama2.jpg" alt="Electric car charging">
                </div>
            </div>
            <div class="col-lg-6 m-b-30 order-lg-last">
                <div class="about-content mw-100">
                    <div class="banner-content section-heading">
                        <h5>O NAMA
                        </h5>
                        <h2 class="banner-title">NAŠA MISIJA JE NULTA EMISIJA</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>
                    <!--           <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2> -->
                    <p>E-Mobilnost, udruženje vozača električnih vozila, osnovano je sa ciljem da osvesti, 
                        ne samo vozače i vlasnike, već i celokupno društvo. Da pokaže i dokaže da električna vozila nisu 
                        daleka budućnost već su uveliko deo sadašnjosti. Ona su pametan izbor svakog pojedinca za bolji, 
                        kvalitetniji, efikasniji i mnogo zdraviji život.        </p>      
                   
                    <p style="font-weight: 600;">UJEDINJENI/UDRUŽENI MOŽEMO MNOGO</p>
                    <p>Priča o našem Udruženju započela je sa tek nekoliko vozača koji su želeli da razmene međusobna 
                        iskustva i znanja i da ih nesebično podele sa drugima. U vrlo kratkom roku e-mobilnosti 
                        pridružio se veliki broj članova i simpatizera, željnih poboljšanja i unapređenja električne mobilnosti u Srbiji.</p>
                    <p style="font-weight: 600;">ZA ZDRAVIJE I ZELENIJE DRUŠTVO</p>
                    <p> Kroz različite projekte svakodnevno se trudimo da utičemo na poboljšanje infrastrukture za elektromobile i 
                        da omogućimo određene, ne male pogodnosti, njihovim sadašnjim i budućim vlasnicima. Ali, istovremeno, želimo 
                        da utičemo na celokupno društvo kako bi se formirao i usvojio jedinstven stav o električnim vozilima kao 
                        najboljem rešenju za okoliš, klimu, energetsku efikasnost, za nas same, za našu ličnu i ekonomiju u celini.</p> 
                    <p style="font-weight: 600;">POSTANITE ČLAN I UČESTVUJTE U KREIRANJU ZELENIJE BUDUĆNOSTI</p>
                    <p> Ujedno, kroz pregovore s državnim institucijama, nastojimo da aktivno utičemo na promene i dopune zakona, poput povećanja subvencija, 
                        pojednostavljenja njihove isplate, širenje mreže punjača, pravovremeno reagovanje državnih tela na nepropisno parkiranje pored punionica 
                        za električna vozila, kao i na zakone o unapređenju ukupne infrastrukture za elektromobilnost.
                        <br> Svojim članstvom u Udruženju podržavate naša nastojanja da svima približimo izuzetnu važnost i vrednost električne 
                        mobilnosti, njen uticaj  na ekologiju, kvalitet života, kao i na privredu u celini.</p>
                    <p>Nadamo se da ćemo kroz naš trud, znanje i iskustvo, korak po korak i uz Vašu pomoć, građanima Srbije omogućiti zeleniju, čistiju i zdraviju budućnost.</p>
                    <p style="font-weight: 600;">Živi bili elektromobili!</p>
                </div>
            </div>

        </div>
    </div>
</div>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>