<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | O nama</title>

        <meta name="description" content="Margotekstil o nama. Margotekstil je firma koja se bavi uređenjem poslovnog i ličnog prostora. About us."/> 

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/car-onama-smallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/car-onama.jpg">
    <img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>O nama</p>
</div>

<div class="section section-margin">
    <div class="container">
        <div class="row m-b-n30 ">
            <div class="col-lg-6 order-first  m-b-30">
                <div class="about-image service-layer-image ">
                  
                    <img class="about-image-1 img-fluid" src="/img/ccar1-smallscreen.jpg" alt="About Image">
                    <img class="about-image-2 img-fluid" src="/img/car2.jpg" alt="About Image">
                </div>
            </div>
            <div class="col-lg-6 m-b-30 order-lg-last">
                <div class="about-content mw-100">
                    <div class="banner-content section-heading">
                        <h5>O NAMA
                        </h5>
                        <h2 class="banner-title">NAŠA MISIJA JE NULTA EMISIJA</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>
                    <!--           <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2> -->
                    <p>E-Mobility, udruženje vozača električnih vozila, osnovano je sa ciljem da osvesti, 
                        ne samo vozače i vlasnike, već i celokupno društvo. Da pokaže i dokaže da električna vozila nisu 
                        daleka budućnost već su uveliko deo sadašnjosti. Ona su pametan izbor svakog pojedinca za bolji, 
                        kvalitetniji, efikasniji i mnogo zdraviji život.        </p>      
                    <p>Voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur mag ni dolores eos qui ratione voluptatem sequi 
                        nesciunt. Neque porro quisq uam est, qui dolorem ipsum quia dolor sit amet, consectetur some of the main Problems some 
                        of the main need more imporvement to solve the business policy</p>
                    <p>Ukratko, naša je misija nulta emisija.</p>
                    <p>UJEDINJENI/UDRUŽENI MOŽEMO MNOGO</p>
                    <p>Priča o našem Udruženju započela je sa tek nekoliko vozača koji su želeli da razmene međusobna 
                        iskustva i znanja i da ih nesebično podele sa drugima. U vrlo kratkom roku Električnoj Mobilnosti 
                        pridružio se veliki broj članova i simpatizera, željnih poboljšanja i unapređenja električne mobilnosti u Srbiji.</p>
                    <p>ZA ZDRAVIJE I ZELENIJE DRUŠTVO</p>
                    <p> Kroz različite projekte svakodnevno se trudimo da utičemo na poboljšanje infrastrukture za elektromobile i 
                        da omogućimo određene, ne male pogodnosti, njihovim sadašnjim i budućim vlasnicima. Ali, istovremeno, hoćemo 
                        da utičemo na celokupno društvo kako bi se formirao i usvojio jedinstveni stav o električnim vozilima kao 
                        najboljem rešenju za okoliš, klimu, energetsku efikasnost, za nas same, za našu ličnu i ekonomiju u celini.</p> 
                    <p>POSTANITE ČLAN I UČESTVUJTE U KREIRANJU ZELENIJE BUDUĆNOSTI</p>
                    <p>  Ujedno, kroz pregovore s državnim institucijama, nastojimo da aktivno utičemo na promene i dopune zakona, poput povećanja subvencija, 
                        pojednostavljenja njihove isplate, širenje mreže punjača, pravovremeno reagovanje državnih tela na nepropisno parkiranje pored punionica 
                        za električna vozila, kao i na zakone o unapređenju ukupne infrastrukture za elektromobilnost.
                        <br> Svojim članstvom u Udruženju podržavate naša nastojanja da svima približimo izuzetnu važnost i vrednost električne 
                        mobilnosti, njen uticaj  na ekologiju, kvalitet života, kao i na privredu u celini.</p>
                    <p>Nadamo se da ćemo kroz naš trud, znanje i iskustvo, korak po korak i uz Vašu pomoć, građanima Srbije omogućiti zeleniju, čistiju i zdraviju budućnost.</p>
                    <p>Živi bili elektromobili!</p>
                </div>
            </div>

        </div>
    </div>
</div>
<!--
<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 mt-1-ss">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">O nama</span>
                        <h2>Naša misija je nulta emisija</h2>
                    </div>
                    <div class="text" >E-Mobility, udruženje vozača električnih vozila, osnovano je sa ciljem da osvesti, 
                        ne samo vozače i vlasnike, već i celokupno društvo. Da pokaže i dokaže da električna vozila nisu 
                        daleka budućnost već su uveliko deo sadašnjosti. Ona su pametan izbor svakog pojedinca za bolji, 
                        kvalitetniji, efikasniji i mnogo zdraviji život.<br>
                        <br>Ukratko, naša je misija nulta emisija. <br><br>
                        <p>UJEDINJENI/UDRUŽENI MOŽEMO MNOGO</p>
                        Priča o našem Udruženju započela je sa tek nekoliko vozača koji su želeli da razmene međusobna 
                        iskustva i znanja i da ih nesebično podele sa drugima. U vrlo kratkom roku Električnoj Mobilnosti 
                        pridružio se veliki broj članova i simpatizera, željnih poboljšanja i unapređenja električne mobilnosti u Srbiji.
                        <br><br>
                        <p>ZA ZDRAVIJE I ZELENIJE DRUŠTVO</p>
                        Kroz različite projekte svakodnevno se trudimo da utičemo na poboljšanje infrastrukture za elektromobile i 
                        da omogućimo određene, ne male pogodnosti, njihovim sadašnjim i budućim vlasnicima. Ali, istovremeno, hoćemo 
                        da utičemo na celokupno društvo kako bi se formirao i usvojio jedinstveni stav o električnim vozilima kao 
                        najboljem rešenju za okoliš, klimu, energetsku efikasnost, za nas same, za našu ličnu i ekonomiju u celini.
                        <br><br>
                        <p>POSTANITE ČLAN I UČESTVUJTE U KREIRANJU ZELENIJE BUDUĆNOSTI</p>
                        Ujedno, kroz pregovore s državnim institucijama, nastojimo da aktivno utičemo na promene i dopune zakona, poput povećanja subvencija, 
                        pojednostavljenja njihove isplate, širenje mreže punjača, pravovremeno reagovanje državnih tela na nepropisno parkiranje pored punionica 
                        za električna vozila, kao i na zakone o unapređenju ukupne infrastrukture za elektromobilnost.
                        <br> Svojim članstvom u Udruženju podržavate naša nastojanja da svima približimo izuzetnu važnost i vrednost električne 
                        mobilnosti, njen uticaj  na ekologiju, kvalitet života, kao i na privredu u celini.
                        <br>Nadamo se da ćemo kroz naš trud, znanje i iskustvo, korak po korak i uz Vašu pomoć, građanima Srbije omogućiti zeleniju, čistiju i zdraviju budućnost.
                        <br><br>Živi bili elektromobili!

                    </div>

                </div>
            </div>

             Image Column 
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column " >
                    <figure class="image-1" ><img class="onama-img1"  src="/img/car1.jpg" alt="onama-img1"></figure>
                    <figure class="image-2" ><img class="onama-img2" src="/img/car2.jpg" alt="onama-img2"></figure>
                </div>
            </div>
        </div>
    </div>
</section>-->


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>