<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Pogodnosti za članove udruženja E-Mobilnost </title>

        <meta name="description" content="Saznajte više o pogodnostima članstva u udruženju E-Mobilnost.."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, o nama, o udruženju, o emobilnosti, o e-mobilnosti, 
              pogodnosti, benefiti, pogodnosti za članove, benefiti za članove, pogodnosti za članove udruženja, benefiti za članove udruženja, pogodnosti članstva, popust, popust na vozila
              popust na opremu, popust za članove, popust za članove udruženja, popust za članove kluba"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/carpogodnostismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carpogodnostiCropped3.jpg">
    <img src="/img/carpogodnostiCropped3.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini text-box-mini-pogodnosti">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Članske pogodnosti</h3>
    <p>koje možete iskoristiti kao član udruženja</p>

</div>

<div class="section section-margin section-margin-member">
    <div class="container">
        <div class="about-content mw-100 about-content-member ">

            <div class="banner-content section-heading section-heading-member">
                <h3>Članske pogodnosti i popusti</h3>
                <br>
                <p>Kao član udruženja imate pravo na veliki broj pogodnosti koje možete iskoristiti.</p>
            </div>
            <div class="pogodnost-section"> 
                <div class="pogodnost-img mb-3">
                    <a href="https://www.ruzorumena.rs/index.html" target="_blank"><img src="/img/logoRuzadark.png" alt="" style="height: 50px;"></a>
                </div>
                <p>• <a href="https://www.ruzorumena.rs/index.html" target="_blank" class="website-link">Restoran "RUŽO RUMENA"</a>:
                    <br> <b> 10% popusta na sve ugostiteljske usluge za članove E-Mobilnosti i besplatno punjenje na njihovim punjačima na adresi Lole Ribara 164, Železnik, Beograd. </b><br> <p> (Telefon: <a href="tel:063 249 082">063 249 082</a>)</p>
                </p>
            </div>
            <div class="pogodnost-section"> 
                <div class="pogodnost-img ">
                    <a href="https://www.facebook.com/burgerplus/" target="_blank"><img src="/img/adepto-logo.png" alt="" style="height: 80px;"></a>
                </div>
                <p>• <a href="https://www.facebook.com/burgerplus/" target="_blank" class="website-link">Firma ADEPTO TRADE d.o.o</a> - Proizvođač brze hrane brend BURGER PLUS daje:

                    <br> <b> 10% popusta na sve svoje proizvode i usluge za članove E-Mobilnosti. Isporuka sa lokacije Tržni centar BIG Rakovica.</b><br> <p>(Telefon: <a href="tel:066 889 70 78"> 066 889 70 78 </a>) </p>
                </p>
            </div>
            <div class="pogodnost-section mt-5"> 
                <div class="pogodnost-img mb-3">
                    <a href="https://www.mastersolar.rs/" target="_blank"><img src="/img/mastersolar-logo.avif" alt=""></a>
                </div>
                <p>• <a href="https://www.mastersolar.rs/" target="_blank" class="website-link">Firma Master solar d.o.o.</a> - Bave se prodajom i ugradnjom 
                    punjača za električna vozila marke ROLEC. U ponudi imaju širok izbor punjača po povoljnoj ceni, od kućnih punjača snage 3,6 KW 
                    do ultra brzih platformi za punjenje snage 200 KW. <br>
                    Takođe nude i dodatnu opremu, kablove i adaptere za punjače sa svim priključnim standardima.  <br>
                    Pored punjača bave se proizvodnjom i ugradnjom solarnih sistema za zagrevanje vode i izgradnjom fotonaponskih sistema i solarnih elektrana. <br> </p>
                <p>Više informacija na <a href="https://www.mastersolar.rs/" target="_blank">www.mastersolar.rs</a></p>
                <b>POSEBAN POPUST od 5 % Master solar odobrava  ZA ČLANOVE UDRUŽENJA E-MOBILNOST  pri kupovini i ugradnji punjača do 22KW.</b><br><br>
                <p>(Telefon: <a href="tel:011 4000 785">011 4000 785</a> ili <a href="tel:011 6280 220">011 6280 220</a>)</p>

            </div>
            <div class="pogodnost-section mt-5"> 
                <div class="pogodnost-img mb-3">
                    <a href="https://ekomotors.rs/" target="_blank"><img src="/img/ekomotorslogo.png" alt=""></a>
                </div>
                <p>• <a href="https://ekomotors.rs/" target="_blank" class="website-link">Firma Ekomotors d.o.o.</a> - Bavi se uvozom, prodajom i iznajmljivanjem električnih motora, trotineta i bicikala. <br>
                    </p>
                <p>Više informacija na <a href="https://ekomotors.rs/" target="_blank">www.ekomotors.rs</a></p>
                <b>POSEBAN POPUST od 10 % Ekomotors odobrava ZA ČLANOVE UDRUŽENJA E-MOBILNOST koji su zainteresovani za kupovinu proizvoda i usluga koje Ekomotors nudi.</b><br><br>
                <p>(Telefon: <a href="tel:063 508 224">063 508 224</a> ili <a href="tel:062 822 31 98">062 822 31 98</a>)</p>
                <p>(Email: <a href="mailto:office@ekomotors.rs">office@ekomotors.rs</a>)</p>

            </div>
        </div>

    </div>
</div>


<!--<div class="section section-margin">
    <div class="container">
        <div class="row m-b-n30 ">
            <div class="col-lg-6 order-first  m-b-30">
                <div class="about-image service-layer-image ">

                    <img class="about-image-1 img-fluid" src="/img/pogodnosti1.jpg" alt="Blue car image">
                    <img class="about-image-2 img-fluid" src="/img/pogodnosti2.jpg" alt="Electric car charging">
                </div>
            </div>
            <div class="col-lg-6 m-b-30 order-lg-last">
                <div class="about-content mw-100">
                    <div class="banner-content section-heading">
                        <h5>POGODNOSTI
                        </h5>
                        <h2 class="banner-title" >ZAŠTO JE DOBRO UČLANITI SE U UDRUŽENJE VOZAČA<br>
                            E-MOBILNOST</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>
                               <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2> 
                    <p>Članstvom u udruženju vozača električnih i plug in hibridnih vozila ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.</p>      

                    <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. Pored informacija o 
                        vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
                    </p>
                    <p>Popusti na vozila, opremu i usluge 
                        sastavni su deo benefita koje E-Mobilnost obezbeđuje za svoje članove. Te ponude menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                        segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji.</p>
                    <p> Pratite nas i dalje na www.emobilnost.rs</p>
                </div>
            </div>

        </div>
    </div>
</div>-->


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>