<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Pogodnosti</title>

        <meta name="description" content="E-Mobilnost Pogodnosti"/> 

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/carpogodnostismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carpogodnosti.jpg">
    <img src="/img/carpogodnosti.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Pogodnosti</p>
</div>

<div class="section section-margin">
    <div class="container">
        <div class="row m-b-n30 ">
            <div class="col-lg-6 order-first  m-b-30">
                <div class="about-image service-layer-image ">

                    <img class="about-image-1 img-fluid" src="/img/caronama1.jpg" alt="Blue car image">
                    <img class="about-image-2 img-fluid" src="/img/caronama2.jpg" alt="Electric car charging">
                </div>
            </div>
            <div class="col-lg-6 m-b-30 order-lg-last">
                <div class="about-content mw-100">
                    <div class="banner-content section-heading">
                        <h5>POGODNOSTI
                        </h5>
                        <h3 class="banner-title" >ZAŠTO JE DOBRO UČLANITI SE U UDRUŽENJE VOZAČA ELEKTRIČNIH I PLUG IN HIBRIDNIH VOZILA <br>
                            E-MOBILNOST</h3>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>
                    <!--           <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2> -->
                    <p>Članstvom u udruženju ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.s</p>      

                    <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. Pored informacija o 
                        vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
                    </p>
                    <p>Popusti na vozila, opremu i usluge 
                        sastavni su deo benefita koje E-mobilnost obezvbeđuje za svoje članove. Te ponude menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                        segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji.</p>
                    <p> Pratite nas i dalje na www.emobilnost.rs</p>
                </div>
            </div>

        </div>
    </div>
</div>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>