<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.sprinfgramework.org/schema/security" xmlns:sec2="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Politika privatnosti | E-Mobilnost</title>


        <meta name="description" content="Politika privatnosti na našem sajtu objašnjava koje informacije prikupljamo, zašto i za šta ih koristimo i kako da kontrolišete zaštitu svojih podataka..."/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, politika privatnosti, privacy policy, zaštita privatnosti"/>

    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/document.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/usloviKoriscenja.css}" rel="stylesheet" type="text/css" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/sew1.jpg" class="header-img" alt="uslovi-koriscenja-header-image">--><picture>
    <source media="(max-width: 776px)" srcset="/img/carpolitikaprivatnostismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carpolitikaprivatnostiCropped.jpg">
    <img src="/img/carpolitikaprivatnostiCropped.jpg" class="header-img" alt="home-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />
<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Politika privatnosti</h3>
</div>

<section class="document-section" >

    <div class="container">
        <div class="content">
            <div class="page-content">
                <h2 class="mb-4">Politika privatnosti</h2>
                <div class="page-text">
                    <p>Politika privatnosti ima za cilj da Vas informiše koje podatke prikupljamo o Vama, kako koristimo te podatke kao i da Vam pruži ostale bitne 
                        informacije za ostvarivanje Vaših prava u vezi sa zaštitom podataka o ličnosti. Naša politika privatnosti obezbeđuje zakonito i transparentno 
                        prikupljanje podataka, ograničenost čuvanja i bezbednost podataka u skladu sa Zakonom o zaštiti podataka o ličnosti (ZZPL) i Opštom uredbom o 
                        zaštiti podataka Evropske unije (GDPR).</p>


                    <h4><b> O POLITICI PRIVATNOSTI</b></h4>

                    <p>Politika privatnosti ima za cilj da Vas informiše koje lične podatke prikupljamo, kako koristimo te podatke kao i da Vam pruži ostale bitne 
                        informacije za ostvarenje Vaših prava u vezi sa zaštitom podataka o ličnosti. Naša Politika privatnosti definiše odnos prema podacima o ličnosti 
                        koje posedujemo u cilju poštovanja prava na privatnost koje je zagarantovano međunarodnim i domaćim propisima.</p>
                    <p>U cilju poštovanja načela obrade podataka definisanih u Zakonu o zaštiti podataka o ličnosti (ZZPL), naša Politika privatnosti obezbeđuje zakonito i 
                        transparentno prikupljanje podataka, precizno određenu svrhu obrade uz korišćenje najmanjeg mogućeg obima podataka za ispunjenje iste, tačnost podataka, 
                        ograničenost čuvanja i bezbednost podataka.</p>

                    <p>Ovom Politikom privatnosti Vas obaveštavamo o svrsi obrade, načinu obrade, vrstama podataka o ličnosti koje obrađujemo, pravnom osnovu obrade, primaocima 
                        kojima se podaci o ličnosti otkrivaju, roku čuvanja podataka, Vašim pravima, postojanju automatizovanog donošenja odluka, prenosu Vaših podataka u druge 
                        države i bezbednosnim merama koje primenjujemo.</p>

                    <h4><b>PODACI O RUKOVAOCU VAŠIH LIČNIH PODATAKA</b></h4>
                    <p>Odgovoran za prikupljanje i obradu podataka o ličnosti je</p>
                    <p style="font-weight: 600">Udruženje vozača električnih vozila </p>
                    <p>Adresa: Časlava Veljića 53v, Beograd</p>
                    <p>Email: nebojsa@emobilnost.rs</p>
                    <p>Kontakt: Nebojša Margetić</p>

                    <h4><b>KAKO PRIKUPLJAMO I OBRAĐUJEMO VAŠE LIČNE PODATKE? </b></h4>

                    <h6 style="font-weight: 600">Učešće u akcijama i aktivnostima</h6>


                    <p>U svrhu učešća u akcijama ili aktivnostima koje organizujemo (nagradne igre, dečje edukativne radionice i sportske aktivnosti, takmičenja i dr.), 
                        Vaše lične podatke odnosno lične podatke Vašeg deteta (ime i prezime, e-mejl) obrađujemo na osnovu Vašeg pristanka. U zavisnosti od vrste akcije 
                        ili aktivnosti, uz Vaš pristanak, obrađujemo i druge lične podatke (uzrast, pol, fotografija, broj računa u banci). Vaše lične podatke odnosno 
                        lične podatke Vašeg deteta čuvamo do ispunjenja svrhe, opoziva pristanka na obradu ili završetka akcije, nakon čega ih brišemo. Ukoliko je akcija 
                        ili aktivnost nagradnog karaktera, podatke o dobitniku novčanih nagrada čuvamo u skladu sa zakonima Republike Srbije.</p>

                    <h6 style="font-weight: 600">Slanje NEWSLETTER-a</h6>

                    <p>Na osnovu Vašeg pristanka odnosno prijavljivanja na ovu uslugu davanjem e-mejl adrese, dobijate mogućnost da Vas obaveštavamo o aktivnostima u 
                        okviru tržnog centra, novootvorenim radnjama i lokalima, novim proizvodima i kolekcijama, kao i pogodnostima prilikom kupovine. U svakom trenutku 
                        se možete odjaviti od ove usluge odnosno povući pristanak putem e-mejla koji smo Vam poslali.</p>

                    <h6 style="font-weight: 600">Pružanje informacija putem „kontakt“ internet stranice</h6>

                    <p>U cilju pružanja informacija na Vaš zahtev, a koje su od značaja za rad tržnog centra, Vašu e-mejl adresu i eventualno druge lične podatke koje ste 
                        nam ostavili prikupljamo na osnovu našeg legitimnog interesa da Vam pružimo ili unapredimo usluge. Vaše lične podatke čuvamo 1 godinu. </p>



                    <h4><b>KOME OTKRIVAMO VAŠE LIČNE PODATKE?</b></h4>
                    <p style="font-weight: 600">U cilju pružanja naših usluga i ispunjavanja obaveza, Vaše lične podatke radi dalje obrade možemo otkriti:</p>
                    <p>• Udruženju vozača električnih vozila</p>
                    <p>• partnerima sa kojima sprovodimo akcije i aktivnosti;</p>
                    <p>• pravnom licu angažovanom za elektronsku komunikaciju i e-marketing;</p>

                    <h4><b>NAČIN ČUVANJA I BEZBEDNOST VAŠIH LIČNIH PODATAKA</b></h4>

                    <p>Bezbednost Vaših ličnih podataka je za nas veoma važna. Zbog toga biramo obrađivače koji primenjuju adekvatne tehničke, organizacione i 
                        kadrovske mere kako bismo otklonili rizike od slučajnog ili nezakonitog uništenja, gubitka, izmene, neovlašćenog otkrivanja podataka o 
                        ličnosti ili neovlašćenog pristupa podacima o ličnosti.</p>

                    <p>Naši obrađivači održavaju optimalan nivo bezbednosti i poverljivosti ličnih podataka najsavremenijom arhitekturom servisa, uzimajući u obzir raspoloživost, 
                        integritet i sigurnost ličnih podataka. To se postiže korišćenjem različitih tehnologija, kao što su upotreba lozinke, šifrovanje, ograničavanje i 
                        evidentiranje pristupa ličnim podacima, upotrebom zaštitnog zida (firewall), zaštitom od prestanka servisa (DDoS), kreiranjem rezervne kopije podataka, 
                        zaštitom od virusa i spam-a, upotrebom HTTPS protokola, redundantnim sistemom za čuvanje podataka, kontinualanim nadzorom sistema i servisa, kao i 
                        ostalim tehnologijama korišćenim za omogućavanje bezbednog korišćenja servisa.</p>
                    <p>Ipak, prenos podataka preko interneta nikada ne može biti potpuno siguran i pored svih preduzetih mera bezbednosti. Iako sledimo opšteprihvaćene sigurnosne 
                        standarde da bismo zaštitili lične podatke koje su nam dostavljene, nije moguće garantovati sigurnost ili integritet informacija na internetu. Zbog toga 
                        Vam preporučujemo da preduzmete mere zaštite kako biste zaštitili svoje podatke, uključujući zaštitu lozinki, korišćenje bezbednih mreža za pristup 
                        internetu i odjavu iz mrežnih usluga kada ste izvan svog uređaja. S tim u vezi, rizik zloupotrebe podataka snosi i davalac podataka.</p>
                    <p>Vaše lične podatke čuvamo u Republici Srbiji.</p>

                    <h4><b>VAŠA PRAVA</b></h4>
                    <p>U cilju zaštite Vašeg prava na privatnost obaveštavamo Vas da imate pravo da nam se obratite putem e-mejla i da od nas tražite uvid u Vaše lične podatke, 
                        ažuriranje ili brisanje Vaših ličnih podataka. Takođe, imate pravo da tražite da se ograniči obrada Vaših ličnih podataka, pravo da povučete pristanak na 
                        obradu (u kom slučaju ćemo prestati sa obradom ako je pristanak jedini osnov obrade), pravo da nam uložite prigovor na obradu kao i da podnesete pritužbu 
                        Povereniku za informacije od javnog značaja i zaštitu podataka o ličnosti.</p>

                    <p>Udruženje vozača električnih vozila bi cenilo napor da nam se obratite pre podnošenja pritužbe Povereniku, kako bismo probali da otklonimo problem.</p>

                    <h4><b>VEZA SA DRUGIM INTERNET STRANAMA</b></h4>
                    <p>Naša internet stranica sadrži vezu ka drugim internet stranicama. Te internet stranice mi ne kontrolišemo i ovo obaveštenje o 
                        privatnosti se ne odnosi na te stranice. Mi nismo odgovorni za obradu podataka o ličnosti koju vrše druge internet stranice.</p>

                    <h4><b>POLITIKA KOLAČIĆA</b></h4>
                    <p>O kolačićima koje koristi naša internet stranica možete videti na sledećem linku <a class="lawLink" th:href="@{/politika-kolacica}"> POLITIKA KOLAČIĆA</a></p>
                </div>
            </div>
        </div>
    </div>
</section>



<!--color: #00a5b5; hover a email link-->







<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />
<script th:src="@{/js/floatingPlaceholder.js}" type="text/javascript"></script>


</body>

</html>