<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Izmena ličnih podataka na profilu korisnika | E-Mobilnost</title>

        <meta name="description" content="Možete da izmenite Vaše lične podatke na profilu | E-Mobilnost"/> 
         <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, izmena profila, izmena ličnih podataka, lični podaci, profil, profil korisnika,
              lični podaci korisnika"/>
        <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css" />

        <!--<link th:href="@{/css/admin-panel.css}" rel="stylesheet" type="text/css" />-->


    <th:block th:insert="fragments/head :: head" />

</head>

<body>
                  <th:block th:insert="fragments/topbar :: topbar" />

    <!--<img src="/img/sew1.png" class="header-img" alt="profil-header-image" >-->
<picture>
    <source media="(max-width: 776px)" srcset="/img/carProfilsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/carProfilCropped.jpg">
    <img src="/img/carProfilCropped.jpg" class="header-img" alt="home-header-image">
</picture>


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>                                              
    <h3>Profil</h3>
</div>
<th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
<th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>

<div class="profile-wraper">
    <div class="container">
        <div class="d-flex">
            <!--                <th:block th:insert="fragments/navigation :: admin-navbar" />-->
            <th:block th:insert="fragments/navigation :: profile-navbar" />


            <div class="users-content">
                <div class="users-panel">

                    <h3 class="">IZMENA LIČNIH PODATAKA</h3>

                    <form th:action="@{/profil-edit/save}"  method="post" class="" autocomplete="off">

                        <div class="form-group ">
                            <div class="input-wraper">
                                <label for="ime">Ime:</label>
                                <input type="text" class=" form-control input-custom-border"  name="ime"  th:value="${userLogedIn.ime}" id="licni-podaci1">
                            </div>

                            <div class="input-wraper ">
                                <label for="prezime">Prezime:</label>
                                <input type="text" class=" form-control input-custom-border"  name="prezime" th:value="${userLogedIn.prezime}" id="licni-podaci2">
                            </div>

                            <div class="input-wraper">
                                <label for="email">Email:</label>
                                <input type="text" class=" form-control input-custom-border"  name="email" th:value="${userLogedIn.email}"  id="licni-podaci3">
                            </div>  
                            <div class=" input-wraper">

                                <div class=" input-wraper">
                                    <label for="adresa">Adresa:</label>
                                    <input type="text" class=" form-control input-custom-border"  name="adresa" th:value="${userLogedIn.adresa}">
                                </div>

                                <div class=" input-wraper">
                                    <label for="postanskibroj">Poštanski broj: </label>
                                    <input type="number" step="0.01"  class=" form-control input-custom-border"  name="postanskibroj" th:value="${userLogedIn.postanski_broj}">
                                </div>
                                
                                <div class=" input-wraper">
                                    <label for="mesto">Grad: </label>
                                    <input type="text" class=" form-control input-custom-border"  name="mesto" th:value="${userLogedIn.mesto}">
                                </div>  

                                
                                <div class=" input-wraper">
                                    <label for="drzava">Država: </label>
                                    <input type="text" class=" form-control input-custom-border"  name="drzava" th:value="${clan.drzava}">
                                </div>

                                <div class=" input-wraper">
                                    <label for="telefon">Telefon:</label>
                                    <input type="number" class=" form-control input-custom-border"  name="telefon" th:value="${userLogedIn.broj_telefona}">

                                </div> 
                                <div class=" input-wraper">
                                    <label for="jmbg">JMBG:</label>
                                    <input type="number" class=" form-control input-custom-border"  name="jmbg" th:value="${clan.jmbg}">

                                </div> 

                                <div class=" input-wraper">
                                    <label for="naziv_pravne_osobe">Naziv firme:</label>
                                    <input type="text" class=" form-control input-custom-border"  name="naziv_pravne_osobe" th:value="${clan.naziv_pravne_osobe}">

                                </div> 

                                <div class=" input-wraper">
                                    <label for="pib">PIB:</label>
                                    <input type="number" class=" form-control input-custom-border"  name="pib" th:value="${clan.pib}">
                                </div> 

                            </div>

                            <div class="buttonsSaveAndBack" >
                                <button type="submit" class="colorButton ">Sačuvaj</button>
                            </div>   
                        </div>
                    </form>



                </div>
            </div>
        </div>
    </div>
</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />


</body>

</html>