<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Profil korisnika</title>

        <meta name="description" content="E-Mobilnost profil korisnika. Ovde možete da izmenite lične podatke, podatke o dostavi, lozinku i ostalo . User profile page."/> 
        <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css" />
        <!--<link th:href="@{/css/profil.css}" rel="stylesheet" type="text/css" />-->

        <!--<link th:href="@{/css/admin-panel.css}" rel="stylesheet" type="text/css" />-->

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/sew1.png" class="header-img" alt="profil-header-image" >-->
<picture>
    <source media="(max-width: 776px)" srcset="/img/carProfilsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/carProfil.jpg">
    <img src="/img/carProfil.jpg" class="header-img" alt="home-header-image">
</picture>


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>                                              
    <p>Profil</p>
</div>
<th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
<th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>

<div class="profile-wraper">
    <div class="container">
        <div class="d-flex">
            <!--                <th:block th:insert="fragments/navigation :: admin-navbar" />-->
<!--            <div class="user-left-sidebar">
                <div class="user-sidebar-overlay"></div>

                <ul class="user-nav">
                    <li class="active"><a th:href="@{/profil}">Lični podaci</a></li>
                    <li><a th:href="@{/profil-edit}">Izmena ličnih podataka</a></li>
                    <li><a th:href="@{/change-password}">Promena lozinke</a></li>
                    <li><a th:href="@{/logout}">Odjavi se</a></li>
                </ul>


            </div>-->
                <th:block th:insert="fragments/navigation :: profile-navbar" />

            <div class="users-content">
                <div class="users-panel">

                    <h3 class="">LIČNI PODACI</h3>

                    <div class="personal-data">
                        <p>Ime: <span th:text="${userLogedIn.ime}" name="ime"></span></p>
                        <p>Prezime: <span th:text="${userLogedIn.prezime}" name="prezime"></span></p>
                        <p>Email: <span th:text="${userLogedIn.email}" name="email"></span></p>
                        <p>Adresa: <span th:text="${userLogedIn.adresa}" name="adresa"></span></p>
                        <p>Grad: <span th:text="${userLogedIn.mesto}" name="mesto"></span></p>
                        <p>Poštanski broj: <span th:text="${userLogedIn.postanski_broj}" name="postanski_broj"></span></p>
                        <p>Država: <span th:text="${clan.drzava}" name="drzava"></span></p>
                        <p>Telefon: <span th:text="${clan.broj_telefona}" name="broj_telefona"></span></p>
                        <p>JMBG: <span th:text="${clan.jmbg}" name="jmbg"></span></p>
                        <p>Član od: <span th:text="${#dates.format(clan.datum_pocetka_clanstva, 'dd.MM.yyyy.')}" name="datum_pocetka_clanstva"></span></p>
                        <p>Članarina ističe: <span th:text="${#dates.format(clan.datum_isteka_clanstva, 'dd.MM.yyyy.')}" name="datum_isteka_clanstva"></span></p>
                        <th:block th:if="${clan.is_pravno_lice != null}">

                            <p>Naziv firme: <span th:text="${clan.naziv_pravne_osobe}" name="naziv_pravne_osobe"></span></p>
                            <p>PIB: <span th:text="${clan.pib}" name="pib"></span></p>

                        </th:block>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>



<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>