<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Promena lozinke | E-Mobilnost</title>

        <meta name="description" content="Promenite lozinku za svoj nalog | E-Mobilnost"/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, promena lozinke, promena šifre, zaboravljena lozinka, profil, profil korisnika"/>

        <link th:href="@{/css/profile.css}" rel="stylesheet" type="text/css" />
        <!--<link th:href="@{/css/registracija.css}" rel="stylesheet" type="text/css" />-->

        <!--<link th:href="@{/css/admin-panel.css}" rel="stylesheet" type="text/css" />-->


    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/sew1.png" class="header-img" alt="profil-header-image" >-->
<picture>
    <source media="(max-width: 776px)" srcset="/img/carProfilsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/carProfilCropped.jpg">
    <img src="/img/carProfilCropped.jpg" class="header-img" alt="home-header-image">
</picture>


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>                                              
    <h3>Profil</h3>
</div>
<th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
<th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>

<div class="m-x-auto m-t-4"  th:if="${param.newsletterOdjava}">
    <div class="alert alert-custom alert-dismissible fade show" role="alert">
        <button type="button" class="close zatvori-alert" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true" class="xTimes">&times;</span>
        </button>
        <h4 class="alert-heading">Uspešno ste se odjavili sa newsletter-a!</h4>
    </div>
</div>

<div class="profile-wraper">
    <div class="container">
        <div class="d-flex">
            <!--                <th:block th:insert="fragments/navigation :: admin-navbar" />-->
            <th:block th:insert="fragments/navigation :: profile-navbar" />


            <div class="users-content">
                <div class="users-panel">

                    <h3 class="">PROMENA LOZINKE</h3>

                    <form th:action="@{/promena-lozinke/save}"  method="post" class="" autocomplete="off">

                        <div class="form-group ">

                            <div class=" input-wraper">
                                <label for="oldPassword">Stara lozinka:</label>
                                <input type="password" class=" form-control input-custom-border" name="oldPassword" autocomplete="off" id="oldPassword" />
                                <i id="openEyed" class="fa fa-eye"></i>
                                <i id="closedEyed" class="fa fa-eye-slash"></i>
                            </div> 

                            <div class=" input-wraper">
                                <label for="newPassword">Nova lozinka:</label>
                                <input type="password" class=" form-control input-custom-border inputPlaceholderSize" name="newPassword" placeholder="min 8 karaktera"  id="newPassword" />
                                <i id="openEye" class="fa fa-eye"></i>
                                <i id="closedEye" class="fa fa-eye-slash"></i>
                            </div> 

                            <div class=" input-wraper">
                                <label for="lozinkaRepeat">Ponovljena lozinka:</label>
                                <input type="password" class=" form-control input-custom-border inputPlaceholderSize" name="lozinkaRepeat" placeholder="min 8 karaktera"  id="repeatNewPassword" />
                                <i id="eyeOpen" class="fa fa-eye"></i>
                                <i id="eyeClose" class="fa fa-eye-slash"></i>
                            </div> 
                        </div>

                        <div class="buttonsSaveAndBack" >
                            <button type="submit" class="colorButton ">Sačuvaj</button>
                        </div>   

                    </form>


                </div>
            </div>
        </div>
    </div>
</div>


<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />
<script th:src="@{/js/registrationForm.js}" type="text/javascript"></script>

</body>

</html>