<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title> E-Mobilnost | Reset lozinke</title>

    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/registracija.css}" rel="stylesheet" type="text/css" />


    <meta name="description" content="E-Mobilnost reset lozinke. Promenite zaboravljenu šifru. Reset forgotten password."/> 
</head>

<body>
    <!--<img src="/img/image-registration.jpg" class="header-img" alt="reset-password-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/passwordimgsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/passwordimg.jpg">
    <img src="/img/passwordimg.jpg" class="header-img " alt="black car hero image log in">
</picture>


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Resetovanje lozinke</p>
</div>

<th:block th:insert="fragments/alert :: error (${errorMessage})"></th:block>
<th:block th:insert="fragments/alert :: success (${successMessage})"></th:block>

<section id="regi-login-form">
    <div class="container container-registration">

        <div class="user ">
            <div class="formBx">
                <form th:action="@{/resetPassword/{email} (email=${email})}" method="POST" >
                    <h2>Resetovanje lozinke</h2>

                    <label for="newPassword">Nova lozinka</label>
                    <input type="password" name="newPassword" placeholder="Nova lozinka (min 8 karaktera)" minlength="8"  required  id="passwordReset"/>
                    <i id="openOko" class="fa fa-eye"></i>
                    <i id="closeOko" class="fa fa-eye-slash"></i>

                    <label for="lozinkaRepeat">Potvrda nove lozinke</label>
                    <input type="password" name="lozinkaRepeat" placeholder="Potvrda nove lozinke" minlength="8"  required id="passwordResetRepeat"/>
                    <i id="openedOko" class="fa fa-eye openPasswordLogin"></i>
                    <i id="closedOko" class="fa fa-eye-slash closedPasswordLogin"></i>
                    
                    <p id="label-3" style="display: none">* Lozinke se ne poklapaju</p>


                    <button class="submitForm" name="submit" type="submit">Pošalji</button>
                    <!--<input type="submit" name="submit" id="submit" value="Pošalji zahtev" />-->

                </form>
            </div>
        </div>

    </div>
</section>
<!--end of registration/login-->




<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>

<th:block th:insert="fragments/scripts :: scripts" />
<script th:src="@{/js/resetPassword.js}" type="text/javascript"></script>
<script th:src="@{/js/registrationForm.js}" type="text/javascript"></script>

</body>

</html>