<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Saveti o kupovini električnih vozila | E-Mobilnost</title>

        <meta name="description" content="Saveti o kupovini električnih vozila | Vodič | E-Mobilnost"/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, saveti, saveti za kupovinu, saveti za kupovinu vozila,
              saveti za kupovinu električnih vozila, saveti za kupovinu hibridnih vozila, saveti za kupovinu električnih i hibridnih vozila, saveti za kupovinu novih vozila, 
              saveti za kupovinu polovnih vozila"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/carsavetismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carsavetiCropped.jpg">
    <img src="/img/carsavetiCropped.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box  text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Saveti</h3>
</div>

<div class="section section-margin section-margin-member">
    <div class="container">
        <div class="about-content mw-100 about-content-member ">
            <div class="banner-content section-heading section-heading-member">
                <h3>Zašto je dobro učlaniti se u u druženje vozača E-Mobilnost</h3>
            </div>
            <p>Članstvom u udruženju vozača električnih i plug in hibridnih vozila ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.</p>      

            <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. Pored informacija o 
                vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
            </p>
            <p>Popusti na vozila, opremu i usluge 
                sastavni su deo benefita koje E-Mobilnost obezbeđuje za svoje članove. Te ponude menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji.</p>
            <p> Pratite nas i dalje!</p>
            
        </div>

    </div>
</div>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>