<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Saveti o kupovini električnih vozila | E-Mobilnost</title>

        <meta name="description" content="Saveti o kupovini električnih vozila | Vodič | E-Mobilnost"/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, saveti, saveti za kupovinu, saveti za kupovinu vozila,
              saveti za kupovinu električnih vozila, saveti za kupovinu hibridnih vozila, saveti za kupovinu električnih i hibridnih vozila, saveti za kupovinu novih vozila, 
              saveti za kupovinu polovnih vozila"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/carsavetismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carsavetiCropped.jpg">
    <img src="/img/carsavetiCropped.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box  text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Saveti</h3>
</div>

<div class="section section-margin section-margin-member">
    <div class="container">
        <div class="about-content mw-100 about-content-member ">
            <div class="banner-content section-heading section-heading-member">
                <h3>Zašto je dobro učlaniti se u u druženje vozača E-Mobilnost</h3>
            </div>
            <p>Članstvom u udruženju vozača električnih i plug in hibridnih vozila ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.</p>      

            <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. Pored informacija o 
                vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
            </p>
            <p>Popusti na vozila, opremu i usluge 
                sastavni su deo benefita koje E-Mobilnost obezbeđuje za svoje članove. Te ponude menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji.</p>
            <p> Pratite nas i dalje!</p>
            
        </div>
<div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">


                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold">Bonton za vozače električnih vozila</h2>

                        <br>

                        <p>Na naše veliko zadovoljstvo broj električnih vozila na srpskim ulicama svakog je dana sve veći. 
                            To istovremeno znači da je broj punjača mali. Jedan od glavnih ciljeva udruženja E-Mobilnost je svakako da se poveća broj mesta za 
                            punjenje u skladu sa rastom broja električnih vozila. To je dugotrajan proces te je potrebno usvojiti neka pravila ponašanja u tom prelaznom periodu.</p>
                        <p>Završetkom punjenja na javno dostupnim mestima za punjenje, potrebno je da svoje električno vozilo odvezete ili premestite na obično mesto za 
                            parkiranje što pre. Ukoliko ste sprečeni da ga premestite, izuzetno je bitno da ostavite mogućnost ostalim vozačima da Vas kontaktiraju. Zbog 
                            toga Vas molimo da ispod vetrobranskog stakla ostavite karticu svojim brojem moblinog telefona ili da se prijavite (Check In) u aplikaciji PlugShare, 
                            kako bi drugi korisnici punjača mogli da Vas kontaktiraju. </p>
                        <div class="post-image ms-0">
                            <img src="/img/charge.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Green white car charger image">
                        </div>
                        <p>Veliki broj električnih vozila putem vlastitih aplikacija imaju opciju otključavanja kabla za punjenje čim se završi punjenje. Tako se drugim 
                            vozačima pruža mogućnost da se spoje na punjač, u slučaju da ste sprečeni da uklonite svoje električno vozilo s punjača. To naravno ne znači 
                            da smete da ostavite svoje vozilo na punjaču jer se na punjaču mogu puniti i dva vozila pa su tako potrebna oba parkirna mesta.</p>
                        <p>Ako zateknete električno vozilo na punjaču koje stoji napunjeno, a ispod vetrobranskog stakla nema broja telefona, pogledajte u aplikaciju PlugShare 
                            da li je korisnik zabeležio svoje punjenje putem odabira CheckIn. Ukoliko jeste, možete ga kontaktirati kroz aplikaciju, takođe i putem WhatsApp 
                            aplikacije i obavestiti ga da je njegovo vozilo napunjeno, te da čekate na njegovo mesto.</p>
                        <p>Ako primetite da vlasnik vozila često ostavlja svoje vozilo na punjaču i nakon što je vozilo napunjeno i da se to ponavlja, ostavite mu poruku.</p>
                        <p>Ukoliko na mestu za punjenje zateknete parkirano vozilo koje nije električno ili plug-in hibridno, vozilo koje sprečava ostala električna vozila 
                            da se pune, obavestite o tome komunalnu policiju ili saobraćajce kao slučaj nepropisnog parkiranja. Tako možete uticati na svest ostalih vozača 
                            kako se takve situacije više ne bi ponavljale.</p>
                        <p>Fizički, verbalni sukobi ili stvaranje materijalne štete nikako nisu dozvoljeni i prouzrokovaće automatsko izbacivanje iz udruženja. Udruženje se 
                            ograđuje od takvih vozača i takvi slučajevi neće biti tolerisani.</p>

             

               

                   

                  

                    </div>
                </article>

            </div>
        </div>
    </div>
    </div>
</div>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>