<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Saveti o kupovini električnih vozila | E-Mobilnost</title>

        <meta name="description" content="Saveti o kupovini električnih vozila | Vodič | E-Mobilnost"/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, saveti, saveti za kupovinu, saveti za kupovinu vozila,
              saveti za kupovinu električnih vozila, saveti za kupovinu hibridnih vozila, saveti za kupovinu električnih i hibridnih vozila, saveti za kupovinu novih vozila, 
              saveti za kupovinu polovnih vozila"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/carsavetismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carsavetiCropped.jpg">
    <img src="/img/carsavetiCropped.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box  text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Saveti</h3>
</div>

<section class="blog-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/zasto-je-dobro-uclaniti-se-u-udruzenje-vozaca-emobilnost}">
                            <img src="/img/whitecar.jpg" alt="Električni automobil bele boje">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <!--<p class="dateNews">15.11.2021.</p>-->
                        <h3><a th:href="@{/zasto-je-dobro-uclaniti-se-u-udruzenje-vozaca-emobilnost}">Zašto je dobro učlaniti se u u druženje vozača E-Mobilnost</a></h3>
                        <p>Članstvom u udruženju vozača električnih i plug in hibridnih vozila ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{/zasto-je-dobro-uclaniti-se-u-udruzenje-vozaca-emobilnost}" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/elektricni-automobili-istine-i-zablude}">
                            <img src="/img/treufalse.jpg" alt="Istine i zablude o električnim vozilima">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <!--<p class="dateNews">25.11.2021.</p>-->
                        <h3><a th:href="@{/elektricni-automobili-istine-i-zablude}">Električni automobili – ISTINE I ZABLUDE</a></h3>
                        <p>Najčešće zamerke i primedbe protiv električnih automobila su: skupi su, imaju mali domet sa jednim punjenjem baterije, gde ih puniti,
                            šta s baterijom kad se istroši i koliko košta zamena. Hajde da vidimo: šta je od ovoga ISTINA a šta je ZABLUDA...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{elektricni-automobili-istine-i-zablude}" class="blogBtn">Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/bonton-za-vozace-elektricnih-vozila}">
                            <img src="/img/charge.jpg" alt="Bonton za vozače električnih vozila">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <!--<p  class="dateNews">29.10.2021.</p>-->
                        <h3><a th:href="@{/bonton-za-vozace-elektricnih-vozila}">Bonton za vozače električnih vozila</a></h3>
                        <p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći. To istovremeno znači da je broj punjača mali. Jedan od 
                            glavnih ciljeva udruženja E-Mobilnost je svakako da se poveća broj mesta za punjenje...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{/bonton-za-vozace-elektricnih-vozila}" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
             

        </div>

     
    </div>
</section>

<!--<div class="section section-margin section-margin-member">
    <div class="container">
        <div class="about-content mw-100 about-content-member mb-5" style="border-bottom: 1px solid #e5e5e5;">
            <div class="banner-content section-heading section-heading-member">
                <h3>Zašto je dobro učlaniti se u u druženje vozača E-Mobilnost</h3>
            </div>
            <p>Članstvom u udruženju vozača električnih i plug in hibridnih vozila ostvarujete pravo na brojne pogodnosti koje Vam inače nisu dostupne.</p>      

            <p>U prvom redu to je informisanost o ponudi sve brojnijih modela EV i hibridnih vozila kako na našem tržištu, tako i u svetu. Pored informacija o 
                vozilima bićete redovno obaveštavani o ponudi prateće opreme i usluga neophodnih vozačima i našim članovima. 
            </p>
            <p>Popusti na vozila, opremu i usluge 
                sastavni su deo benefita koje E-Mobilnost obezbeđuje za svoje članove. Te ponude menjaju se i obogaćuju svakodnevno čime doprinosimo razvoju čitavog 
                segmenta elektromobilnosti i naravno Vašoj ličnoj ekonomiji.</p>
            <p> Pratite nas i dalje!</p>

        </div>

        <div class="about-content mw-100 about-content-member mb-5" style="border-bottom: 1px solid #e5e5e5;">
            <div class="banner-content section-heading section-heading-member">
                <h3>Električni automobili – ISTINE I ZABLUDE</h3>
            </div>
            <p>Najčešće zamerke i primedbe protiv električnih automobila su:</p>      

            <p>• Skupi su</p>
            <p>• Imaju mali domet sa jednim punjenjem baterije</p>
            <p>• Gde ih puniti</p>
            <p>• Šta s baterijom kad se istroši i koliko košta zamena</p>



            <p style="font-weight: 600;">Hajde da vidimo: šta je od ovoga ISTINA a šta je ZABLUDA?</p>
            <ol style="padding: 0 0 0 3rem;">
                <b><li class="mb-2">SKUPI SU – nedostižni prosečnom kupcu?</li></b>
                <p>Tačno je da je još uvek cena električnog automobila od 10-20% veća od cene sličnog sa benzinskim ili diesel agregatom. <br>
                    Izračunajmo šta to znači na primeru novog dizel automobila od npr. 25.000 EUR.<br>Njegov par u električnoj verziji koštaće 30.000 eur. Znači električni automobil 
                    košta  samo 5000 eur više od dizela. Pošto možete ostvariti subvenciju od 5000 eur – oni u startu koštaju isto.<br>
                    Servisiranje dizel automobila vrši se u intervalu 10-15000 km. Na toj klasi vozila servis košta između 150 i 200 eur. Ako prelazite godišnje 30.000 km, 
                    to su 2 servisa ili 400 eur. Kod električnog automobila taj trošak će za istu kilometražu iznositi 50 eur.<br>
                    Registracija za dizel do 2000 ccm iznosiće oko 350 eur, a za električni 200 eur. Dizel će potrošiti za tih 30000 km minimum 2000 litara nafte,
                    što je oko 2880 eur/godišnje. Električni će potrošiti oko 6000 kw struje, koja, ako ga punite kući noću, košta max 100 eur.
                </p>
                <p>Hajde da sad sve to saberemo i oduzmemo:<p>
                <p>   Dizel - 3630 eur godišnje troška<br>
                    Električni - 350 eur godišnje</p>
                <p>Kada to pomnožimo sa 5 godina koliko je uobičajeno lizing za kupovinu novog vozila:</p>  
                <p>Trošak exploatacije Dizel: 18150 eur<br>
                    Trošak eksploatacije EV: 1750 eur
                </p>
                <p>Ako to saberemo sa početnom cenom koju smo ustanovili da je ista – 25000 eur dobijemo:</p>
                <p>Ukupan trošak za dizel vozilo na 5 godina iznosi 43150  eur.<br>
                    Ukupan trošak za električno vozilo na 5 god iznosi 26750  eur. 
                </p>
                <hr>
                <p style="font-weight: 600">Računica pokazuje da je dizel vozilo iste klase u 5 god eksploatacije skuplje od električnog za 16.400 eura  ili preko 61%.</p>
                <p>Ako vozite te automobile 10 godina, razlika se udvostručuje.</p>
                <p>ODGOVOR: <b>ZABLUDA JE DA SU ELEKTRIČNA VOZILA SKUPLJA</b></p>


                <b><li class="mb-2">Imaju mali domet sa 1 punjenjem?</li></b>
                <p>Dizel i benzinska vozila niže i srednje klase obično imaju rezervoar zapremine 40 litara. U mešovitoj i gradskoj vožnji to je obično od 450-550km 
                    autonomije.Viša klasa vozila ima rezervoar 60-80 litara i domet od 600-900 kilometara. Električna vozila, u zavisnosti od veličine baterije, 
                    danas imaju doseg od 250 - 600 km. Srednja klasa, o kojoj smo govorili u prethodnoj stavki, obično ima domet od 300-450 km.
                </p>
                <p style="font-weight: 600">ISTINA je da dizel i benzinska vozila imaju veći range od električnih.</p>
                <p>Pitanje glasi: Koliko puta godišnje "vozite u dahu", bez pauze više od 300-400-500 km? <br>
                    Verovatno ni jednom. <br>
                    Ako je odgovor na prethodno pitanje: ČESTO, onda električna vozila još nisu za vas.<br>
                    ČINJENICA je da prilikom odabira EV morate znati za šta vam je potrebno, gde, kada, koliko i kako ćete ga koristiti i da prema tome odaberete 
                    veličinu, snagu i kapacitet baterije koja Vam je potrebna.
                </p>
                <p style="font-weight: 600">ZABLUDA je da električna vozila ne mogu da se koriste za duža putovanja.</p>

                <b><li class="mb-2">Gde ih puniti?</li></b>
                <p>Mreža punjača u Srbiji ima registrovano 185 javno dostupnih punjača od kojih je manji deo u kategoriji brzih punjača (50 i više kW). 
                    Brzi punjači su strateški raspoređeni na izlazima/ulazima na autoputeve na razdaljini koja omogućuje nesmetano putovanje.<br>
                    Veći deo ovih punjača ne naplaćuje punjenje. Za punjače gde se vrši naplata postoji <b>aplikacija charge & go</b>, koja omogućuje punjenje i naplatu po 
                    komercijalnoj tarifi. Trenutno se naplaćuje vreme punjenja (1/2 sata, 45 min, sat). Besplatni punjači postoje u većim tržnim centrima i 
                    shoping mall-ovima, u javnim garažama, hotelima i dr. Ipak, najsigurnije je ako imate sopstveni pristup elektromreži (kuća, garaža).
                    Sigurno je samo da će se punjačka infrastruktura razvijati mnogo brže nego povećanje broja EV.
                </p>
                <p>Mreža punjača svakodnevno se proširuje, a podatke o tome možete naći na sajtu <a href="https://emobilnost.rs/mreza-punjaca">emobilnost.rs</a>, kao i na Google. </p>

                <b><li class="mb-2">Šta s baterijom kada se istroši, koliko traje i koliko košta zamena?</li></b>
                <p>Prodaja vozila na električni i hibridni pogon iz godine u godinu raste velikom brzinom. Kako mnoge zemlje najavljuju da će u skorijoj budućnosti 
                    zabraniti prodaju benzinaca i dizelaša, očekuje se da će drastično skočiti prodaja vozila na električni pogon. Samim tim na tržištu će porasti i 
                    ponuda ovih polovnih automobila. Međutim, vozači e-automobila do sada nisu bili u mogućnosti da dobiju pouzdane informacije o tome koliko će 
                    baterija zadržati kapacitet tokom perioda vožnje, što dovodi u sumnju održivost njihove investicije.</p>
                <p>Na sreću, ovo bi uskoro moglo da se promeni i to zahvaljujući predlogu novog pravnog instrumenta za obezbeđivanje minimalne trajnosti baterija 
                    ugrađenih u električne i "plug-in" hibridne automobile, koji je odobrio Svetski forum za harmonizaciju propisa o vozilima (WP.29), čiji je 
                    domaćin Ekonomska komisija UN-a za Evropu (UNECE) u čijem se saopštenju ovo i navodi, piše Energetski portal.</p>
                <p>Zahvaljujući novim odredbama, proizvođači će morati da garantuju da će baterije ugrađene u njihova električna vozila (EV) izgubiti manje od 20 
                    odsto svog početnog kapaciteta tokom pet godina ili pređenih 100.000 km i manje od 30 odsto tokom osam godina ili pređenih 160.000 km.</p>
                <p>Šta praktično znači 30% smanjenje kapaciteta nakon 8 godina? Znači da ćete moći nastaviti koristiti vozilo kao i do tada, samo što će s 
                    jednim punjenjem preći 300 km umesto 400 ili 450 km. Ako Vam to nije dovoljno, moći ćete zameniti bateriju ili, što je verovatnije, vozilo,
                    jer će napredak tehnologije za taj period učiniti da nova vozila i nove baterije imaju mnogo bolje performanse od sadašnjih. </p>
                <p>Koliko će to koštati? Na to pitanje Vam danas niko ne može dati egzaktan odgovor. Možda samo protivpitanje? Kolike će biti kaznene ekološke takse za 8 
                    godina na današnje dizele polovnjake. Izvesno je samo da već za 10 godina nećete moći ni kupiti novi dizel.
</p>
            </ol>
           
        </div>

        <div class="about-content mw-100 about-content-member ">
            <div class="banner-content section-heading section-heading-member">
                <h3>Bonton za vozače električnih vozila</h3>
            </div>
        
                        <article class="post post-large blog-single-post border-0 m-0 p-0">
        
        
                            <div class="post-content ms-0">
        
                               
                                <p>Na naše veliko zadovoljstvo broj električnih vozila na srpskim ulicama svakog je dana sve veći. 
                                    To istovremeno znači da je broj punjača mali. Jedan od glavnih ciljeva udruženja E-Mobilnost je svakako da se poveća broj mesta za 
                                    punjenje u skladu sa rastom broja električnih vozila. To je dugotrajan proces te je potrebno usvojiti neka pravila ponašanja u tom prelaznom periodu.</p>
                                <p>Završetkom punjenja na javno dostupnim mestima za punjenje, potrebno je da svoje električno vozilo odvezete ili premestite na obično mesto za 
                                    parkiranje što pre. Ukoliko ste sprečeni da ga premestite, izuzetno je bitno da ostavite mogućnost ostalim vozačima da Vas kontaktiraju. Zbog 
                                    toga Vas molimo da ispod vetrobranskog stakla ostavite karticu svojim brojem moblinog telefona ili da se prijavite (Check In) u aplikaciji PlugShare, 
                                    kako bi drugi korisnici punjača mogli da Vas kontaktiraju. </p>
                             
                                <p>Veliki broj električnih vozila putem vlastitih aplikacija imaju opciju otključavanja kabla za punjenje čim se završi punjenje. Tako se drugim 
                                    vozačima pruža mogućnost da se spoje na punjač, u slučaju da ste sprečeni da uklonite svoje električno vozilo s punjača. To naravno ne znači 
                                    da smete da ostavite svoje vozilo na punjaču jer se na punjaču mogu puniti i dva vozila pa su tako potrebna oba parkirna mesta.</p>
                                <p>Ako zateknete električno vozilo na punjaču koje stoji napunjeno, a ispod vetrobranskog stakla nema broja telefona, pogledajte u aplikaciju PlugShare 
                                    da li je korisnik zabeležio svoje punjenje putem odabira CheckIn. Ukoliko jeste, možete ga kontaktirati kroz aplikaciju, takođe i putem WhatsApp 
                                    aplikacije i obavestiti ga da je njegovo vozilo napunjeno, te da čekate na njegovo mesto.</p>
                                <p>Ako primetite da vlasnik vozila često ostavlja svoje vozilo na punjaču i nakon što je vozilo napunjeno i da se to ponavlja, ostavite mu poruku.</p>
                                <p>Ukoliko na mestu za punjenje zateknete parkirano vozilo koje nije električno ili plug-in hibridno, vozilo koje sprečava ostala električna vozila 
                                    da se pune, obavestite o tome komunalnu policiju ili saobraćajce kao slučaj nepropisnog parkiranja. Tako možete uticati na svest ostalih vozača 
                                    kako se takve situacije više ne bi ponavljale.</p>
                                <p>Fizički, verbalni sukobi ili stvaranje materijalne štete nikako nisu dozvoljeni i prouzrokovaće automatsko izbacivanje iz udruženja. Udruženje se 
                                    ograđuje od takvih vozača i takvi slučajevi neće biti tolerisani.</p>
        
                     
        
                       
        
                           
        
                          
        
                            </div>
                        </article>
        
                    </div>
                </div>
            </div>-->
  

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>