<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>ŠKODA ENYAQ iV osvojio nagradu Zlatni volan za najbolji električni SUV 2021 | Blog | E-Mobilnost</title>

        <meta name="description" content="ŠKODA ENYAQ iV svojim nastupom na Lausitzring-u impresionirao stručni žiri vozača trka i novinara. Prvi ŠKODA model baziran na modularnoj električnoj platformi (MEB) Volkswagen grupe osvojio je sedmi Zlatni volan..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila, vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti, škoda, škoda enyaq, škoda enyaq iV, nagrada, zlatni volan, nagrada zlatni volan, suv, suv 2021"/>



        <link th:href="@{/css/vest.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/vestsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/vestbg.jpg">
    <img src="/img/vestbg.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
</div>



<div class="container py-5">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">


                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold">ŠKODA ENYAQ iV osvojio nagradu Zlatni volan za najbolji električni SUV 2021</h2>

                        <div class="post-meta">
                            <span><i class="far fa-calendar"></i>18.11.2021.</span>
                            <!--               <span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>  -->
                                                        <span><i class="far fa-user"></i>ŠKODA Storyboard</span>  

                            <span><i class="far fa-comments"></i> <a href="#comments">Komentari (0)</a></span>
                        </div>

                        <p><b>• ŠKODA ENYAQ iV svojim nastupom na Lausitzring-u impresionirao stručni žiri vozača trka i novinara</b></p>
                        <p><b>• Prvi ŠKODA model baziran na modularnoj električnoj platformi (MEB) Volkswagen grupe osvojio je sedmi Zlatni volan</b></p>
                        <p><b>• ENYAQ iV kombinuje emotivan dizajn tipičan za brend sa prostranom unutrašnjošću, asortimanom idealnim za svakodnevnu upotrebu i izvrsnim odnosom cene i kvaliteta</b></p>
                        <p><b>• Zlatni volan prepoznaje najbolje nove proizvode na tržištu automobila i jedna je od najprestižnijih automobilskih nagrada u Evropi</b></p>


                        <p><b>Beograd, 10. novembar 2021 – ŠKODA ENYAQ iV osvojio je prestižnu automobilsku nagradu Zlatni volan za 2021. godinu. Čitaoci časopisa Auto Bild i Bild am Sonntag prvi su odabrali električni SUV među tri finalista u kategoriji električnih SUV modela. Zatim, tokom test vožnji na Lausitzringu, ENYAQ iV takođe je osvojio stručni žiri, uspešno nadmašivši svoje konkurente najboljim ukupnim plasmanom.</b></p>
                        <p><i>Izvršni direktor ŠKODA AUTO Thomas Schäfer naglašava: „Zlatni volan 2021. godine za model ENYAQ iV pokazuje da je kao prava ŠKODA, naš potpuno električni model osvojio čitaoce Auto Bilda i Bild am Sonntag magazina, kao i stručni žiri. U ime svih Škodiana, želeo bih da vam zahvalim na ovoj prestižnoj automobilskoj nagradi. Jedno je jasno: naš ENYAQ iV je tek početak, a uskoro će ga pratiti još e-modela.“</i></p>

                        <div class="row">
                            <div class="post-image ms-0 col-md-6">
                                  <figure>
                                <img src="/img/Golden-Steering-Wheel-2021-2.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Dodela nagrade zlatni volan">
                          <figcaption>Izvor: ŠKODA Storyboard</figcaption>  
                                </figure> 
                            </div>
                            <div class="post-image ms-0 col-md-6">
                                  <figure>
                                <img src="/img/Golden-Steering-Wheel-2021-1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Dodela nagrade zlatni volan">
                           <figcaption>Izvor: ŠKODA Storyboard</figcaption>  
                                </figure> 
                            </div>
                        </div>
                        <p>U ovogodišnjem izdanju Zlatnog volana, koji prepoznaje najbolje automobilske inovacije u proteklih dvanaest meseci, čitaoci su mogli da biraju svoje favorite među 70 modela. Ovo je bio prvi put da su urednici napravili razliku između vozila s motorima sa unutrašnjim sagorevanjem i električnih automobila, u kategorijama SUV i električni SUV. Dodeljeno je ukupno dvanaest Zlatnih volana.</p>
                        <p>Od ukupno sedam učesnika, čitaoci Auto Bild i Bild am Sonntag magazina izglasali su model ŠKODA ENYAQ iV u finale zajedno s još dva modela u kategoriji električnih SUV modela. To je značilo da se električni SUV na baterije kvalifikovao za praktični test na Lausitzringu početkom oktobra. Ocenjivači su svoju ocenu svakog novog automobila temeljili na različitim kriterijumima, uključujući upravljivost, prostranost i sveobuhvatnu vidljivost. Žiri je zaključio da ENYAQ iV nudi najbolji ukupni paket u segmentu električnih SUV vozila, nadmašujući druga dva modela koji su se našli u finalu.</p>
                        
                        <p><b>ŠKODA prvi potpuno električni SUV postavlja standarde</b><br>
                            ENYAQ iV predstavlja najznačajniji korak češkog proizvođača automobila do sada u sprovođenju svoje strategije elektromobilnosti. To je prvi ŠKODA proizvodni model koji se temelji na modularnoj električnoj platformi (MEB) Volkswagen grupe. Vodeći električni model brenda ŠKODA nudi veliku prostranost po kojoj je brend poznat, a takođe je vizuelno naelektrisan zahvaljujući svom emotivnom dizajnerskom pravcu. U unutrašnjosti, novi Design Selections zamenjuju konvencionalne linije opreme, dok jasno raspoređena struktura novog asortimana proizvoda omogućava konfiguraciju idealnog vozila kroz samo nekoliko klikova. ENYAQ iV dostupan je s pogonom na zadnje ili na sve točkove i može se pohvaliti dometom od preko 500 kilometara¹ u WLTP ciklusu, što ga čini savršenim saputnikom na dugim putovanjima.</p>
                        <p><b>ENYAQ iV osvaja sedmi zlatni volan za brend ŠKODA</b><br>
                            Prvi Zlatni volan dodelio je Bild am Sonntag 1976. godine. Vodeći evropski automobilski magazin Auto Bild tu je od 2009. godine. ŠKODA je sada ponosni dobitnik sedam Zlatnih volana. Priča o uspehu započela je 1999. godine s prvom generacijom modela FABIA, a njen je naslednik ovo postigao 2007. godine. Druga generacija modela OCTAVIA pobedila je 2004. godine, a druga generacija modela SUPERB takođe je osvojila Zlatni volan 2008. KAROQ je dobio prestižnu nagradu 2017, a zatim KAMIQ 2019. godine.</p>
                        <p>Vrednost određena u WLTP postupku merenja. Stvarni domet zavisi od faktora kao što su lični stil vožnje, uslovi na putu, spoljašnja temperatura, vremenski uslovi, da li su uključeni klima ili grejanje, kontrola temperature i broj putnika.</p>

                        <div class="post-block mt-5 post-share">
                            <h4 class="mb-3">Podelite vest</h4>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="https://www.okler.net/previews/porto/9.2.0/blog-post.html" data-title="Post Full Width | Porto - Responsive HTML5 Template" style="clear: both;">
                                <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" role="region"><span id="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                    <div class="at-share-btn-elements"><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(59, 89, 152); border-radius: 16px;"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-facebook-1">Facebook</title>
                                                <g>
                                                <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(29, 161, 242); border-radius: 16px;"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-twitter-2">Twitter</title>
                                                <g>
                                                <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-compact" style="background-color: rgb(255, 101, 80); border-radius: 16px;"><span class="at4-visually-hidden">Share to More</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-3" class="at-icon at-icon-addthis" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-addthis-3">AddThis</title>
                                                <g>
                                                <path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a></div>
                                </div>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>

                        </div>

                        <div class="post-block mt-5 post-similar">
                            <h4 class="mb-3">Slične vesti</h4>
                            <div class="blog-section blog-section-small">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}">
                                                    <img src="/img/skodaenyaqiV.jpg" alt="Hyandai Kona automobil">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">18.11.2021.</p>
                                                <h3><a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}">ENYAQ iV: globalna priča o uspehu brenda ŠKODA</a></h3>
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{/enyaq-iv-globalna-prica-o-uspehu-brenda-skoda}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/miodrag-makaric-mica}">
                                                    <img src="/img/mica.jpg" alt="Miodrag Makarić - Mića Slika">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p  class="dateNews">15.11.2021.</p>
                                                <h3><a th:href="@{/miodrag-makaric-mica}">Miodrag Makarić - Mića: Pionir elektromobilnosti - šampion biznisa</a></h3>
                                                <!--                                                <p>Službeno je otvoren Electric EVolution Festival u Galerija Centru u Beogradu...</p>-->
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{/miodrag-makaric-mica}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/prvih-30000km-na-struju}">
                                                    <img src="/img/kona.jpg" alt="Hyundai Kona Slika">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p  class="dateNews">15.11.2021.</p>
                                                <h3><a th:href="@{/prvih-30000km-na-struju}">Prvih 30 000 km na struju</a></h3>
                                                <!--<p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>-->
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{/prvih-30000km-na-struju}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>


                                </div>
                            </div>
                        </div>

                        <div id="comments" class="post-block mt-3 post-comments">
                            <!--<h4 class="mb-3">Komentari (3)</h4>-->
                            <h4 class="mb-3">Još uvek nema komentara</h4>
                            <!--                            <ul class="comments">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="https://i.ya-webdesign.com/images/profile-avatar-png-8.png">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                            
                                                                <ul class="comments reply">
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-3.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-4.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>-->

                        </div>

                        <div class="post-block mt-5 post-leave-comment" >
                            <h4 class="mb-3">Ostavite komentar</h4>

                            <form class="contact-form p-4 rounded bg-color-grey" action="php/contact-form.php" method="POST">
                                <div class="p-2">
                                    <!--                                    <div class="row">
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="ime" class="form-label required">Ime i prezime</label>
                                                                                <input type="text" value="" data-msg-required="Unesite ime i prezime." maxlength="100" class="form-control" name="ime" required="">
                                                                            </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="ime" class="form-label required">Ime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="prezime" class="form-label required">Prezime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                                                                </div>
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="email" class="form-label required">Email adresa</label>
                                                                                <input type="email" value="" data-msg-required="Unesite email adresum" data-msg-email="Unesite validnu email adresum" maxlength="100" class="form-control" name="email" required="">
                                                                            </div>
                                                                        </div>-->
                                    <div class="form-group">
                                        <label for="ime" class="form-label required">Ime</label>
                                        <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                    </div>
                                    <!--                                    <div class="form-group">
                                                                            <label for="ime" class="form-label required">Ime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                        </div>-->
                                    <!--                                    <div class="form-group">
                                                                            <label for="prezime" class="form-label required">Prezime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                        </div>-->

                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="poruka" class="form-label required">Komentar</label>
                                            <textarea maxlength="5000" data-msg-required="Napišite Vaš komentar." rows="5" class="form-control" name="poruka" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col mb-0">
                                            <button type="submit" class="sendComment">Pošalji</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

</div>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>