<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Statut</title>

        <meta name="description" content="E-Mobilnost Statut"/> 

        <link th:href="@{/css/document.css}" rel="stylesheet" type="text/css" />


    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

<picture>
    <source media="(max-width: 776px)" srcset="/img/carstatutsmall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carstatut.jpg">
    <img src="/img/carstatut.jpg" class="header-img " alt="car hero image statut">
</picture>

    
<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Statut</p>
</div>

<section class="document-section" >
    <div class="container"> 

        <!--            <div class="banner-content section-heading text-center">
                        <h5>POGODNOSTI</h5>
                        <h2 class="banner-title">SUBVENCIJE</h2>
                        <div class="title-icon-divider text-dark"><i class="fas fa-plug"></i></div>
                    </div>-->
        <!--           <h2 class="title">Fast Service, Talented People <br> Secure Payment</h2> -->
        <p class="text-center">У складу са одредбама чл. 11. и 12. Закона о удружењима („Сл. гласник РС”, бр.51/09, 99/2011, 44/2018- др. закон), Оснивачка 
            скупштина Удружења возача електричних возила „Е-мобилност“, одржана 07.06.2021. године, усвојила је:</p> 
        <br>

        <p class="main-heading">С Т А Т У Т</p>

        <p class="under-main-heading">УДРУЖЕЊА ВОЗАЧА ЕЛЕКТРИЧНИХ ВОЗИЛА “Е-МОБИЛНОСТ”</p>
        <br>
        <p class="rimskiBroj">I</p>
        <p class="naslov-ispod-rimskog">Основне одредбе</p>
        <p class="clan">Члан 1.</p>

        <p>Овим Статутом регулишу се одредбе о називу, седишту и заступању; о циљевима, те делатностима којима се остварују ти циљеви; о остваривању јавности рада Удружења; 
            о чланству и чланарини; правима и обвезама чланова; о унутрашњем уређењу; о органима Удружења, њиховом саставу, овлашћењима, начину одлучивања, условима и начину 
            избора и опозива, трајању мандата, те одговорности чланова; имовини и располагању с могућом добити, начину стицања имовине; престанку постојања, те поступку с 
            имовином у случају престанка постојања Удружења.</p>

        <p class="clan">Члан 2.</p>
        <p>Назив удружења је: Удружење возача електричних возила “Е-мобилност”.</p>
        <p>Скраћени назив удружења је: Удружење “Е-мобилност”.</p>
        <p> Скраћени назив удружења на енглеском језику је: Association “Е-mobility”.</p>
        <p>Седиште удружења је улица Часлава Вељића 53, 11147 Београд, Чукарица.</p>
        <p> Удружење делује на подручју Републике Србије.</p>

        <p class="clan">Члан 3.</p>
        <p>Удружење возача електричних возила “Е-мобилност” (у даљем тексту Удружење) је удружење регистровано при Агенцији за привредне регистре Србије.</p>

        <p class="clan">Члан 4.</p>
        <p>Удружење је непрофитно правно лице.</p>

        <p class="clan">Члан 5.</p>
        <p>Удружење заступа Председник Удружења. Скупштина Удружења може овластити и друга лица за заступање.</p>

        <br>
        <p class="rimskiBroj">II</p>
        <p class="naslov-ispod-rimskog">Циљеви, област деловања и делатности Удружења</p>
        <p class="clan">Члан 6.</p>
        <p>Удружење је основано ради остваривања циљева у области промоције употребе и набавке електричних возила.</p>
        <p>Циљеви удружења јесу:</p>
        <p style="text-indent:2rem">• јачање свести грађана о предностима употребе електричних возила</p>
        <p style="text-indent:2rem">• повећање броја електричних возила у употреби у Републици Србији</p>
        <p style="text-indent:2rem">• унапређивање заштите животне средине,</p>

        <p class="clan">Члан 7.</p>
        <p>Делатности Удружења су:</p>
        <p style="text-indent:2rem">• подстицање активности које омогућују лакшу и једноставнију употребу електричних возила</p>
        <p style="text-indent:2rem">• лобирање у Влади и локалним самоуправама за промене закона и подзаконских аката који ће омогућити једноставнију набавку, употребу 
            и поседовање електричних возила</p>
        <p style="text-indent:2rem">• организовање заједничких дружења и манифестација.</p>
        <p style="text-indent:2rem">• организовање и вођење семинара, радионица, тренинга, предавања, курсева, стручних скупова, индивидуалних и заједничких саветовања 
            и осталих облика преношења знања међу члановима и осталим заинтересованим лицима</p>
        <p style="text-indent:2rem">• сарадња с појединцима, образовним и другим државним, јавним и приватним установама и организацијама у Републици Српбији и иностранству</p>
        <p style="text-indent:2rem">• информирање јавности о своме раду</p>
        <p style="text-indent:2rem">• развијање и остваривање програма међународне сарадње</p>
        <p style="text-indent:2rem">• остваривање и јачање сарадње са сродним организацијама у Републици Србији и ван ње.</p>

        <p class="clan">Члан 8.</p>
        <p>Рад Удружења је јаван. Јавност рада Удружења остварује се на начине утврђене овим Статутом, и то:</p>
        <p style="text-indent:2rem">• правовременим извештавањем чланства о раду Удружења и значајним догађајима, писаним извештајима, на посебним скуповима или на други 
            прикладан начин,/p>
        <p style="text-indent:2rem">• путем средстава јавног информисања.</p>

        <br>
        <p class="rimskiBroj">III</p>
        <p class="naslov-ispod-rimskog">Чланство у Удружењу</p>
        <p class="clan">Члан 9.</p>
        <p>Члан Удружења могу постати возачи и власници електричних возила, као и друга физичка и правна лица која подржавају рад и циљеве Удружења.</p>
        <p>Чланови Удружења могу бити: редовни чланови, подржавајући чланови и почасни чланови.</p>
        <p>Редовни чланови Удружења су они који активно и суштински учествују у делатностима Удружења као и остваривању циљева Удружења.</p>
        <p>Подржавајући чланови Удружења су они који подржавају рад Удружења повременим учествовањем у активностима Удружења.</p>
        <p>Захтев за пријем у чланство се подноси Председнику Удружења који о томе доноси одлуку.</p>
        <p>Захтев за пријем у чланство садржи следеће податке: физичко или правно лице; име и презиме или назив; адресу и место становања; ЈМБГ/МБ; контакт 
            (број телефона и/или е-маил); изјаву о приступању.</p>
        <p>Одлука Председника о пријем у чланство је коначна.</p>
        <p>Почасни члан је особа која је својим радом и ангажовањем стекла посебне заслуге за промоцију електричних возила или се истакла доприносом у раду Удружења.</p>
        <p>Почасне чланове у чланство прима Скупштина на предлог чланова Удружења, те не плаћају чланарину.</p>
        <p>Почасни чланови и подржавајући чланови не могу бити бирани у тела управљања Удружења.</p>

        <p class="clan">Члан 10.</p>
        <p>Чланом Удружења се постаје уписом у регистар чланова који води Секретар Удружења.</p>
        <p>Регистар чланова води се у електронском облику, а садржи: лично име, односно назив члана, лични идентификацијски број (ЈМБГ односно МБ), датум рођења, 
            датум приступања удружењу, категорију чланства и датум престанка чланства у удружењу.</p>
        <p>Регистар чланова даје се на увид свим члановима и надлежним телима на њихов захтев.</p>

        <p class="clan">Члан 11.</p>
        <p>Скупштина Удружења одређује годишњи износ чланарине.</p>

        <p class="clan">Члан 12.</p>
        <p>Права и обвезе чланова су:</p>
        <p style="text-indent:2rem">• учествовање у активностима Удружења,</p>
        <p style="text-indent:2rem">• право гласа (само редовни чланови),</p> 
        <p style="text-indent:2rem">• учествовање у управљању пословима Удружења,</p>
        <p style="text-indent:2rem">• плаћање чланарине,</p> 
        <p style="text-indent:2rem">• чување и подизање угледа Удружења,</p>
        <p style="text-indent:2rem">• чување материјалних добара и извршење преузетих обавеза.</p> 

        <p class="clan">Члан 13.</p>
        <p>Чланство у Удружењу престаје:</p>
        <p style="text-indent:2rem">• добровољним иступањем</p>
        <p style="text-indent:2rem">• неплаћањем чланарине</p>
        <p style="text-indent:2rem">• искључењем због повреде чланских права и обавеза.</p>
        <p>Члан се брише из Регистра чланова без посебне одлуке уколико до краја године не плати чланарину за текућу годину.</p>
        <p>Одлуку о искључењу члана из Удружења доноси Председник. Искључени члан има право у року од петнаест дана, рачунајући од дана пријема одлуке, да
            поднесе жалбу Скупштини Удружења.</p>
        <p>Скупштина је дужна да донесе одлуку по жалби у року 30 дана, рачунајући од дана пријема жалбе. Одлука Скупштине Удружења о искључењу је коначна.</p>

        <p class="clan">Члан 14.</p>
        <p>Удружење се може удружити у савезе удружења и у међународна удружења.</p>
        <p>Одлуку о удруживању доноси Скупштина.</p>

        <br>
        <p class="rimskiBroj">IV</p>
        <p class="naslov-ispod-rimskog">Органи Удружења</p>
        <p class="clan">Члан 15.</p>
        <p>Органи Удружења су:</p>  
        <p style="text-indent:2rem">• Скупштина</p>
        <p style="text-indent:2rem">• Председник</p>
        <p style="text-indent:2rem">• Потпредседник</p>
        <p style="text-indent:2rem">• Секретар</p>

        <br>
        <p class="naslov-ispod-rimskog">СКУПШТИНА</p>
        <p class="clan">Члан 16.</p>
        <p>Скупштина је највише тело управљања Удружењем. Скупштину сачињавају сви редовни пословно способни чланови Удружења - физичка лица, односно 
            представник правног лица које је редовни члан Удружења.</p>
        <p>Почасни и подржавајући чланови имају право учествовања у раду Скупштине, без права гласа при доношењу одлука.</p>

        <p class="clan">Члан 17.</p>
        <p>Скупштина може бити редовна, изборна и ванредна. Скупштина редовно заседа једном у току године, док се изборна седница Скупштине одржава сваке четири године.</p>
        <p>Седнице скупштине сазива Председник Удружења на властиту иницијативу, а позив за присуствовање седници Скупштине доставља се електронском поштом.</p>
        <p>У одлуци о сазивању Скупштине Председник утврђује дневни ред седнице, те дан и место одржавања седнице.</p>
        <p>Председник је дужан сазвати седницу Скупштине када то затражи најмање 1/3 чланова оснивача Удружења. У свом захтеву за сазивање Скупштине предлагачи 
            су обавезни предложити дневни ред седнице.</p>
        <p>Ако председник не сазове седницу Скупштине у року од 15 дана од дана доставе захтева из става 5. овога члана, сазват ће је предлагач (одлука треба да 
            садржи предлог дневнога реда, као и место и дан одржавања седнице).</p>
        <p>У случају истека мандата органима Удружења, седницу Скупштине сазива задња особа за заступање уписана у Регистар Удружења или 1/3 чланова оснивача који су 
            уписани у Регистар чланова пре истека мандата органа Удружења.</p>

        <p class="clan">Члан 18.</p>
        <p>Скупштином председава Председник Удружења. У одсуству Председника, Скупштином председава Потпредседник Удружења. О раду седнице води се записник, који се 
            трајно чува у архиви Удружења.</p>

        <p class="clan">Члан 19.</p>
        <p>Скупштина одлучује правоваљано уколико је присутно најмање три члана Скупштине, а одлуке доноси већином гласова присутних чланова Скупштине, осим ако Статутом 
            није одређена посебна већина.</p>
        <p>Седница Скупштине може се одржати и на даљину о чему је потребно израдити записник.</p>

        <p class="clan">Члан 20.</p>
        <p>Скупштина Удружења:</p>
        <p style="text-indent:2rem">• утврђује политику развоја Удружења,</p>
        <p style="text-indent:2rem">• доноси план и програм рада</p>
        <p style="text-indent:2rem">• усваја Статут Удружења као и његове измене и допуне,</p>
        <p style="text-indent:2rem">• доноси план рада и финансијски план за следећу календарску годину и извештај о раду за претходну календарску годину,</p>
        <p style="text-indent:2rem">• усваја годишње финансијске извештаје,</p>
        <p style="text-indent:2rem">• доноси друге акте и одлуке везане за рад Удружења,</p>
        <p style="text-indent:2rem">• доноси друге акте и одлуке везане за рад Удружења,</p>
        <p style="text-indent:2rem">• именује ликвидатора,</p>
        <p style="text-indent:2rem">• решава спорове и сукобе интереса унутар Удружења,</p>
        <p style="text-indent:2rem">• одлучује о статусним променама,</p>
        <p style="text-indent:2rem">• разматра и усваја извештаје о раду Удружења,</p>
        <p style="text-indent:2rem">• даје смернице за рад Удружења,</p>
        <p style="text-indent:2rem">• одлучује о жалбама чланова на одлуке о искључењу из Удружења,</p>
        <p style="text-indent:2rem">• одлучује о статусним променама и о престанку рада Удружења и расподели преостале имовине,</p>
        <p style="text-indent:2rem">• одлучује о статусним променама и о престанку рада Удружења и расподели преостале имовине,</p>

        <br>
        <p class="naslov-ispod-rimskog">ПРЕДСЕДНИК</p>
        <p class="clan">Члан 21.</p>
        <p>Извршне функције и друге послове одређене овим Статутом обавља Председник Удружења.</p>
        <p>Председника Удружења бира Скупштина Удружења на мандат од четири године.</p>

        <p class="clan">Члан 22.</p>
        <p>Председник:</p>
        <p style="text-indent:2rem">• заступа Удружење,</p>
        <p style="text-indent:2rem">• сазива Скупштину Удружења,</p>
        <p style="text-indent:2rem">• руководи радом Скупштине Удружења,</p>
        <p style="text-indent:2rem">• утврђује предлог програма рада, плана рада, финансијског плана, Статута и измена и допуна Статута који се подносе Скупштини на 
            разматрање и прихваћање,</p>   
        <p style="text-indent:2rem">• брине о извршењу усвојеног програма рада, плана рада, финансијског плана и спровођењу одлука Скупштине Удружења,</p>
        <p style="text-indent:2rem">• управља имовином Удружења,</p>
        <p style="text-indent:2rem">• подноси извештаје о раду Удружења Скупштини Удружења,</p>
        <p style="text-indent:2rem">• именује комисије и слична тела према потреби, те им одређује задатке,</p>   
        <p style="text-indent:2rem">• именује Секретара Удружења,</p>
        <p style="text-indent:2rem">• брине се о упознавању јавности с радом Скупштине Удружења,</p>
        <p style="text-indent:2rem">• надзире материјално и финансијско пословање Удружења,</p>
        <p style="text-indent:2rem">• доноси одлуке о искључењу члана из Удружења,</p>   
        <p style="text-indent:2rem">• обавља и друге послове предвиђене Статутом и другим општим актима Удружења.</p>

        <p class="clan">Члан 23.</p>
        <p>За свој рад Председник је одговоран Скупштини Удружења.</p>
        <p>Председник подноси Скупштини Удружења годишње извештаје о свом раду.</p>
        <p>Мандат председника траје 4 године.</p>

        <br>
        <p class="naslov-ispod-rimskog">ПОТПРЕДСЕДНИК</p>
        <p class="clan">Члан 24.</p>
        <p>У случају одсутности или спречености, Председника у свим пословима замењује Потпредседник.</p>
        <p>Мандат Председника траје 4 године.</p>

        <br>
        <p class="naslov-ispod-rimskog">СЕКРЕТАР</p>
        <p class="clan">Члан 25.</p>
        <p>Секретара Удружења именује Председник на мандат од 4 године за обављање стручно-административних послова Удружења, као и за друге послове за које га 
            овласти Скупштина или Председник Удружења.</p>
        <p>Секретар пружа подршку раду Удружења, води регистар чланова и записнике на седницама Скупштине.</p>

        <p class="clan">Члан 26.</p>
        <p>За рад у појединим подручјима деловања Удружења, Скупштина или Председник могу основати сталне и повремене комисије или друга радна тела.</p>
        <p>Одлуком о оснивању комисије или радних тела утврђује се њихов састав, обавезе, овлашћења, време за које се оснивају и одговорност за обављање послова.</p>

        <br>
        <p class="rimskiBroj">V</p>
        <p class="naslov-ispod-rimskog">Имовина и начин стицања имовине</p>
        <p class="clan">Члан 27.</p>
        <p>Имовину Удружења чине:</p>
        <p style="text-indent:2rem">• новчана средства,</p>
        <p style="text-indent:2rem">• покретне ствари,</p>
        <p style="text-indent:2rem">• некретнине,</p>
        <p style="text-indent:2rem">• друга имовинска права.</p>

        <p class="clan">Члан 28.</p>
        <p>Удружење стиче имовину:</p>
        <p style="text-indent:2rem">• од чланарине,</p>
        <p style="text-indent:2rem">• од добровољних прилога и поклона,</p>
        <p style="text-indent:2rem">• од донација из буџета,</p>
        <p style="text-indent:2rem">• из других извора у складу са законом.</p>

        <p class="clan">Члан 29.</p>
        <p>Извештаје о материјално-финансијском пословању Председник Удружења подноси Скупштини на разматрање и прихватање.</p>

        <br>
        <p class="rimskiBroj">VI</p>
        <p class="naslov-ispod-rimskog">Изглед и садржина печата</p>
        <p class="clan">Члан 30.</p>
        <p>Удружење има печат кружног облика, пречника 30 милиметара, на којем је по обрубу исписано ћириличним словима „Удружење возача електричних возила“, 
            а у средини печата “Е-мобилност”. а по доњем обрубу ћириличним словима „Београд“.</p>

        <br>
        <p class="rimskiBroj">VII</p>
        <p class="naslov-ispod-rimskog">Престанак постојања Удружења</p>
        <p class="clan">Члан 31.</p>
        <p>Удружење престаје постојати у случајевима предвиђеним законом.</p>
        <p>У случају престанка постојања Удружења, преостала имовина предаје се удружењу, фондацији или другој установи са истим или сличним статутарним циљевима као Удружење.</p>
        <p>У случају престанка постојања Удружења на основу одлуке Скупштине, иста доноси одлуку о престанку постојања Удружења двотрећинском већином гласова од укупног броја 
            чланова оснивача Удружења.</p>

        <br>
        <p class="rimskiBroj">VIII</p>
        <p class="naslov-ispod-rimskog">Завршне одредбе</p>
        <p class="clan">Члан 32.</p>
        <p>Статут Удружења доноси Скупштина већином гласова укупног броја чланова оснивача Удружења након спроведене расправе.</p>
        
        <p class="clan">Члан 33.</p>
        <p>Тумачење одредаба овога Статута даје Скупштина Удружења.</p>
        <p>Тумачење других аката које доноси Удружење у свом раду даје Председник Удружења.</p>

        <br><br>


        <p>У Београду,</p>
        <p>Дана 07.06.2021.</p>

        <p class="text-right">Небојша Маргетић,</p>
        <p class="text-right">Председник Скупштине</p>
<!--        <br>
        <p><a href="/img/eMobilnost - Statut Udruzenja v.4 final.pdf" download="Статут удружења возача електричних возила 'Е-Мобилност'">Овде</a> можете преузети документ.</p>-->

    </div>
</section>




<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>