<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Subvencije</title>

        <meta name="description" content="Margotekstil o nama. Margotekstil je firma koja se bavi uređenjem poslovnog i ličnog prostora. About us."/> 

        <link th:href="@{/css/document.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->
     <picture>
            <source media="(max-width: 776px)" srcset="/img/carsubvencije.jpg">
            <source media="(min-width: 992px)" srcset="/img/carsubvencijesmall.jpg">
            <img src="/img/carsubvencijesmall.jpg" class="header-img" alt="home-header-image">
        </picture>


<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Subvencije</p>
</div>

<div class="document-section">
    <div class="container">
        <p class="text-center">На основу члана 8. Закона о буџету Републике Србије за 2020. годину („Службени гласник РС”, број 84/19), а у вези са одредбама Закона о заштити
            животне средине („Службени гласник РС”, бр. 135/04, 36/09, 36/09 – др. закон, 72/09 – др. закон, 43/11 – УС, 14/16, 76/18 и 95/18 – др закон) 
            и Закона о контроли државне помоћи („Службени гласник РС”, број 73/19) и члана 42. став 1. Закона о Влади („Службени гласник РС”, бр. 55/05, 
            S71/05 – исправка, 101/07, 65/08, 16/11, 68/12 – УС, 72/12, 7/14 – УС, 44/14 и 30/18 – др. закон),  </p>      
        <br>
        <p style="text-indent:4rem">Влада доноси</p>
        
        <br>
        <p class="main-heading">У Р Е Д Б У</p>
        <p class="under-main-heading">О УСЛОВИМА И НАЧИНУ СПРОВОЂЕЊА СУБВЕНЦИОНИСАНЕ КУПОВИНE НОВИХ ВОЗИЛА КОЈА ИМАЈУ ИСКЉУЧИВО ЕЛЕКТРИЧНИ ПОГОН, 
            КАО И ВОЗИЛА КОЈА УЗ МОТОР СА УНУТРАШЊИМ САГОРЕВАЊЕМ ПОКРЕЋЕ И ЕЛЕКТРИЧНИ ПОГОН (ХИБРИДНИ ПОГОН)
        </p>
        
        <br>
        <p class="clan">Члан 1.</p>
        <p style="text-indent:4rem">Овом уредбом се уређују услови и начин спровођења субвенционисане куповинe нових возила која имају искључиво електрични погон, као и возила 
            која уз мотор са унутрашњим сагоревањем покреће и електрични погон (хибридни погон), у циљу подстицања еколошки прихватљивог вида транспорта.</p>
        <p style="text-indent:4rem">Под новим возилима (у даљем тексту: возила) у смислу ове уредбе сматра се оно возило које није било у употреби и није никада нигде било 
            регистровано.</p>
        <p style="text-indent:4rem"> Под возилима из става 1. овог члана подразумевају се следеће врсте возила:</p> 
        <p style="text-indent:2rem">1.  возила L - мопеди, мотоцикли, трицикли, четвороцикли:</p>
        <p style="text-indent:4rem">1) врста L1 - мопед,    </p>
        <p style="text-indent:4rem">  2) врста L2 - лаки трицикли,    </p>
        <p style="text-indent:4rem"> 3) врста L3 - мотоцикл,    </p>
        <p style="text-indent:4rem"> 4) врста L4 - мотоцикл са бочним седиштем,    </p>
        <p style="text-indent:4rem"> 5) врста L5 - тешки трицикл,    </p>
        <p style="text-indent:4rem"> 6) врста L6 - лаки четвороцикл,    </p>
        <p style="text-indent:4rem"> 7) врста L7- тешки четвороцикл;    </p>
        <p style="text-indent:2rem">2.  возила M - возила за превоз лица – врста М1- путничко возило врсте М које има највише девет (9) места за седење укључујући и седиште 
            возача;</p>
        <p style="text-indent:2rem">3.  возила N - теретна возила – врста N1 - возило врсте N чија највећа дозвољена маса не прелази 3,5 t.</p>
        
        <br>
        <p class="clan">Члан 2.</p>
        <p style="text-indent:4rem">Право на субвенционисану куповину возила имају правна лица, предузетници и физичка лица.</p>
        <p style="text-indent:4rem">Право на субвенционисану куповину возила немају правна лица и предузетници који су остварили  право на субвенционисану набавку 
            путничких возила за потребе обнове возног парка такси превоза као јавног превоза,  у складу са Уредбом о условима и начину спровођења 
            субвенционисане набавке путничких возила за потребе обнове возног парка такси превоза као јавног превоза („Службени гласник РС”, број 94/19).</p>
        
        <br>
        <p class="clan">Члан 3.</p>
        <p style="text-indent:4rem">Укупна расположива средства за реализацију  субвенционисане куповине возила у 2020. години, обезбеђена су у износу од 120.000.000,00 динара (словима: 
            стодвадесетмилионадинара), на Разделу 25 - Министарство заштите животне средине, Глава 25.2 – Зелени фонд Републике Србије, Програм 0404 - Управљање заштитом животне средине, 
            Функција 560 - Заштита животне средине некласификована на другом месту, Програмска активност 0014 - Подстицаји за куповину еколошки прихватљивих возила, економска класификација 
            454 - Субвенције приватним предузећима.</p>
        <p style="text-indent:4rem">Подстицајна средства додељују се до износа из става 1. овог члана што представља коначну финансијску обавезу Министарства заштите животне 
            средине у поступку субвенционисања куповине возила у 2020. години.</p>
        
        <br>
        <p class="clan">Члан 4.</p>
        <p style="text-indent:4rem">Субвенционисана куповина  возила из члана 1. ове уредбе спроводи се исплатом следећих износа:</p>
        <p style="text-indent:4rem">1. за возила врсте L1 и L2, 250 евра у динарској противвредности по званичном средњем  дневном курсу Народне банке Србије, 
            на дан уплате купопродајне цене;</p>
        <p style="text-indent:4rem">2. за возила врсте L3 – L7,  500 евра у динарској противвредности по званичном средњем дневном курсу Народне банке Србије, 
            на дан уплате купопродајне цене;</p>
        <p style="text-indent:4rem">3. за возила врсте М1 и N1 искључиво на електрични погон, 5.000 евра у динарској противвредности по званичном средњем дневном курсу 
            Народне банке Србије, на дан уплате купопродајне цене;</p>
        <p style="text-indent:4rem">4. за возила врсте М1 и N1 која покреће, уз мотор са унутрашњим сагоревањем и електрични погон тако да возило може без активирања 
            мотора са унутрашњим сагоревањем одређено време самостално да се креће искључиво на електрични погон, уз обавезу да поседује спољни прикључак за струју 
            односно да се пуњење батерија може остварити и из спољног извора електричне енергије (PHEV Plug In Hybrid Electric Vehicle), као и за електрична возила 
            са уграђеним саставом за продужење аутономије кретања (range extender) са емисијама CO2/km до највише 50 g/km,  3.500 евра у динарској противвредности по 
            званичном средњем дневном курсу Народне банке Србије, на дан уплате купопродајне цене;</p>
        <p style="text-indent:4rem">5. за возила врсте М1 и N1 која покреће хибридни погон који уз мотор са унутрашњим сагоревањем има барем један електрични мотор 
            и може да се без активирања мотора са унутрашњим сагоревањем одређено време самостално креће искључиво на електрични погон, при чему се производња електричне 
            енергије за допуну батерија обавља унутар самог возила, са емисијама CO2 до највише 100 g/km, 2.500 евра у динарској противвредности по званичном средњем дневном 
            курсу Народне банке Србије, на дан уплате купопродајне цене.</p>

        <br>
        <p class="clan">Члан 5.</p>
        <p style="text-indent:4rem">Субвенционисана куповина возила спроводи се исплатом износа из члана 4. ове уредбе на име:  </p>
        <p style="text-indent:4rem">- учешћа за наменски кредит за куповину новог возила,</p>
        <p style="text-indent:4rem">- учешћа за финансијски лизинг за куповину новог возила,</p>
        <p style="text-indent:4rem">- плаћања дела купопродајне цене новог возила.  </p>
        <p style="text-indent:4rem">Правна лица, предузетници и физичка лица која купују возило на рате, да би користили субвенцију из члана 4. ове уредбе, 
            дужни су да пре исплате субвенције исплате износ у висини од најмање 15% купопродајне цене новог возила даваоцу финансијског лизинга на име дела 
            учешћа за одобрење уговора о финансијском лизингу возила, односно износ у истој висини банци на име дела учешћа за одобрење наменског кредита за 
            куповину возила. </p>
        <p style="text-indent:4rem">Ако правна лица, предузетници и физичка лица купују ново возило сопственим средствима, субвенција из става 1. овог члана 
            исплаћује се након што доставе доказ да су у целости исплатили део купопродајне цене који се не финансира из средстава за одобравање субвенција. </p>
        <p style="text-indent:4rem">Ако правна лица, предузетници и физичка лица купују ново возило закључењем уговора о финансијском лизингу, односно закључењем уговора 
            о наменском кредиту, субвенција из члана 4. ове уредбе исплаћује се након закључења уговора о финансијском лизингу, односно закључења уговора о наменском кредиту.</p>

        <br>
        <p class="clan">Члан 6.</p>
        <p style="text-indent:4rem">Захтев за субвенционисану куповину новог возила у складу са овом уредбом подноси се Министарству заштите животне средине 
            искључиво препорученом пошиљком, у затвореној коверти, поштом на адресу: Министарство заштите животне средине, Омладинских бригада 1. Београд, са 
            назнаком: ,,Захтев за субвенционисану куповину нових возила која имају искључиво електрични погон, као и возила која уз мотор са унутрашњим сагоревањем 
            покреће и електрични погон (хибридни погон)”.</p>
        <p style="text-indent:4rem">Редослед остваривања права на додељивање субвенције утврђује се према времену пријема уредног захтева.</p> 
        <p style="text-indent:4rem">Документација се може допунити на захтев Министарства заштите животне средине у року који одреди Министарство заштите животне средине, а 
            који не може бити краћи од осам дана. </p>
        <p style="text-indent:4rem">У случају да у назначеном року пријава не буде допуњена у складу са захтевом Министарства заштите животне средине, иста ће бити одбачена 
            као непотпуна.</p> 
        <p style="text-indent:4rem">Захтев се сматра потпуним на дан када се приложи сва потребна документација.</p>
        <p style="text-indent:4rem">Захтев за доделу средстава садржи:</p> 
        <p style="text-indent:4rem">1. податке о подносиоцу захтева:</p>
        <p style="text-indent:4rem">1) за правна лица - назив и седиште  правног лица, матични број и ПИБ, Решење о упису у Регистар привредних субјеката код Агенције за 
            привредне регистре (не старији од 15 дана на дан подношења захтева), име и презиме лица овлашћеног за заступање, име и презиме и број телефона контакт особе, </p> 
        <p style="text-indent:4rem">2) за физичка лица - име и презиме,  адресу становања и контакт телефон,</p>
        <p style="text-indent:4rem">2. потврду да против правног лица није покренут претходни стечајни поступак, реорганизација, стечај или ликвидација, у складу са 
            прописима којим се уређују стечај и ликвидација;</p>
        <p style="text-indent:4rem">3. потврду да правно лице или предузетник нема правоснажну судску или управну меру забране обављања делатности или осуду због привредног 
            преступа;</p>
        <p style="text-indent:4rem">4. доказ да је правно лице или предузетник измирио све доспеле обавезе по основу јавних прихода, односно да је закључио споразум о 
            репрограму о исплати пореског дуга, с тим да укупан износ пореског дуга по споразуму о репрограму о исплати пореског дуга не може да износи више од 500.000 
            динара на дан подношења захтева, као и доказ да обавезе по репрограму о исплати пореског дуга измирује редовно, односно да нема неизмирених обавеза по репрограму 
            о исплати пореског дуга на дан подношења захтева;</p>
        <p style="text-indent:4rem">5. потврду да физичко лице није осуђивано за кривична дела против привреде, имовине, живота и тела, јавног реда и мира и правног саобраћаја;</p>
        <p style="text-indent:4rem">6. потврду да је физичко лице измирило све обавезе по основу пореза на имовину;</p>
        <p style="text-indent:4rem">7. потврду о хомологацији коју издаје Агенција за безбедност саобраћаја;</p>
        <p style="text-indent:4rem">8. предрачун за купљено возило;</p>
        <p style="text-indent:4rem">9. за правна лица - оверени ОП образац лица овлашћеног за заступање;</p>
        <p style="text-indent:4rem">10.	предрачун добављача за набавку новог возила;</p>
        <p style="text-indent:4rem">11. предуговор између добављача и правног лица, предузетника или физичког лица који садржи назив произвођача, годину производње, 
            тип, варијанту, снагу мотора, укупну цену возила, износ ПДВ, начин и рок испоруке;  </p>
        <p style="text-indent:4rem">12. изјаву добављача да може извршити испоруку возила;</p>
        <p style="text-indent:4rem">13. изјаву добављача да возило испуњава све прописане услове из члана 1. ове уредбе.</p>
        <p style="text-indent:4rem">Подаци из службених евиденција из става 6. тачка 1. подтачка 1) и тач. 2 - 7. овог члана, прибављају се по службеној дужности, 
            осим ако странка изричито изјави да ће те податке прибавити сама. </p>
        <p style="text-indent:4rem">Целокупна достављена документација из става 4. овог члана остаје у предметној архиви Министарства заштите животне средине без обавезе 
            повраћаја или копирања исте.</p>

        <br>
        <p class="clan">Члан 7.</p>
        <p style="text-indent:4rem">Министарство заштите животне средине обавештава подносиоца захтева:</p>
        <p style="text-indent:4rem">1. о пријему захтева и броју под којим је захтев подносиоца евидентиран,</p>
        <p style="text-indent:4rem">2. да ли је захтев уредан и, у случају да није, коју документацију је и у ком року   потребно доставити. </p>
        <p style="text-indent:4rem"> Ако је захтев потпун, по редоследу достављања комплетне документације доноси се решење којим се одобрава субвенција.</p>
        <p style="text-indent:4rem">На основу правноснажног решења Министарство заштите животне средине закључује споразум са  физичким, односно правним лицем, којим се уређује следеће: </p>
        <p style="text-indent:4rem">1. назив произвођача, година производње, тип, варијанта, снага мотора, укупна цена возила, износ ПДВ, начин и рок испоруке и други подаци;</p>
        <p style="text-indent:4rem">2. рок за исплату минималног износа учешћа у случају закључења уговора о финансијском лизингу за куповину возила, односно закључења уговора 
            о наменском кредиту за куповину возила, односно рок у коме физичко односно правно лице мора да плати купопродајну цену у случају куповине возила сопственим 
            средствима;</p>
        <p style="text-indent:4rem">3. износ субвенције који ће бити уплаћен на рачун даваоца лизинга, односно банке, односно продавца; </p>
        <p style="text-indent:4rem">4. рок за закључење уговора о финансијском лизингу за куповину возила, односно закључење уговора о наменском кредиту за куповину возила, 
            односно закључење уговора о куповини возила. </p>
        <p style="text-indent:4rem">Пре доношења решења из става 2. овог члана прибавља се доказ да је правно лице или предузетник измирио све доспеле обавезе по основу јавних 
            прихода, односно да по закљученом споразуму о репрограму о исплати пореског дуга не дугује износ већи од 500.000 динара, као и доказ да обавезе по репрограму о 
            исплати пореског дуга измирује редовно, односно да нема неизмирених обавеза по репрограму о исплати пореског дуга.</p>
        <p style="text-indent:4rem">У случају непоштовања рокова утврђених споразумом из става 3. овог члана купац губи право на доделу субвенције у текућој години.</p>
        <p style="text-indent:4rem">Средства за субвенционисану куповину возила додељују се физичким лицима за куповину једног возила. </p>
        
        <br>
        <p class="clan">Члан 8.</p>
        <p style="text-indent:4rem"> Поступак доделе субвенција се прекида ако висина опредељених субвенција у текућој години није довољна за одобравање свих уредно предатих 
            захтева у текућој години.</p>
        <p style="text-indent:4rem">У случају да су средства субвенција искоришћена пре истека календарске године, Министарство заштите животне средине ће на својој интернет 
            страници о истом обавестити заинтересоване стране и у ком случају се поступак доделе субвенција прекида.</p>
        <p style="text-indent:4rem"> Поступак доделе субвенција се наставља након што се обезбеде буџетска средства, с тим што је подносилац захтева дужан да ради даљег 
            наставка поступка достави нови предрачун за набавку новог возила и изјаву добављача да може извршити испоруку возила, као и осталу документацију потребну ради 
            наставка поступка.  </p>
        
        <br>
        <p class="clan">Члан 9.</p>
        <p style="text-indent:4rem">Министарство заштите животне средине квартално извештава Владу о додели субвенција у складу са овом уредбом. </p>
        
        <br>
        <p class="clan">Члан 10.</p>
        <p style="text-indent:4rem">Ова уредба ступа на снагу осмог дана од дана објављивања у „Службеном гласнику Републике Србије”.</p>
        <br>
        <p>05 Број: 110-2139/2020</p>
        <p>У Београду, 12. марта 2020. године</p>

        <p class="text-center">ВЛАДА</p>
        <p class="text-right">ПРЕДСЕДНИК</p>
        <p class="text-right">Ана Брнабић, с.р.</p>

        <p><a href="/img/uredba_vozila219_cyr.pdf" download="Уредба субвенционисања куповине нових возила која имају ускључиво електрични погон">Овде</a> можете преузети документ.</p>

    </div>
</div>





<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>