<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Subvencije</title>

        <meta name="description" content="Margotekstil o nama. Margotekstil je firma koja se bavi uređenjem poslovnog i ličnog prostora. About us."/> 

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box">
    <h2>E-Mobilnost</h2>
    <p>Subvencije</p>
</div>

<section class="about-section">
    <div class="container">
        <div class="row">                
            <div class="content-column col-lg-6 col-md-12 col-sm-12 order-2 mt-1-ss">
                <div class="inner-column">
                    <div class="sec-title">
                        <span class="title">O nama</span>
                        <h2>Naša misija je nulta emisija</h2>
                    </div>
                    <div class="text" >E-Mobility, udruženje vozača električnih vozila, osnovano je sa ciljem da osvesti, 
                        ne samo vozače i vlasnike, već i celokupno društvo. Da pokaže i dokaže da električna vozila nisu 
                        daleka budućnost već su uveliko deo sadašnjosti. Ona su pametan izbor svakog pojedinca za bolji, 
                        kvalitetniji, efikasniji i mnogo zdraviji život.<br>
                        <br>Ukratko, naša je misija nulta emisija. <br><br>
                        <p>UJEDINJENI/UDRUŽENI MOŽEMO MNOGO</p>
                        Priča o našem Udruženju započela je sa tek nekoliko vozača koji su želeli da razmene međusobna 
                        iskustva i znanja i da ih nesebično podele sa drugima. U vrlo kratkom roku Električnoj Mobilnosti 
                        pridružio se veliki broj članova i simpatizera, željnih poboljšanja i unapređenja električne mobilnosti u Srbiji.
                        <br><br>
                        <p>ZA ZDRAVIJE I ZELENIJE DRUŠTVO</p>
                        Kroz različite projekte svakodnevno se trudimo da utičemo na poboljšanje infrastrukture za elektromobile i 
                        da omogućimo određene, ne male pogodnosti, njihovim sadašnjim i budućim vlasnicima. Ali, istovremeno, hoćemo 
                        da utičemo na celokupno društvo kako bi se formirao i usvojio jedinstveni stav o električnim vozilima kao 
                        najboljem rešenju za okoliš, klimu, energetsku efikasnost, za nas same, za našu ličnu i ekonomiju u celini.
                        <br><br>
                        <p>POSTANITE ČLAN I UČESTVUJTE U KREIRANJU ZELENIJE BUDUĆNOSTI</p>
                        Ujedno, kroz pregovore s državnim institucijama, nastojimo da aktivno utičemo na promene i dopune zakona, poput povećanja subvencija, 
                        pojednostavljenja njihove isplate, širenje mreže punjača, pravovremeno reagovanje državnih tela na nepropisno parkiranje pored punionica 
                        za električna vozila, kao i na zakone o unapređenju ukupne infrastrukture za elektromobilnost.
                        <br> Svojim članstvom u Udruženju podržavate naša nastojanja da svima približimo izuzetnu važnost i vrednost električne 
                        mobilnosti, njen uticaj  na ekologiju, kvalitet života, kao i na privredu u celini.
                        <br>Nadamo se da ćemo kroz naš trud, znanje i iskustvo, korak po korak i uz Vašu pomoć, građanima Srbije omogućiti zeleniju, čistiju i zdraviju budućnost.
                        <br><br>Živi bili elektromobili!

                    </div>

                </div>
            </div>

            <!-- Image Column -->
            <div class="image-column col-lg-6 col-md-12 col-sm-12">
                <div class="inner-column " >
                    <figure class="image-1" ><img class="onama-img1"  src="/img/car1.jpg" alt="onama-img1"></figure>
                    <figure class="image-2" ><img class="onama-img2" src="/img/car2.jpg" alt="onama-img2"></figure>
                </div>
            </div>
        </div>
    </div>
</section>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>