<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Tesla u frci: Ovo je automobil koji se puni najbrže na svetu | Blog | E-Mobilnost</title>

        <meta name="description" content="Kalifornijska kompanija električnih automobila Lucid je ove godine počela sa prodajom svog prvog luksuznog modela Lucid Air, i najavila da je to prva limuzina sa dometom od preko 800 kilometara. Sada je praktičnim testom..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila, vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti o električnim automobilima, tesla, lucid, lucid air"/>


        <link th:href="@{/css/vest.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/vestsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/vestbg.jpg">
    <img src="/img/vestbg.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
</div>



<div class="container py-5">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">


                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold">Tesla u frci: Ovo je automobil koji se puni najbrže na svetu</h2>

                        <div class="post-meta">
                            <span><i class="far fa-calendar"></i>26.11.2021.</span>
                            <!--                                           <span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>  -->
                            <!--<span><i class="far fa-user"></i> <a href="#">Nebojša Margetić</a> </span>-->  
                            <span><i class="far fa-user"></i>Index.hr</span>  

                            <span><i class="far fa-comments"></i> <a href="#comments">Komentari (0)</a></span>
                        </div>

                        <p><b>Kalifornijska kompanija električnih automobila Lucid je ove godine počela sa prodajom svog prvog luksuznog modela Lucid Air, i najavila da 
                                je to prva limuzina sa dometom od preko 800 kilometara. Sada je praktičnim testom utvrđeno da je, pored toga, Lucid Air automobil koji se 
                                i puni najbrže na svetu - za 20 minuta punjenja obezbeđuje domet od čak 500 km. Sa ovim podacima, direktno upire prstom u Teslin Model S. 
                                Zanimljiv podatak je da je osnivač firme Lucid jedan od bivših direktora kompanije Tesla.</b></p>
                        <div class="post-image ms-0">
                            <figure>
                                <img src="/img/lucidair1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Lucid Air električni automobil" style="object-fit: cover;height: 568px;width: 100%;">
                                <figcaption>Izvor: Promo</figcaption> 
                            </figure>
                        </div>
                        <p>S pravom kažemo da je Tesla u frci, jer Lucid Air se brže puni, ide dalje, a i lepši je.</p>
                        <p>Lucid Air je odmah na svom debiju postigao dva bitna rekorda. Osim što ima najveći deklarisani domet, Air se može pohvaliti i najbržim punjenjem 
                            baterija. Kako prenosi Index.hr, „Inside EV“ je testirao i potvrdio da se zaista radi o najbržem punjenju baterija u nekom automobilu.</p>


                        <div class="post-image ms-0">
                            <figure>
                                <img src="/img/Lucid-Air-Exterior-7.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Lucid Air električni automobil" style="object-fit: cover;height: 568px;width: 100%;">
                                <figcaption>Izvor: Promo</figcaption> 
                            </figure>
                        </div>
                      
                        <p>Kao dokaz tu je snimak čitavog punjenja baterija, a koji pokazuje da je ovo prvi automobil sa snagom punjenja od 300 kW i više, i to u praksi. 
                            Doduše radilo se o kratkom periodu, a maksimalna snaga punjenja bila je čak 304 kW.</p>
                        <p>Kako je tekao praktični test pogledajte u videu:</p>
                        
                        <div class="embed-responsive embed-responsive-16by9 feature-video">
                            <iframe title="World's First: Lucid Air 0-100% DC Fast Charge Review" class="embed-responsive-item"  src="https://www.youtube.com/embed/6tHAgeia6Fg?feature=oembed&amp;enablejsapi=1" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen="" data-gtm-yt-inspected-1_19="true" id="widget2">     
                            </iframe>
                        </div>
                        <p>Kako smo ranije pisali na našem portalu, čitava tehnologija razvija se u Lucid fabrici, a ističe se integrisanim i vrlo kompaktnim elektromotorima, 
                            menjaču i inverteru koji imaju na raspolaganju čak 900+ volti.</p>
                        <p>Električna limuzina je sa svega 0,21 cw i jedna od najaerodinamičnijih, a do 100 km/h stiže za samo 2,5 sekundi.</p>
                        <p>Posebno upadljiv je minimalistički enterijer sa četiri zasebna sedišta, obložen kvalitetenim materijalima i opremljen najsavremenijim tehnologijama za 
                            pomoć u vožnji. Raspolagaće sa 19 sistema asistencija u startu, 32 senzora, kamerama, kao i sa Lidar sistemom smeštenim napred.</p>
                        <p>Zanimljiv podatak je da je osnivač firme Lucid jedan od bivših direktora kompanije Tesla.</p>
                        <p>Takođe, deo upravljačkog borda su i kineski investitori, dok je Lucid dobio i finansijsku injekciju vrednu milijardu dolara od strane investicionog 
                            fonda Saudijske Arabije. Što se tiče cene, za osnovni Lucid Air ona počinje nešto ispod 80.000 dolara, dok najskuplja opcija ide i preko 170.000 
                            dolara. Tako je i u cenovnom rangu direktni rival Teslinom Modelu S.</p>

                        <div class="row">
                            <div class="post-image ms-0 col-md-6">
                                <figure>
                                    <img src="/img/Lucid-Air-Exterior-12.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Lucid Air električni automobil">
                                    <figcaption>Izvor: Promo</figcaption> 
                                </figure>
                            </div>
                            <div class="post-image ms-0 col-md-6">
                                <figure>
                                    <img src="/img/Lucid-Air-Interior-1.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Unutrašnjost Lucid Air električnog automobila">
                                    <figcaption>Izvor: Promo</figcaption> 
                                </figure>
                            </div>
                        </div>

                        <div class="post-block mt-5 post-share">
                            <h4 class="mb-3">Podelite vest</h4>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="https://emobilnost.rs/tesla-u-frci-ovo-je-automobil-koji-se-puni-najbrze-na-svetu" data-title="Tesla u frci: Ovo je automobil koji se puni najbrže na svetu" style="clear: both;">
                                <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" role="region"><span id="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                    <div class="at-share-btn-elements"><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(59, 89, 152); border-radius: 16px;"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-facebook-1">Facebook</title>
                                                <g>
                                                <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(29, 161, 242); border-radius: 16px;"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-twitter-2">Twitter</title>
                                                <g>
                                                <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-compact" style="background-color: rgb(255, 101, 80); border-radius: 16px;"><span class="at4-visually-hidden">Share to More</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-3" class="at-icon at-icon-addthis" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-addthis-3">AddThis</title>
                                                <g>
                                                <path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a></div>
                                </div>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>

                        </div>

                        <div class="post-block mt-5 post-similar">
                            <h4 class="mb-3">Slične vesti</h4>
                            <div class="blog-section blog-section-small">
                                <div class="row">

                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/do-2030-na-putevima-u-svetu-31-milion-elekticnih-vozila-kada-ce-nize-cene}">
                                                    <img src="/img/ecarcharging.jpg" alt="Električni automobil koji se puni">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">25.11.2021.</p>
                                                <h3><a th:href="@{/do-2030-na-putevima-u-svetu-31-milion-elekticnih-vozila-kada-ce-nize-cene}">Do 2030. na putevima u svetu 31 milion elektičnih vozila: Kada će niže cene?</a></h3>
                                               
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{do-2030-na-putevima-u-svetu-31-milion-elekticnih-vozila-kada-ce-nize-cene}" class="blogBtn">Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/proizvodnja-baterija-kako-se-proizvodi-srce-elektricnog-automobila}">
                                                    <img src="/img/skodabaterija.jpg" alt="Proizvodnja baterija za električni automobil">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">25.11.2021.</p>
                                                <h3><a th:href="@{/proizvodnja-baterija-kako-se-proizvodi-srce-elektricnog-automobila}">Proizvodnja baterija: Kako se proizvodi srce električnog automobila?</a></h3>
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{proizvodnja-baterija-kako-se-proizvodi-srce-elektricnog-automobila}" class="blogBtn">Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}">
                                                    <img src="/img/povoljnijiAuto1.png" alt="Fiat električni automobil">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">23.11.2021.</p>
                                                <h3><a th:href="@{/stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}">Stižu jeftini električni automobili: Koliko će 
                                                        koštati i ko je sve u igri</a></h3>
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div id="comments" class="post-block mt-3 post-comments">
                            <!--<h4 class="mb-3">Komentari (3)</h4>-->
                            <h4 class="mb-3">Još uvek nema komentara</h4>
                            <!--                            <ul class="comments">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="https://i.ya-webdesign.com/images/profile-avatar-png-8.png">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                            
                                                                <ul class="comments reply">
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-3.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-4.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>-->

                        </div>

                        <div class="post-block mt-5 post-leave-comment" >
                            <h4 class="mb-3">Ostavite komentar</h4>

                            <form class="contact-form p-4 rounded bg-color-grey" th:action="@{/posaljiKomentar}" method="POST">
                                <div class="p-2">
                                    <!--                                    <div class="row">
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="ime" class="form-label required">Ime i prezime</label>
                                                                                <input type="text" value="" data-msg-required="Unesite ime i prezime." maxlength="100" class="form-control" name="ime" required="">
                                                                            </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="ime" class="form-label required">Ime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="prezime" class="form-label required">Prezime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                                                                </div>
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="email" class="form-label required">Email adresa</label>
                                                                                <input type="email" value="" data-msg-required="Unesite email adresum" data-msg-email="Unesite validnu email adresum" maxlength="100" class="form-control" name="email" required="">
                                                                            </div>
                                                                        </div>-->
                                    <div class="form-group">
                                        <label for="ime" class="form-label required">Ime</label>
                                        <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                    </div>
                                    <!--                                    <div class="form-group">
                                                                            <label for="ime" class="form-label required">Ime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                        </div>-->
                                    <!--                                    <div class="form-group">
                                                                            <label for="prezime" class="form-label required">Prezime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                        </div>-->

                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="poruka" class="form-label required">Komentar</label>
                                            <textarea maxlength="5000" data-msg-required="Napišite Vaš komentar." rows="5" class="form-control" name="poruka" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col mb-0">
                                            <button type="submit" class="sendComment">Pošalji</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

</div>





<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>