<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>U Kini značajno pale cene električnih automobila | Blog | E-Mobilnost</title>

        <meta name="description" content="I dok se na Starom kontinentu sve odvija sporije nego na Istoku planete, tako smo ovde i dalje suočeni sa vrlo visokim cenama električnih vozila. Kako vreme bude odmicalo, svakako se očekuje da cene budu niže, a u Kini je to vreme već došlo. Štaviše, ukoliko bi dobila dozvolu da se prodaju u Evropi, kineska vozila na struju bi ozbiljno ugrozila evropske proizvođače..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila, vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti o električnim automobilima, najnovije vesti o električnim vozilima, električni automobili u kini, električni automobili kina, električni automobili kina niske cene"/>

        <link th:href="@{/css/vest.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/vestsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/vestbg.jpg">
    <img src="/img/vestbg.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
</div>



<div class="container py-5">

    <div class="row">
        <div class="col">
            <div class="blog-posts single-post">

                <article class="post post-large blog-single-post border-0 m-0 p-0">


                    <div class="post-content ms-0">
                        <h2 class="font-weight-semi-bold">U Kini značajno pale cene električnih automobila</h2>

                        <div class="post-meta">
                            <span><i class="far fa-calendar"></i>24.11.2021.</span>
                            <!--                                           <span><i class="far fa-folder"></i> <a href="#">Lifestyle</a>, <a href="#">Design</a> </span>  -->
                            <!--<span><i class="far fa-user"></i> <a href="#">Revija HAK</a> </span>-->  
                            <span><i class="far fa-user"></i>Revija HAK</span>  

                            <span><i class="far fa-comments"></i> <a href="#comments">Komentari (0)</a></span>
                        </div>

                        <p><b>I dok se na Starom kontinentu sve odvija sporije nego na Istoku planete, tako smo ovde i dalje suočeni sa vrlo visokim cenama električnih vozila. 
                                Kako vreme bude odmicalo, svakako se očekuje da cene budu niže, a u Kini je to vreme već došlo. Štaviše, ukoliko bi dobila dozvolu da se prodaju 
                                u Evropi, kineska vozila na struju bi ozbiljno ugrozila evropske proizvođače.</b></p>
                        <p>Prema analizi Jato Dajnamiks kompanije, čak su i evropski e-modeli koji se prodaju u Kini počeli da gube na popularnosti zbog visokih cena.</p>

                        <div class="post-image ms-0">
                            <figure> 
                                <img src="/img/kinaAuto.jpg" class="img-fluid img-thumbnail img-thumbnail-no-borders rounded-0" alt="Električni automobili iz Kine" style="object-fit: cover;height: 568px;width: 100%;">
                                <figcaption>Izvor: ZHANG JINGANG / Newscom / Profimedia</figcaption>  
                            </figure>  
                        </div>
                        <p>Prosečne cene kineskih vozila na struju su pale sa oko 40.000 na 22.000 evra. Marke koje prednjače u Nio, Ora i Wey. Najjeftinije vozilo na struju 
                            tamo košta 3.700, a poređenja radi, najpovoljniji e-automobil u Evropi je iznad 12.000 evra. Takođe, prosečna cena e-vozila je u EU od 2011. godine 
                            porasla za 10.000 evra i iznosi oko 42.000, dok je u SAD oko 36.000 evra.</p>

                        <p>Dakle, kineski proizvođači električnih automobila u ovom trenutku imaju veliku prednost nad evropskim i američkim, objašnjavaju iz Jato Dynamics. Za sada 
                            je to veliki problem za evropske marke koje nastupaju na kineskom tržištu, ali zaostatak bi mogao da se pokaže vrlo skupim na evropskom tržištu, piše 
                            revija HAK.
                        </p>
                        <p>Porschei ili Mercedesi imaju svoju publiku i uvek će je imati, ali u segmentu vozila za masovnu publiku Kinezi su u prednosti – njihovim električnim 
                            automobilima toliko je pala cena da je kineska vlada smanjila subvencije za njihovu kupovinu. Čak se i Volkswagenov SUV ID.4 susreo s ozbiljnim 
                            problemima u Kini gde mu prodajne brojke nisu idealne.</p>


                        <div class="post-block mt-5 post-share">
                            <h4 class="mb-3">Podelite vest</h4>

                            <!-- Go to www.addthis.com/dashboard to customize your tools -->
                            <div class="addthis_inline_share_toolbox" data-url="https://emobilnost.rs/u-kini-znacajno-pale-cene-elektricnih-automobila" data-title="U Kini značajno pale cene električnih automobila" style="clear: both;">
                                <div id="atstbx" class="at-resp-share-element at-style-responsive addthis-smartlayers addthis-animated at4-show" aria-labelledby="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" role="region"><span id="at-5ad1dcba-9c33-4d96-960f-cc6c95bbd10c" class="at4-visually-hidden">AddThis Sharing Buttons</span>
                                    <div class="at-share-btn-elements"><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-facebook" style="background-color: rgb(59, 89, 152); border-radius: 16px;"><span class="at4-visually-hidden">Share to Facebook</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-facebook-1" class="at-icon at-icon-facebook" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-facebook-1">Facebook</title>
                                                <g>
                                                <path d="M22 5.16c-.406-.054-1.806-.16-3.43-.16-3.4 0-5.733 1.825-5.733 5.17v2.882H9v3.913h3.837V27h4.604V16.965h3.823l.587-3.913h-4.41v-2.5c0-1.123.347-1.903 2.198-1.903H22V5.16z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-twitter" style="background-color: rgb(29, 161, 242); border-radius: 16px;"><span class="at4-visually-hidden">Share to Twitter</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-twitter-2" class="at-icon at-icon-twitter" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-twitter-2">Twitter</title>
                                                <g>
                                                <path d="M27.996 10.116c-.81.36-1.68.602-2.592.71a4.526 4.526 0 0 0 1.984-2.496 9.037 9.037 0 0 1-2.866 1.095 4.513 4.513 0 0 0-7.69 4.116 12.81 12.81 0 0 1-9.3-4.715 4.49 4.49 0 0 0-.612 2.27 4.51 4.51 0 0 0 2.008 3.755 4.495 4.495 0 0 1-2.044-.564v.057a4.515 4.515 0 0 0 3.62 4.425 4.52 4.52 0 0 1-2.04.077 4.517 4.517 0 0 0 4.217 3.134 9.055 9.055 0 0 1-5.604 1.93A9.18 9.18 0 0 1 6 23.85a12.773 12.773 0 0 0 6.918 2.027c8.3 0 12.84-6.876 12.84-12.84 0-.195-.005-.39-.014-.583a9.172 9.172 0 0 0 2.252-2.336" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a><a role="button" tabindex="0" class="at-icon-wrapper at-share-btn at-svc-compact" style="background-color: rgb(255, 101, 80); border-radius: 16px;"><span class="at4-visually-hidden">Share to More</span><span class="at-icon-wrapper" style="line-height: 20px; height: 20px; width: 20px;"><svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 32 32" version="1.1" role="img" aria-labelledby="at-svg-addthis-3" class="at-icon at-icon-addthis" style="fill: rgb(255, 255, 255); width: 20px; height: 20px;">
                                                <title id="at-svg-addthis-3">AddThis</title>
                                                <g>
                                                <path d="M18 14V8h-4v6H8v4h6v6h4v-6h6v-4h-6z" fill-rule="evenodd"></path>
                                                </g>
                                                </svg></span></a></div>
                                </div>
                            </div>
                            <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-60ba220dbab331b0"></script>

                        </div>

                        <div class="post-block mt-5 post-similar">
                            <h4 class="mb-3">Slične vesti</h4>
                            <div class="blog-section blog-section-small">
                                <div class="row">
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/polovni-elektricni-automobili-ima-li-garancije-da-ce-baterija-trajati}">
                                                    <img src="/img/elautopunjenje.jpg" alt="Električni automobil koji se puni">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">24.11.2021.</p>
                                                <h3><a th:href="@{/polovni-elektricni-automobili-ima-li-garancije-da-ce-baterija-trajati}">Polovni električni automobili: Ima li garancije da će baterija trajati?</a></h3>
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{polovni-elektricni-automobili-ima-li-garancije-da-ce-baterija-trajati}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/kia-ukida-benzince-i-dizelase}">
                                                    <img src="/img/kia.jpg" alt="Kia električni automobil">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">24.11.2021.</p>
                                                <h3><a th:href="@{/kia-ukida-benzince-i-dizelase}">I Kia ukida benzince i dizelaše</a></h3>
                                                <span class="separatorBtn"></span>
                                                <a th:href="@{kia-ukida-benzince-i-dizelase}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>
                                    <div class="col-md-6 col-lg-4 d-flex">
                                        <article class="post text-left">
                                            <figure class="feature-image">
                                                <a th:href="@{/stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}">
                                                    <img src="/img/povoljnijiAuto1.png" alt="Fiat električni automobil">
                                                </a>
                                            </figure>
                                            <div class="entry-content">
                                                <p class="dateNews">23.11.2021.</p>
                                                <h3><a th:href="@{/stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}">Stižu jeftini električni automobili: Koliko će 
                                                        koštati i ko je sve u igri</a></h3>

                                                <span class="separatorBtn"></span>
                                                <a th:href="@{stizu-jeftiniji-elektricni-automobili-koliko-ce-kostati-i-ko-je-sve-u-igri}" class="blogBtn" >Pročitajte više</a>
                                            </div>
                                        </article>
                                    </div>

                                </div>
                            </div>
                        </div>


                        <div id="comments" class="post-block mt-3 post-comments">
                            <!--<h4 class="mb-3">Komentari (3)</h4>-->
                            <h4 class="mb-3">Još uvek nema komentara</h4>
                            <!--                            <ul class="comments">
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="https://i.ya-webdesign.com/images/profile-avatar-png-8.png">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae. Sed dui lorem, adipiscing in adipiscing et, interdum nec metus. Mauris ultricies, justo eu convallis placerat, felis enim ornare nisi, vitae mattis nulla ante id dui.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                            
                                                                <ul class="comments reply">
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-3.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                    <li>
                                                                        <div class="comment">
                                                                            <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                                <img class="avatar" alt="avatar image" src="img/avatars/avatar-4.jpg">
                                                                            </div>
                                                                            <div class="comment-block">
                                                                                <div class="comment-arrow"></div>
                                                                                <span class="comment-by">
                                                                                    <strong>Marko Milošević</strong>
                                                                                    <span class="float-end">
                                                                                        <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                                    </span>
                                                                                </span>
                                                                                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam viverra euismod odio, gravida pellentesque urna varius vitae, gravida pellentesque urna varius vitae.</p>
                                                                                <span class="date float-end">29.10.2021, 18:45</span>
                                                                            </div>
                                                                        </div>
                                                                    </li>
                                                                </ul>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                            <li>
                                                                <div class="comment">
                                                                    <div class="img-thumbnail img-thumbnail-no-borders d-none d-sm-block">
                                                                        <img class="avatar" alt="avatar image" src="img/avatars/avatar.jpg">
                                                                    </div>
                                                                    <div class="comment-block">
                                                                        <div class="comment-arrow"></div>
                                                                        <span class="comment-by">
                                                                            <strong>Marko Milošević</strong>
                                                                            <span class="float-end">
                                                                                <span> <a href="#"><i class="fas fa-reply"></i> Odgovori</a></span>
                                                                            </span>
                                                                        </span>
                                                                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                                                                        <span class="date float-end">29.10.2021, 18:45</span>
                                                                    </div>
                                                                </div>
                                                            </li>
                                                        </ul>-->

                        </div>

                        <div class="post-block mt-5 post-leave-comment" >
                            <h4 class="mb-3">Ostavite komentar</h4>

                            <form class="contact-form p-4 rounded bg-color-grey" th:action="@{/posaljiKomentar}" method="POST">
                                <div class="p-2">
                                    <!--                                    <div class="row">
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="ime" class="form-label required">Ime i prezime</label>
                                                                                <input type="text" value="" data-msg-required="Unesite ime i prezime." maxlength="100" class="form-control" name="ime" required="">
                                                                            </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="ime" class="form-label required">Ime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                                                                </div>
                                                                                                                <div class="form-group">
                                                                                                                    <label for="prezime" class="form-label required">Prezime</label>
                                                                                                                    <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                                                                </div>
                                                                            <div class="form-group col-lg-6">
                                                                                <label for="email" class="form-label required">Email adresa</label>
                                                                                <input type="email" value="" data-msg-required="Unesite email adresum" data-msg-email="Unesite validnu email adresum" maxlength="100" class="form-control" name="email" required="">
                                                                            </div>
                                                                        </div>-->
                                    <div class="form-group">
                                        <label for="ime" class="form-label required">Ime</label>
                                        <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                    </div>
                                    <!--                                    <div class="form-group">
                                                                            <label for="ime" class="form-label required">Ime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite ime." maxlength="100" class="form-control" name="ime" required="">
                                                                        </div>-->
                                    <!--                                    <div class="form-group">
                                                                            <label for="prezime" class="form-label required">Prezime</label>
                                                                            <input type="text" value="" data-msg-required="Unesite prezime." maxlength="100" class="form-control" name="prezime" required="">
                                                                        </div>-->

                                    <div class="row">
                                        <div class="form-group col">
                                            <label for="poruka" class="form-label required">Komentar</label>
                                            <textarea maxlength="5000" data-msg-required="Napišite Vaš komentar." rows="5" class="form-control" name="poruka" required=""></textarea>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="form-group col mb-0">
                                            <button type="submit" class="sendComment">Pošalji</button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>

                    </div>
                </article>

            </div>
        </div>
    </div>

</div>





<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>