<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | U pripremi</title>

        <meta name="description" content="Web sajt E-Mobilnost je u pripremi. Uskoro će biti objavljen..."/> 
        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, u pripremi, sajt u pripremi, sajt u izradi"/>

        <link th:href="@{/css/upripremi.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->

                  <th:block th:insert="fragments/topbar :: topbar" />


<th:block th:insert="fragments/navigation :: navbar" />


<div class="full-size-img-error">
    <section class="error-page-area text-center">
        <div class="container-fluid">
            <h1>E-Mobilnost</h1>
            <h2>Web sajt je u pripremi!</h2>
            <p>
                Kontaktirajte nas <span class=""><a th:href="@{/kontakt}">ovde</a></span>.
            </p>
            <a class="uclani-se-btn" th:href="@{/}">Nazad na početnu</a>
        </div>
    </section>
</div>



<!--<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>-->


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>