<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | O nama</title>

        <meta name="description" content="Margotekstil o nama. Margotekstil je firma koja se bavi uređenjem poslovnog i ličnog prostora. About us."/> 

        <link th:href="@{/css/upripremi.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->



<th:block th:insert="fragments/navigation :: navbar" />


<div class="full-size-img-error">
    <section class="error-page-area text-center">
        <div class="container-fluid">
            <h1>E-Mobilnost</h1>
            <h2>Web sajt je u pripremi!</h2>
            <p>
                Kontaktirajte nas <span class=""><a th:href="@{/contact}">ovde</a></span>.
            </p>
            <a class="uclani-se-btn" th:href="@{/}">Nazad na početnu</a>
        </div>
    </section>
</div>



<!--<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>-->


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>