<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Vesti i novosti u svetu električnih vozila | E-Mobilnost</title>

        <meta name="description" content="Najnovije vesti i novosti o svetu električnih vozila | E-Mobilnost"/> 
        
         <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila,
              vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->
              <th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/carvestismall.jpg">
    <source media="(min-width: 992px)" srcset="/img/carvestiCropped.jpg">
    <img src="/img/carvestiCropped.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Vesti</h3>
</div>

<section class="blog-section">
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/miodrag-makaric-mica}">
                            <img src="/img/mica.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p class="dateNews">15.11.2021.</p>
                        <h3><a th:href="@{/miodrag-makaric-mica}">Miodrag Makarić - Mića: Pionir elektromobilnosti - šampion biznisa</a></h3>
                        <p>Vlasnik restorana Ruža Rumena i fast food brenda BURGER PLUS Milorad Makarić je jedan od prvih koji je kroz svoj biznis...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{/miodrag-makaric-mica}" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex ">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/prvih-30000km-na-struju}">
                            <img src="/img/kona.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p class="dateNews">15.11.2021.</p>
                        <h3><a th:href="@{/prvih-30000km-na-struju}">Prvih 30 000 km na struju</a></h3>
                        <p>Aktivan vozač sam punih 40 godina, od svoje 18-te. Počeo sam davne 80-te, naravno sa nacinalnom klasom, popularnim fićom...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{/prvih-30000km-na-struju}" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a th:href="@{/bonton-za-vozace-elektricnih-vozila}">
                            <img src="/img/charge.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">29.10.2021.</p>
                        <h3><a th:href="@{/bonton-za-vozace-elektricnih-vozila}">Bonton za vozače električnih vozila</a></h3>
                        <p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>
                        <span class="separatorBtn"></span>
                        <a th:href="@{/bonton-za-vozace-elektricnih-vozila}" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            
            
<!--            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a href="#">
                            <img src="https://assets.entrepreneur.com/providers/stocknews/hero-image-stocknews-373163.jpeg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">12.03.2020.</p>
                        <h3><a href="#">Subvencije države za kupovinu električnih i hibridnih vozila</a></h3>
                        <p>Ministarstvo zaštite životne sredine Vlade Republike Srbije saopštilo je da je Vlada na današnjoj sednici donela Uredbu o 
                            uslovima i načinu sprovođenja subvencionisane...</p>
                        <span class="separatorBtn"></span>
                        <a href="" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a href="#">
                            <img src="https://3.bp.blogspot.com/-kO9gmrcwSPE/UbXQcRWWUSI/AAAAAAAAQP4/qnVmXSZDlz0/s1600/nissan+leaf+-+technews24h+-.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">22.06.2021.</p>
                        <h3><a href="#">Španska Vlada subvencioniše kupovinu električnih vozila</a></h3>
                        <p>Potpredsednica Vlade Španije i ministarka ekologije Teresa Ribera izjavila je da će Vlada sa 400 miliona evra podržati kupovinu električnih vozila...</p>
                        <span class="separatorBtn"></span>
                        <a href="" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a href="#">
                            <img src="https://3.bp.blogspot.com/-kO9gmrcwSPE/UbXQcRWWUSI/AAAAAAAAQP4/qnVmXSZDlz0/s1600/nissan+leaf+-+technews24h+-.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">22.06.2021.</p>
                        <h3><a href="#">Bonton za vozače električnih vozila</a></h3>
                        <p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>
                        <span class="separatorBtn"></span>
                        <a href="" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a href="#">
                            <img src="https://3.bp.blogspot.com/-kO9gmrcwSPE/UbXQcRWWUSI/AAAAAAAAQP4/qnVmXSZDlz0/s1600/nissan+leaf+-+technews24h+-.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">22.06.2021.</p>
                        <h3><a href="#">Bonton za vozače električnih vozila</a></h3>
                        <p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>
                        <span class="separatorBtn"></span>
                        <a href="" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>
            <div class="col-md-6 col-lg-4 d-flex">
                <article class="post text-left">
                    <figure class="feature-image">
                        <a href="#">
                            <img src="https://3.bp.blogspot.com/-kO9gmrcwSPE/UbXQcRWWUSI/AAAAAAAAQP4/qnVmXSZDlz0/s1600/nissan+leaf+-+technews24h+-.jpg" alt="">
                        </a>
                    </figure>
                    <div class="entry-content">
                        <p  class="dateNews">22.06.2021.</p>
                        <h3><a href="#">Bonton za vozače električnih vozila</a></h3>
                        <p>Broj električnih vozila na srpskim saobraćajnicama svakog je dana sve veći...</p>
                        <span class="separatorBtn"></span>
                        <a href="" class="blogBtn" >Pročitajte više</a>
                    </div>
                </article>
            </div>-->

        </div>

        <!--ubaciti pagination-->

<!--        <div class="pagination">
            <ul>
                <a class="disabled" href="#">«</a>
                <a class="is-active" href="#"><li>1</li></a>
                <a href="#"><li>2</li></a>
                <a href="#"><li>3</li></a>
                <a href="#"><li>4</li></a>
                <a href="#"><li>5</li></a>
                <a href="#"><li>6</li></a>
                <a class="disabled" href="#">»</a>

            </ul>
        </div>-->

        <!--                <div class="row">
                            <div class="col-12 text-center">
                                <a th:href="@{/vesti}" class="btn-underlined">SVE VESTI</a>
                            </div>
                        </div>-->
    </div>
</section>


</div>

<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>