<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>Vesti i novosti u svetu električnih vozila | E-Mobilnost</title>

        <meta name="description" content="Najnovije vesti i novosti o svetu električnih vozila | E-Mobilnost"/> 

        <meta name="keywords" content="e-mobilnost, srbija, beograd, udruženje, udruženja vozača električnih vozila, udruženja ljubitelja električnih vozila, udruženja vozača i 
              ljubitelja električnih vozila, emobilnost, električna vozila, električni automobili, vozila, automobili, vesti, novosti, vesti o električnim vozilima, vesti električna vozila,
              vesti o električnim automobilima, vesti električni automobili, novosti o električnim automobilima, novosti električni automobili, najnovije vesti"/>

        <link th:href="@{/css/onama.css}" rel="stylesheet" type="text/css" />

    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/pagination-custom.css}" rel="stylesheet" type="text/css" />

</head>

<body>
    <!--<img src="/img/car-onama.jpg" class="header-img " alt="o-nama-header-image">-->
<th:block th:insert="fragments/topbar :: topbar" />

<picture>
    <source media="(max-width: 776px)" srcset="/img/vestsmallscreen.jpg">
    <source media="(min-width: 992px)" srcset="/img/vestbg.jpg">
    <img src="/img/vestbg.jpg" class="header-img " alt="o-nama-header-image">
</picture>

<th:block th:insert="fragments/navigation :: navbar" />

<div class="text-box text-box-mini">
    <h2 class="big-header-hidden">E-Mobilnost</h2>
    <h3>Vesti</h3>
</div>

<section class="blog-section">
    <div class="container">

        <div class="row">
            <th:block th:each="vest:${listaVesti}">
                <div class="col-md-6 col-lg-4 d-flex align-items-stretch">
                    <article class="post text-left">
                        <figure class="feature-image">
                            <a th:href="@{/pregled-vesti/{naslov} (naslov=${vest.naslovduzi})}">
                                <img th:src="@{/slika/{slikaId} (slikaId=${vest.slika.id})}" th:alt="${vest.slika.alttext}" th:title="${vest.slika.title}">
                            </a>
                        </figure>
                        <div class="entry-content">
                            <p class="dateNews"><span th:text="${#temporals.format(vest.datum,'dd.MM.yyyy.')}">16.12.2021.</span></p>
                            <h3><a th:href="@{/pregled-vesti/{naslov} (naslov=${vest.naslovduzi})}"><span th:text="${vest.naslov}"></span></a></h3>
                            <p><span th:utext="${#strings.abbreviate(vest.tekst,250)}"></span></p>
                            <span class="separatorBtn"></span>
                            <a th:href="@{/pregled-vesti/{naslov} (naslov=${vest.naslovduzi})}" class="blogBtn">Pročitajte više</a>
                            <div class=" mt-3" sec:authorize="hasAnyAuthority('ADMIN')" >
                                <span class="separatorBtn darker"></span>
                                <a th:href="@{/admin/admin-edit/{naslov} (naslov=${vest.naslovduzi})}" class="blogBtn darker">Izmeni vest</a>
                            </div>
                        </div>
                    </article>
                </div>
            </th:block>


        </div>

        <!--ubaciti pagination-->
        <th:block th:insert="fragments/pagination :: pagination (${listaVesti})" />
        




    </div>
</section>




<th:block th:insert="fragments/footer :: footer" />

<a id="back-to-top-button"></a>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>