<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/extras/spring-security">

    <head>
        <title>E-Mobilnost | Greška</title>

        <meta name="description" content="E-Mobilnost Error page. Ako ste stigli do ove stranice nešto nije kako treba."/> 

    <th:block th:insert="fragments/head :: head" />
    <link th:href="@{/css/error.css}" rel="stylesheet" type="text/css" />



</head>

<body>
    <!--    <img src="/img/error.jpg" class="header-img" alt="error-header-image">-->


<th:block th:insert="fragments/navigation :: navbar" />



<div class="full-size-img-error">
    <section class="error-page-area text-center">
        <div class="container-fluid">
            <h1>404</h1>
            <h2>Stranica nije pronađena!</h2>
            <p>
                Žao nam je, ali tražena stranica nije pronađena <br> ili je premeštena na drugu adresu.
            </p>
            <a class="uclani-se-btn" th:href="@{/}">Nazad na početnu</a>
        </div>
    </section>
</div>


<th:block th:insert="fragments/scripts :: scripts" />

</body>

</html>