$font-big-header: 'Audiowide', cursive;
$font-rest: 'Open Sans', sans-serif;
$font-for-numbers: 'Lato', sans-serif;
$font-handwriting: 'Italianno', cursive;


$white-color: #fff;
$redish-color: #B23539;
$brown-black-color: #211B14;
$burgundy-color: #892F2B;
$light-beige-color: #e6e6e4;
$greyish-color: #525252;

