$font-big-header: 'Audiowide', cursive;
$font-rest: 'Open Sans', sans-serif;
$font-for-numbers: 'Lato', sans-serif;
$font-handwriting: 'Italianno', cursive;


$white-color: #fff;
$redish-color: #B23539;
$brown-black-color: #211B14;
$burgundy-color: #892F2B;
$light-beige-color: #e6e6e4;
$greyish-color: #525252;


$green-color-h: 86;
$green-color-s: 54%;
$green-color-l: 51%;
$green-color-a: 1;


$blue-color-h: 229;
$blue-color-s: 47%;
$blue-color-l: 43%;
$blue-color-a: 1;

//black #000000
$main-color-h: 0;
$main-color-s: 0;
$main-color-l: 0;
$main-color-a: 1;


/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/

/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/

/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/


