/*buttons*/
/*tabela / lista fajlova*/
/*end of tabela / lista fajlova*/
/* .user-icon-nav {
                 padding: 50px 0 30px 0;
        }
*/


@import "./variables";
@import "./mixins";


.note-editor {
    .note-toolbar {
        background-color: hsla($green-color-h, $green-color-s, 98%, $green-color-a);

    }
}
.note-popover {
    .popover-content {
        background: #fff8f0;
    }
}
.btn-group-vertical {
    >.btn {
        color: #000;
    }
}
.btn-group {
    >.btn {
        color: #000;
    }
}
.note-editor.note-airframe {
    border: 1px solid #9acb37;
    .note-editing-area {
        .note-editable {
            &:focus {
                border: 2px solid #799e4e;
            }
        }
    }
}
.note-editor.note-frame {
    border: 2px solid hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);;
    .note-editing-area {
        .note-editable {
            &:focus {
                border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);;
            }
        }
    }
}
.btn-choose-file {
    border: 2px solid #81a459;
    color: #444443;
    padding: 0.3rem 1rem;
    cursor: pointer;
    font-weight: 400;
    border-radius: 4px;
    &:hover {
        border: 2px solid #81a459;
        color: #fff;
        background-color: #81a459;
        transition: 0.5s;
    }
}
#file-chosen {
    margin-left: 0.5rem;
    color: #000;
}
body {
    font: 300 14px/1.86 $font-rest;
    color: #444443;
    -webkit-font-smoothing: antialiased;
    position: relative;
    background-color: hsla($green-color-h, $green-color-s, 98%, $green-color-a);
    min-width: 320px;
}
h3 {
    margin-bottom: 12px;
    line-height: 1.25;
    font-size: 1.5em;
    &:last-child {
        margin-bottom: 0;
    }
}
ul {
    padding: 0px;
    margin: 0px;
    &:not(.btn-grp) {
        line-height: 1.68;
        &:last-child {
            margin-bottom: 0;
        }
    }
    li {
        list-style: none;
    }
}
table {
    &:last-child {
        margin-bottom: 0;
    }
}
a {
    outline: 0;
    transition: all 0.5s;
    color: #2b56f5;
    &:link {
        text-decoration: none;
        text-decoration: none !important;
    }
    &:visited {
        text-decoration: none;
        text-decoration: none !important;
    }
    &:hover {
        outline: 0;
        color: #46bdf4;
        text-decoration: none !important;
    }
    &:focus {
        outline: 0;
        color: #46bdf4;
    }
    &:active {
        outline: 0;
        color: #46bdf4;
    }
}
.container {
    z-index: 5;
}
.btn-save-vest {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 5px;
    color: $white-color;
    /*text-transform: uppercase;*/
    font-size: 1rem;
    /*letter-spacing: 0.05rem;*/
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        border-radius: 5px;
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
        transition: all 0.3s;
        border-radius: 5px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            width: 100%;
        }
    }
    &:focus {
        outline: none;
    }
}
.btn-no {
    font-size: 1rem;
    color: $brown-black-color;
    margin-left: 1rem;
    transition: all 0.3s;
    padding-bottom: 0.2rem;
    &:hover {
        border-bottom: 1px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        color: $brown-black-color;
    }
}

.btn-odustani {
    /*width: 100%;*/
    margin-top: 0.5rem;
    /*display: inline-block;*/
    text-align: center;
    /*padding: 0.75rem 1.25rem;*/
    padding: 8px 20px;
    border-radius: 5px;
    color: hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a) !important;
    background: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    /*letter-spacing: 0.15rem;*/
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
    font-weight: 400;
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 102%;
        height: 102%;
        background-color: transparent;
        border-radius: 5px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        transition: all 0.3s;
        border-radius: 2px;
        z-index: -1;
    }
    &:hover {
        color: hsla($main-color-h, $main-color-s, 100%, $main-color-a) !important;
        &:before {
            width: 100%;
        }
    }
}
.dropdown-menu {
    box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
    border: none;
}
.topbar {
    background: #fff;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    min-width: 310px;
    box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.02);
    padding: 15px 0;
}
.topbar-md {
    position: relative;
    background: #fff;
    z-index: 2;
    text-align: center;
}
.topbar-action-list {
    display: inline-flex;
    align-items: center;
    margin: 0 -15px;
    justify-content: center;
    .topbar-action-item {
        padding: 0 15px;
    }
}
.topbar-action-item {
    flex-shrink: 0;
    >a {
        padding: 15px 0;
        display: inline-block;
        color: hsla($main-color-h, $main-color-s, 20%, $main-color-a);
        &:hover {
            color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);

        }
    }
    .dropdown-menu {
        min-width: auto;
        margin: 0;
        padding: 0;
    }
    .user-box {
        padding: 10px 20px;
    }
}
.topbar-action-link {
    a {
        font-size: 16px;
        line-height: 30px;
        font-weight: 400;
    }
    [class*="fa-"] {
        font-size: 18px;
        margin-right: 10px;
        line-height: 30px;
    }
}
.topbar-action-user {
    .dropdown-menu {
        margin-top: 11px;
        margin-right: -5px;
    }
    >a {
        img {
            height: 30px;
            width: 30px;
            border-radius: 50%;
        }
    }
    .user-box {
        text-align: right;
    }
}
.toggle-nav {
    width: 30px;
    display: block;
    transition: all 0.4s;
    left: 10px;
    .toggle-icon {
        margin: -7.5px 0;
    }
}
.toggle-action {
    width: 30px;
    display: block;
    transition: all 0.4s;
    right: 10px;
    .toggle-icon {
        margin: -4px 0;
    }
}
.toggle-nav.active {
    .toggle-line {
        width: 30px;
        &:nth-last-of-type(1) {
            transform-origin: bottom left;
            transform: rotate(-45deg);
        }
        &:nth-last-of-type(2) {
            opacity: 0;
        }
        &:nth-last-of-type(3) {
            opacity: 0;
        }
        &:nth-last-of-type(4) {
            transform-origin: top left;
            transform: rotate(45deg);
        }
    }
}
.toggle-action.active {
    .toggle-dot {
        position: relative;
        &:nth-last-of-type(1) {
            transform: translate(-9px, -8px);
        }
        &:nth-last-of-type(3) {
            transform: translate(9px, 8px);
        }
    }
}
.toggle-line {
    display: block;
    width: 28px;
    height: 2px;
    line-height: 0;
    background: #444443;
    margin: 5px 0;
    transition: all 0.4s;
    &:nth-last-of-type(2) {
        width: 70%;
    }
    &:nth-last-of-type(3) {
        width: 85%;
    }
}
.site-brand {
    display: inline-block;
}
.user-wraper {
    margin-top: 3rem;
}
.user-sidebar {
    position: fixed;
    width: 260px;
    z-index: 99;
    top: 0;
    left: -260px;
    height: 100%;
    overflow: scroll;
    padding: 60px 20px 20px;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
    transition: all 0.4s ease;
    display: none;

    &:before {
        position: fixed;
        top: 0;
        left: -260px;
        content: "";
        height: 100%;
        width: 260px;
        background: #fff;
        z-index: 1;
        transition: all 0.4s ease;
    }
    >* {
        &:not(.user-sidebar-overlay) {
            position: relative;
            z-index: 2;
        }
    }
    .topbar-action-link {
        a {
            color: hsla($main-color-h, $main-color-s, 20%, $main-color-a);
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            &:hover {
                color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a) !important;
            }
        }
    }
}
.user-sidebar-overlay {
    position: fixed;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.4);
    transition: all 0.4s;
    visibility: hidden;
    opacity: 0;
    z-index: -1;
}
.user-sidebar.active {
    left: 0;
    &:before {
        left: 0;
    }
    .user-sidebar-overlay {
        opacity: 1;
        visibility: visible;
        transition-delay: 0.6s;
    }
}
.user-sidebar-mobile {
    display: block;
}
.user-sidebar-sap {
    width: 35px;
    height: 3px;
    background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);

    margin: 0 0 1.3rem 2rem;
}
.user-content {
    flex-grow: 1;
    max-width: 100%;
}
.user-panel, .add-additional {
    padding: 20px;
    background: #fff;
    border-radius: 4px;
    min-height: 100%;
    box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
    label {
        color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
        font-weight: 400;
        font-size: 15px;
        margin-bottom: 0 !important;
    }
}
.user-dashboard {
    padding-top: 80px;
}
.user-box {
    text-align: center;
}
.user-image {
    img {
        width: 70px;
    }
}
.user-name {
    color: #444443;
    opacity: 0.8;
    margin-top: 8px;
    margin-bottom: 8px;
    white-space: nowrap;
}
.input-custom-border {
    position: relative;
    width: 100%;
    padding: 1.2rem;
    color: $brown-black-color;
    border: 2px solid hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);
    border-radius: 5px;
    outline: none;
    box-shadow: none;
    /*margin: 0 0 1rem 0;*/
    font-size: 0.8rem;
    letter-spacing: 1px;
    font-weight: 300;
    background: transparent;
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);
    }
}
.add-new {
    color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
}
.user-icon-nav {
    padding-bottom: 25px;
    li {
        padding: 10px 0;
        a {
            color: hsla($main-color-h, $main-color-s, 20%, $main-color-a);
            font-size: 18px;
            line-height: 24px;
            font-weight: 400;
            display: flex;
            align-items: center;
            &:hover {
                color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a) !important;
            }
            .ti {
                width: 35px;
            }
        }
    }
}
.form-control {
    width: 100%;
}
.footer-bar {
    font-size: 13px;
    padding: 20px 0;
    font-weight: 400;
    a {
        color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a) !important;

        &:hover, &:focus {
            color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a) !important;

        }
    }
}
.footer-copyright {
    display: block;
    padding: 15px 0;
    text-align: right;
    color: #444443;
}
.table-responsive {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    margin-top: 1.5rem;
}
.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    thead {
        tr {
            background-color: hsla($green-color-h, $green-color-s, 81%, $green-color-a);
            color: #444443;
        }
        th {
            padding: 10px 20px;
            border: none;
            white-space: nowrap;
            vertical-align: bottom;
            &:first-child {
                border-radius: 4px 0 0 0;
            }
            &:last-child {
                border-radius: 4px 0 0 0;
            }
        }
    }
    tr {
        background: rgba(249, 244, 239, 0.3);
        &:last-child {
            td {
                &:first-child {
                    border-radius: 0 0 0 4px;
                }
                &:last-child {
                    border-radius: 0 0 0 4px;
                }
            }
        }
        &:nth-child(even) {
            background-color: hsla($green-color-h, $green-color-s, 95%, $green-color-a);
        }
    }
    td {
        padding: 10px 20px;
        border: none;
        white-space: nowrap;
        vertical-align: top;
        span {
            color: #444443;
            display: block;
            font-weight: 400;
            font-size: 12px;
            line-height: 1.1;
            padding-top: 5px;
        }
    }
}
.link-fajla {
    &:hover {
        text-decoration: underline;
    }
}


/*form validation start*/
.invalid-feedback {
    font-size: 90%;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
    border-color: hsla(354, 70%, 74%, 1);

    &:focus {
        box-shadow: none;
        outline: none;

    }
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);
    background-image: none;
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a) !important;

    }
}
/*form validation end*/


@media (min-width: 992px) {
    .container {
        width: 940px;
    }
    .user-sidebar {
        width: 220px;
        position: relative;
        flex-grow: 0;
        flex-shrink: 0;
        box-shadow: none;
        height: auto;
        left: 0;
        padding: 0;
        transition: unset;
        display: block;
        overflow: hidden;
        margin-left: 1.5rem;
        &:before {
            display: none;
        }
    }
    .user-sidebar-overlay {
        display: none;
    }
    .user-dashboard {
        padding-top: 110px;
    }
    .user-content {
        /*margin-left: 30px;*/
    }
    ul {
        &:not(.btn-grp) {
            &:last-child {
                margin-top: 20px;
            }
        }
    }

    .user-icon-nav {
        li {
            a {
                .ti {
                    width: 0;
                }
            }
        }
    }
}
@media (min-width: 576px) {
    .user-dashboard {
        padding-top: 90px;
    }
    .user-panel, .add-additional {
        padding: 30px;
    }
}
@media (max-width: 768px) {

    .user-content-additional {
        display: block;
    }
}
@media (min-width: 768px) {
    .footer-bar {
        padding: 40px 0 20px;
    }
    .footer-copyright {
        padding: 15px 0;
    }

}
@media (max-width: 992px) {
    .user-icon-nav {
        padding: 50px 0 30px 0;
    }
    .topbar-action-list {
        display: block;
        .topbar-action-item {
            padding: 0 50px;
            >a {
                padding: 5px 0;
            }
        }
    }
    .topbar-action-link {
        a {
            line-height: unset;
        }
    }
    .user-wraper {
        margin-top: 1rem;
    }
}


/*modal start*/
.modal-content {
    padding: 1rem;
}
.close {
    font-size: 2rem;
}
label[for=galerijaslika], label[for=galerijavideo] {
    font-size: 13px;
}
/*modal end*/