
@import "./variables";
@import "./mixins";

#marketing {
    .modal-content {
        border: none;
        padding: 0;
        font-size: 14px;
        border-radius: 0;
        button.close {
            position: absolute;
            top: 0;
            right: 0;
            padding: 0;
            margin: 0;
            width: 40px;
            height: 40px;
            z-index: 1;
            text-shadow: none;
            background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
            color: hsla($main-color-h, $main-color-s, 100%, $main-color-a);
            opacity: 1;
            transition:.3s all;
            &:hover {
                background: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
            }
            &:focus {
                outline: none;
            }
        }
    }

    .modal-dialog {
        max-width: 800px;
    }
    .modal-body {
        border: none;
        position: relative;
        z-index: 0;
        padding: 3rem;
        .text {
            padding: 3rem 0;
        }
        h1 {
            font-weight: 700;
        }
        h5 {
            line-height: 1.3;
            a {
                color: #3a4da1; 
            }
        }
        .akcija-btn  {
            display: inline-block;
            padding: 0.75rem 1.25rem;
            border-radius: 5pxpx;
            color: white;
            text-transform: uppercase;
            font-size: 1rem;
            letter-spacing: 0.05rem;
            transition: all 0.3s;
            position: relative;
            overflow: hidden;
            z-index: 1;
            outline: none;
            border: none;
            /*margin-bottom:1rem;*/
            &::before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 0%;
                height: 100%;
                background-color: #70a130;
                transition: all 0.3s;
                border-radius: 5px;
                z-index: -1;
            }
            &::after {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: #8bc63f;
                border-radius: 5px;
                z-index: -2;
            }
            &:hover {
                color: #fff;
                &::before {
                    width: 100%;
                }
            }
        }
        .simpleBtnAkcija {
            color: #212529;
            transition: 0.3s all;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
    .modal-header {
        padding: 0;
        border: none;
    }
    .modal-img {
        background-image: url("/img/akcijaimage.jpg");
                /*background-image: url("/img/pogodnosti.png");*/
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
    }
}



@media screen and (max-width: 767px) {
    #marketing {
        .modal-dialog {
            max-width: 600px;
        }
        .modal-content {
            button.close {
                    padding: 1.5rem;
            }
            .modal-img {
                height: 300px;
            }
        }
        .modal-body {
            padding: 2rem;
            .text {
                padding: 1rem 0;
            }
            h1 {
                font-size: 2rem;
            }
            h5 {
                    font-size: 1.2rem !important;
            }
            .simpleBtnAkcija {
                font-size: 1.1rem !important;
            }
            .akcija-btn {
                padding: 1rem 1.25rem;
                               font-size: 1.1rem !important;

            }
        }
    }
}

@media screen and (max-width: 575px) {
    #marketing {
        .modal-content {
            .modal-img {
                height: 250px;
            }
        }
        .modal-body {
            h1 {
                font-size: 2rem;
            }
            h5 {
                    font-size: 1.2rem !important;
            }
            .simpleBtnAkcija {
                font-size: 1.1rem !important;
            }
            .akcija-btn {
                padding: 1rem 1.25rem;
                               font-size: 1.3rem !important;

            }
        }
    }
}



