@import "./variables";
@import "./mixins";

.big-header-hidden {
    display: none;
}
.text-box.text-box-mini {
    top: 9vw;
    left: 50vw;
    h3 {
        font-family: $font-rest;
        letter-spacing: normal;
        font-size: 3.5vw !important;
    }
}

.infos {
    margin: 5rem 0;
    .center-info {
        text-align: center;
        padding: 2rem .7rem;
        transition: transform 300ms ease 0ms;
        &:hover {
            transform: scaleX(1.05) scaleY(1.05)!important;
            box-shadow: 7px 8px 14px 2px #eeeeee;
        }
        i {
            padding-bottom: 1.5rem;
            color: $greyish-color;
        }
        .c-info {
            color: $brown-black-color;
            h4 {
                font-size: 1.4rem;
                font-weight: 600;
            }
            p {
                font-family: $font-for-numbers;
                font-display: swap;
                font-size: 1.2rem;
                a {
                    color: $brown-black-color;
                    &:hover {
                        color: #5b6aaf;
                    }
                }
            }
        }
    }
}

.text-box-contact-page {
    top: 8vw !important;
}

.contact-us-page {
    margin-top: 2rem;
    margin-bottom: 4rem;
    .bg-color-contact-page {
        p {
            font-size: 1.2rem;
            color:  $brown-black-color;
            margin-left: 2.5rem;
            min-width: 50%;
        }
        .social-icons-contact-page {
            @include social-icons;
        }
    }
    .contact-form {

        .section-heading {
            margin-bottom: 30px;
        }
        .contact-header-page {
            color: $burgundy-color;
            padding-bottom: .7rem;
            font-size: 2.3rem;
            font-weight: 700;
        }
        p {
            color: $brown-black-color;
            margin-bottom: 1.5rem;
        }
        input, textarea {
            /*            background: transparent;
                        border: 1px solid $brown-black-color;
                        &:focus {
                            outline: 0;
                            box-shadow: 0 0 8px rgba(137, 47, 43, 0.36);
                        }*/
            position: relative;
            width: 100%;
            padding: 1.3rem;  
            color: #211b14;
            border: 2px solid hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);
            border-radius: 5px;
            outline: none;
            box-shadow: none;
            margin: 0 0 .5rem 0;
            font-weight: 300;
            &:focus {
                box-shadow: none;
                outline: none;
                border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);
            }
        }
        input {
            max-width: 100%;
        }
        textarea {
            max-width: 100%;
            margin-bottom: 1.25rem;
        }
        label {
            color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
        }

    }
}

.posaji-btn-contact-form-page {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    color: $white-color;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        border-radius: 5px;
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
        transition: all 0.3s;
        border-radius: 5px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            width: 100%;
        }
    }
    &:focus {
        outline: none;
    }

}

/*google map*/
iframe {
    width: 100%;
    box-shadow: 2px 1px 15px -1px #e8e8e8;
}
/*end of google map*/

.floating-placeholder {
    /*padding-top: 20px;*/
    padding: 0;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    label {
        position: absolute;
        line-height: 20px;
        left: 0;
        bottom: 8px;
        opacity: 0;
        font-size: .875rem;
        transition: all .2s;
        pointer-events: none;
    }
}
.floating-placeholder.float {
    label {
        bottom: 50px;
        opacity: 1;
    }
}

.floating-placeholder-textarea {
    position: relative;
    label {
        position: absolute;
        line-height: 20px;
        left: 0;
        bottom: 8px;
        opacity: 0;
        font-size: .9rem;
        transition: all .2s;
        pointer-events: none;
    }
}
.floating-placeholder-textarea.float {
    label {
        bottom: 162px;
        opacity: 1;
    }
}


@media screen and (max-width:992px) {
    .contact-us-page {
        .bg-color-contact-page {          
            margin: 4rem 0 0 0 !important;
            iframe {
                height: 400px !important;
            }
            .social-icons-contact-page {
                .follow {
                    margin-right: 6rem;
                }
            }
        }
    }
}


@media screen and (max-width:767px) {
    .map-iframe {
        /*margin: 4rem 0 0 0 !important;*/
    }
    .contact-us-page {
        margin-top: 0;
        .contact-form {
            padding-top: 2rem;
        }
    }
    .infos {
        margin: 2rem 0 0 0;
    }
    .big-header-hidden {
        display: block;
    }
    .text-box.text-box-mini {
        position: absolute;
        top: 19vw;
        left: 47vw;
        h3 {
            /*font-family: $font-handwriting;*/
            /*letter-spacing: normal;*/
            font-size: 5.5vw !important;
        }
    }
}

@media screen and (max-width:575px) {
    .infos {
        .center-info {
            i {
                font-size: 2em;
                padding-bottom: 1.2rem;
            }
            .c-info {
                h4 {
                    font-size: 1.1rem;
                }
                p {
                    font-size: 1rem;
                }
            }
        }
    }
    .contact-us-page {
        margin-top: 0;
        .contact-form {
            padding-top: 2rem;
            .contact-header-page {
                font-size: 2rem;
            }
        }
        .bg-color-contact-page {
            .social-icons-contact-page {
                .follow {
                    margin-right: 0;
                    font-size: 1.6rem;
                }
            }
        }
    }
    .text-box-contact-page {
        top: 9vw !important;
    }
}

@media screen and (max-width:407px) {
    .contact-us-page  {
        .bg-color-contact-page {
            .social-icons-contact-page {
                .follow {
                    margin-right: 5.4rem;
                }
            }
        }
    }
}
