@import "./variables";
@import "./mixins";
@import "./mojscss-contact";
@import "./mojscss-shop";
@import "./mojscss-proizvod";
@import "./mojscss-error404";
@import "./mojscss-shoppingCart";
@import "./mojscss-alert";
@import "./mojscss-adminNoviProizvod";
@import "./mojscss-adminNovaSlika";
@import "./mojscss-adminIzmeniProizvod";
@import "./mojscss-proizvodSlikeCarousel";
@import "./mojscss-adminPregledPorudzbine";

* {
    font-family: $font-rest;
    font-display: swap;
}

body {
    overflow-x: hidden;
}

/*pagination experiment*/
.pagination {
    padding: 50px 0 0 0;
    @include flexCenter;
    ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    a {
        display: inline-block;
        padding: 10px 18px;
        color: hsla($main-color-h, $main-color-s, 20%, $main-color-a); 
        &:hover {
            color: hsla($main-color-h, $main-color-s, 20%, $main-color-a); 
            border-bottom: 3px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        }
    }
    .is-active {

        font-weight: bold;
        border-bottom: 3px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);

    }
}
/*end of pagination*/

img {
    height: auto;
    max-width: 100%;
    vertical-align: middle;
}

.kontejner {
    position: relative;
    text-align: center;
}
.maliekran {
    display: none;

}
.header-img {
    @include headerImage();
    filter: brightness(60%);
}
.navbar-expand-xl {
    display: none;
}

/*blog*/
.blog-section {
    padding: 100px 0;
    .post {
        box-shadow: 0px 0px 13px -4px rgba(0, 0, 0, 0.2);
        transition: all .3s ease-in-out;
        margin: 0 0 2rem 0;
        &:hover {
            /*transform: scale(1.02);*/
            img {
                opacity: .7;
            }
            .separatorBtn {
                width: 50px;
            }
        }

    }
    .entry-content {
        padding: 0 20px 25px;
    }
    .dateNews {
        color: hsla($main-color-h, $main-color-s, 60%, $main-color-a);


        /*color: hsla(0, 0%, 50%, 1);*/
        font-size: 14px !important;
    }
    .entry-meta {
        margin-left: -8px !important;
        margin-right: -8px !important;
        span {
            padding: 0 8px;
            position: relative;
            &:before {
                color: #b6b6b6;
                content: "|";
                font-size: 13px;
                position: absolute;
                right: 0;
                top: 0;
            }
        }
        a {
            color: #787878 !important;
            display: inline-block;
            font-size: 13px;
            line-height: 1.1;
            &:hover {
                color: #2c75ba !important;
            }
            &:focus {
                color: #2c75ba !important;
            }
        }
    }
    article {
        margin: 0;
        img {
            transition: all .3s ease-in-out;

            width: 100%;
            height: 200px;
            object-fit: cover;
        }
        h3 {
            font-size: 23px !important;
            font-weight: 600 !important;
            /*            color: #101f46 !important;*/
            color: hsla($main-color-h, $main-color-s, 20%, $main-color-a);
            margin-bottom: 1rem;
            &:hover {
                color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);

            }
        }
        a {
            /*color: black;*/
            text-decoration: none;
            transition: color 0.3s;
            /*            &:hover, &:focus, &:active {
                            color: #2c75ba !important;
                            text-decoration: none !important;
                            outline: 0;
                        }*/
        }
        p {
            color: hsla($main-color-h, $main-color-s, 40%, $main-color-a);
        }
    }
    .separatorBtn {
        width: 28px;
        height: 1px;
        display: inline-block;
        vertical-align: middle;
        margin-right: 8px;
        -webkit-transition: all 1s cubic-bezier(0, 0, 0.2, 1);
        transition: all 1s cubic-bezier(0, 0, 0.2, 1);
        background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
    }
    .blogBtn {
        color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        font-weight: 500;
        &:hover {
            color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);

        }
    }

}



.btn-underlined {
    display: inline-block;
    border: 2px solid transparent;
    border-radius: 0;
    text-transform: uppercase;
    width: auto;
    font-weight: 500;
    line-height: 1.5;
    transition: all .3s ease-in-out;
    color: hsla($main-color-h, $main-color-s, 20%, $main-color-a);
    padding: 7px 0 2px;
    position: relative;
    text-decoration: none;
    border: 0;
    border-bottom: 1px solid black;
    background-color: transparent;
    margin-top: 50px;
    &:hover {
        color: hsla($main-color-h, $main-color-s, 50%, $main-color-a);

    }
}
.margin-70px-top {
    margin-top: 70px;
}
/*.text-small {
    font-size: 13px !important;
    line-height: 22px !important;
    color: #828282 !important;
}*/
.margin-10px-bottom {
    margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
    .blog-section {
        padding: 100px 0 70px;
        .post {
            margin-bottom: 30px;
        }
    }
}
@media screen and (max-width: 575px) {
    .btn-underlined {
        margin-top: 0;
    }
    .blog-section {
        padding: 60px 0;
    }
    .section-heading {
        h2 {
            font-size: 24px !important;
        }
    }
}
@media screen and (max-width: 767px) {
    h5 {
        font-size: 14px !important;
    }
    .section-heading {
        h2 {
            font-size: 30px !important;
        }
    }
    h3 {
        font-size: 18px !important;
    }
}

/*blog end*/

/*navigation start*/

.navbar {
    max-width:100%;
    z-index:1;
    /*margin-top: 1rem !important;*/
    .nav-item {
        padding: 0 0.8rem;
    }
    .nav-item-custom {
        padding: 0 0.4rem;
    }
    .nav-link-admin {
        /*font-size: 1.156vw;*/
    }
    .nav-link {
        color: $white-color;
        font-size: 14px;
        &:hover {
            color: $white-color;
        }
    }

    .nav-link-custom {
        &:hover {
            color: $light-beige-color;
        }
    }
    .fancy-link-18 {
        a {
            position: relative;
            &:before {
                content: "";
                position: absolute;
                bottom: 0;
                left: 0;
                right: 50%;
                height: 2px;
                background-color: $white-color;
                transform: scaleX(0);
                transform-origin: bottom left;
                transition: transform 0.3s;
            }
            &:after {
                content: "";
                position: absolute;
                bottom: 0;
                right: 0;
                left: 50%;
                height: 2px;
                background-color: $white-color;
                transform: scaleX(0);
                transform-origin: bottom right;
                transition: transform 0.3s;
            }
            &:hover {
                &:before, &:after {
                    transform: scaleX(1);
                }
            }

        }
    }
}
.uclani-se-btn {
    display: inline-block;
    /*padding: 0.75rem 1.25rem;*/
    padding: 0.8em 1.6em !important;
    border-radius: 5px;
    color: $white-color;
    background: transparent;
    text-transform: uppercase;
    font-size: 1rem;
    /*letter-spacing: 0.15rem;*/
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    border: 2px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
    &:after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 102%;
        height: 102%;
        background-color: transparent;
        border-radius: 5px;
        z-index: -2;
    }
    &:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        transition: all 0.3s;
        border-radius: 2px;
        z-index: -1;
    }
    &:hover {
        color: $white-color;
        &:before {
            width: 100%;
        }
    }
}

.uclani-se-btn.darkText {
    color: hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a) !important;
    text-transform: none;
    &:hover {
        color: hsla($main-color-h, $main-color-s, 100%, $main-color-a) !important;

    }
}

.currentNavItem {
    &:before, &:after {
        /*opacity: 1 !important;*/
        transform: scaleX(1) !important;

    }
}

#brandlogo {
    max-width: 6vw;
}

.navbar-toggler-icon {
    position: relative;
}

.navbar-toggler-icon:before {
    content: "\f0c9";
    font-family: FontAwesome;
    position:absolute;
    font-size: 1.5rem;
    color: $white-color;
    font-display: swap;
    &:focus {
        outline: none;
    }
}
/*navigation end*/

.posalji-btn-contact-form-page {
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    color: $white-color;
    text-transform: uppercase;
    font-size: 1rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background-color: #8cc63f;*/
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        border-radius: 5px;
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
        transition: all 0.3s;
        border-radius: 5px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            width: 100%;
        }
    }
    &:focus {
        outline: none;
    }

}

/*floating placeholder on keypress start*/
.floating-placeholder {
    padding: 0 !important;
    margin-bottom: 5px;
    position: relative;
    display: inline-block;
    label {
        position: absolute;
        line-height: 20px;
        bottom: 8px;
        opacity: 0;
        font-size: .9rem;
        transition: all .2s;
        pointer-events: none;
    }
}

.floating-placeholder.float {
    label {
        bottom: 43px;
        opacity: 1;
    }
}

.floating-placeholder-textarea {
    position: relative;
    label {
        position: absolute;
        line-height: 20px;
        bottom: 8px;
        opacity: 0;
        font-size: .9rem;
        transition: all .2s;
        pointer-events: none;
    }
}
.floating-placeholder-textarea.float {
    label {
        bottom: 162px;
        opacity: 1;
    }
}
/*floating placeholder on keypress end*/


/*change navbar background color on scroll START*/
.fixed-top.scrolled {
    background-color: $white-color;
    transition: background-color 200ms linear;
    margin-top: 0 !important;
    padding: 1rem;
    box-shadow: 0px 3px 7px -6px rgba(117, 117, 117,1);
}
/*change navbar background color on scroll END*/

/*change navlink color on scroll START*/

.changenavlinkcolor.changecolor {
    color: $brown-black-color;
    &:hover {
        color: $brown-black-color;
        /*opacity: 0.7;*/
    }
}
.fancy-link-18 {
    a.changecolorfancylink {
        &:before, &:after {
            background-color: $brown-black-color;
        }
    }
}

.uclani-se-btn.changeclr {
    &:hover {
        color: $white-color;
    }
}
/*change navlink color on scroll END*/

/*naslov preko slike head start*/
.text-box {
    @include flexCenter;
    @include textboxHeader;
    top: 11vw;
    left: 50vw;
    h2 {
        font-size: 5.5vw;
    }
    p {
        padding-top: .8rem;
        font-size: 4.6vw !important;
    }
}
/*naslov preko slike head end*/

/*NAŠE USLUGE start*/
.services {
    text-align: center;
    margin-top: 3.125rem;
    h3 {
        font-size: 2.5rem;
        text-transform: uppercase;
        font-weight: 700;
        color: $redish-color;
        margin-bottom: 2.188rem;
    }
    p {
        color: $brown-black-color;
        font-size: 1.563rem;
        line-height: 1.2;

    }
}
/*NAŠE USLUGE end*/

/*3 karte za usluge start*/
.karte {
    .card {
        margin-bottom: 5rem;
        box-shadow: 1px 10px 31px -1px rgba(179,167,167,0.79);
        -webkit-box-shadow: 1px 10px 31px -1px rgba(179,167,167,0.79);
        -moz-box-shadow: 1px 10px 31px -1px rgba(179,167,167,0.79);
        border-radius: unset;
        height: 620px;
        a {
            width: 100.1%;
            height: 45%;
            img {
                width: 105%;
                object-fit: cover;
                height: 100%;
            }
        }
        .card-content {
            /*padding-bottom: 4rem;*/
            padding: .5rem;
            .card-title {
                color:  $redish-color;
                font-size: 1.7rem;
                /*margin: 1rem 0 .4rem 0;*/
                margin-top: .2rem;
                margin-bottom: 0;
                font-weight: 600;
                line-height: 1.2;
                height: 85px;
            }
            .card-text {
                color: $brown-black-color;
                font-size: 1.3rem;
                line-height: 1.25;
                padding: 1.2rem 0.2rem 0 0.2rem;
                height: 120px;
            }
            .detail-button {
                @include fullColorBtn;
                border: 0;
                padding: .8em 1.6em;
                position: relative;
                z-index: 1;
                letter-spacing: 1px;
                text-transform: uppercase;
                font-weight: 500;
            }
        }
    }
}
/*3 karte za usluge end*/


/*footer start*/

footer {
    box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
}
.wgs {
    margin-bottom: 30px;
}
.section-footer {
    padding: 80px 0 60px 0;
}
a {
    &:link {
        text-decoration: none;
    }
    &:visited {
        text-decoration: none;
    }
}
.wgs-logo {
    padding-bottom: 22px;
    display: inline-block;
}
.wgs-body {
    p {
        font-size: 0.93em;
        line-height: 1.71;
        margin-bottom: 0.75rem;
        font-size: 0.93em;
        line-height: 1.71;
        margin-bottom: 0.75rem;
        color: #444443;
        &:last-child {
            margin-bottom: 0;
        }
    }
}
.copyright-text {
    a {
        color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
        font-weight: 600;
        &:hover {
            color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
            text-decoration: none;
        }
    }
}
.wgs-title {
    text-transform: uppercase;
    color: #444443;
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 0.075em;
    margin-bottom: 1.5rem;
}
.wgs-links {
    padding-left: 0 !important;
    li {
        position: relative;
        padding: 10px 0 !important;
        line-height: 1;
        list-style-type: none;
        a {
            font-size: 0.9em;
            line-height: 20px;
            display: block;
            color: #444443;
            &:hover {
                text-decoration: underline !important;
            }
        }
    }
}
.social-links {
    padding-left: 0 !important;
    display: flex;
    margin: -3px;
    li {
        position: relative;
        padding: 5px 0 !important;
        line-height: 1;
        list-style-type: none;
        padding: 3px !important;
        a {
            color: #444443;
            display: inline-block;
            border-radius: 5px;
            border: 1px solid #444443;
            height: 40px;
            width: 40px;
            line-height: 30px;
            text-align: center;
            &:hover {
                color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
                background: $white-color;
                border-color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
                text-decoration: none;
            }
            &:active {
                color: $white-color;
                border-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
                background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
            }
        }
    }
}
.linkedin-logo {
    color: #444443;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid black;
    height: 36px;
    width: 36px;
    line-height: 32px !important;
    text-align: center;
    &:hover {
        color: orange;
        background: #fff;
        border-color: #f37c25;
        text-decoration: none;
    }
}
.footer-form {
    .form-control {
        border: 1px solid #e1e2e2;
        font-size: 0.9rem;
        &:focus {
            box-shadow: none;
            border: 2px solid #9acb37;
        }
    }
}
.send-form-btn-footer {
    border: 1px solid #333 !important;
    color: #333;
    background: #fff;
    border-radius: 0.25rem;
    box-shadow: 0px 3px 7px 0px rgba(50, 50, 51, 0.26);
    padding: 0.6rem 1.5rem;
    font-size: 1rem;
    line-height: 1.5;
    &:hover {
        color: #fff !important;
        background: black;
        cursor: pointer;
        text-decoration: none;
        transition: 500ms;
        box-shadow: none;
    }
}
.uclani-se-btn-small-cont {
    margin-top: 1.6rem;
    .uclani-se-btn-small {
        display: inline-block;
        color: #444443;
        /*padding: 0.75rem 1.25rem;*/
        padding: 0.5em 1em !important;
        border-radius: 5px;
        background: transparent;
        /*letter-spacing: 0.15rem;*/
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: 2px solid #8cc63f;

        &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 102%;
            height: 102%;
            background-color: transparent;
            border-radius: 5px;
            z-index: -2;
        }
        &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
            transition: all 0.3s;
            border-radius: 2px;
            z-index: -1;
        }
        &:hover {
            color: $white-color;
            &:before {
                width: 100%;
            }
        }
    }




}


/*footer end*/



.activity-section {
    padding-bottom: 100px;
}

.activity-bg-image {
    background-image: url("/img/carparallax.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    padding-top: 100px;
    margin-bottom: 100px;
    position: relative;

    &:before {
        content: "";
        background-color: #151515;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        opacity: 0.75;
    }
}

.section-heading-onama {
     margin-bottom: 30px !important;
}

.section-heading {
    margin-bottom: 50px;

    h5 {
        color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        font-size: 15px;
        font-weight: 700;
        line-height: 1.2;
        margin-bottom: 22px;
        text-transform: uppercase;
        display: inline-block;
    }
    h2 {
        font-size: 48px;
        font-weight: 700 !important;
        line-height: 1.1;
        text-transform: uppercase;
    }
}

.section-heading-white {
    color: $white-color;
    h2, p {
        color: $white-color;
    }
}

.title-icon-divider {
    color: #0791be;
    line-height: 1;
    position: relative;
    margin-top: 25px;
    display: flex;
}

.text-center .title-icon-divider {
    justify-content: center;
}

.section-heading-white .title-icon-divider {
    color: $white-color;
}

.title-icon-divider {
    &:before, &:after {
        content: "....";
        display: inline-block;
        font-size: 37px;
        line-height: 0;
        letter-spacing: 3px;
    }

    [class*="fa-"] {
        font-size: 20px;
        margin-left: 10px;
        margin-right: 10px;
    }
}

.activity-inner {
    display: flex;
    flex-wrap: wrap;
    .joins-us-explanation {
        color: $white-color;
    }
}

.activity-bg-image .activity-inner {
    &.row {
        margin-left: 0;
        margin-right: 0;
    }

    [class*="col-"] {
        padding-left: 0;
        padding-right: 0;
    }
}

.activity-inner .activity-item {
    border: 1px solid #d9d9d9;
    text-align: center;
    padding: 15px;
}

.activity-bg-image {
    .activity-item {
        border-width: 0 1px 0 0;
        border-color: rgba(255, 255, 255, 0.28);
        margin-bottom: 0;
    }

    [class*="col-"]:last-child .activity-item {
        border-right: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .activity-bg-image [class*=col-]:nth-child(3) ~ [class*=col-] .activity-item {
        border-bottom: none;
    }
}

@media screen and (max-width: 767px) {
    .activity-bg-image .activity-item {
        border-width: 0 1px 1px 0;
    }
    .activity-bg-image [class*=col-]:nth-child(4) ~ [class*=col-] .activity-item {
        border-bottom: none;
    }
    .activity-bg-image [class*=col-]:nth-child(2n+2) .activity-item {
        border-right: none;
    }
}

@media (max-width: 991px) and (min-width: 768px) {
    .activity-bg-image .activity-item {
        border-width: 0 1px 1px 0;
    }
    .activity-bg-image [class*=col-]:nth-child(3) .activity-item {
        border-right: none;
    }

}

.activity-inner .activity-item .activity-icon {
    margin-bottom: 15px;
}

a {
    color: #0085ba;
    text-decoration: none;
    transition: color 0.3s;

    &:hover, &:focus, &:active {
        color: #2c75ba;
        text-decoration: none !important;
        outline: 0;
    }
}

.activity-bg-image .activity-content {
    color: #ffffff;
}

h4 {
    font-size: 18px !important;
    font-weight: 700;
}

.activity-inner .activity-item h4 {
    margin-bottom: 8px;
    font-weight: 700;
    line-height: 1.2;
}

.activity-bg-image .activity-content h4 {
    color: #ffffff;
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a {
    color: inherit;
}

.activity-inner .activity-item p {
    margin-bottom: 0;
}

p {
    line-height: 1.6;
    margin: 0 0 15px;
    word-wrap: break-word;
}

.partners-section {
    margin: 100px 0;
}

/* Slider - Neki od naših klijenata start*/
.partneri {
    margin: 4rem 0 0 0;

    h2 {
        text-align: center;
        padding: 20px;
        font-weight: 500;
    }
    .customer-logos {
        margin-top: 2rem;
        .img-with-margin {
            margin-top: 4rem;
        }
    }
    .slick-slide {
        margin: 0px 10px;
        display: none;
        float: left;
        height: 100%;
        min-height: 1px;
        img {
            width: 100%;
            display: block;
        }
    }
    .slick-slider {
        position: relative;
        display: block;
        box-sizing: border-box;
        -webkit-user-select: none;
        -moz-user-select: none;
        -ms-user-select: none;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -ms-touch-action: pan-y;
        touch-action: pan-y;
        -webkit-tap-highlight-color: transparent;
        .slick-track {
            transform: translate3d(0, 0, 0);
        }
        .slick-list {
            transform: translate3d(0, 0, 0);
        }
    }
    .slick-list {
        position: relative;
        display: block;
        overflow: hidden;
        margin: 0;
        padding: 0;
        &:focus {
            outline: none;
        }
    }
    .slick-list.dragging {
        cursor: pointer;
    }
    .slick-track {
        position: relative;
        top: 0;
        left: 0;
        display: block;
        &:before {
            display: table;
            content: '';
        }
        &:after {
            display: table;
            content: '';
            clear: both;
        }
    }
    .slick-loading {
        .slick-track {
            visibility: hidden;
        }
        .slick-slide {
            visibility: hidden;
        }
    }
    [dir='rtl'] {
        .slick-slide {
            float: right;
        }
    }
    .slick-slide.slick-loading {
        img {
            display: none;
        }
    }
    .slick-slide.dragging {
        img {
            pointer-events: none;
        }
    }
    .slick-initialized {
        .slick-slide {
            display: block;
        }
    }
    .slick-vertical {
        .slick-slide {
            display: block;
            height: auto;
            border: 1px solid transparent;
        }
    }
    .slick-arrow.slick-hidden {
        display: none;
    }
}
/* Slider - Neki od naših klijenata end*/


/*posaljite nam poruku/kontaktirajte nas forma start*/
.contact-us {
    padding: 100px 0;
    /*background-color: hsla(86, 54%, 98%, 1);*/
    background-color: hsla($green-color-h, $green-color-s, 98%, $green-color-a);
    .section-heading {
        margin-bottom: 30px;
    }
    .send-us-a-message-header {
        color: $burgundy-color;
        margin-top: 4rem;
        padding-bottom: 1.7rem;
        font-size: 2.5rem;
        font-weight: 700;
    }
    .forma {
        padding-bottom:2.5rem;
        input, textarea {
            position: relative;
            width: 100%;
            background: transparent;
            padding: 1.3rem;  
            color: #211b14;
            border: 2px solid hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);
            border-radius: 5px;
            outline: none;
            box-shadow: none;
            font-weight: 300;
            &:focus {
                box-shadow: none;
                outline: none;
                border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);
            }
        }
        textarea {
            margin-bottom: 1.25rem;
        }
        label {
            color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
        }
        /*        .posalji-btn-contact-form-home-page {
                    @include fullColorBtn;
                    padding: .8em 1.6em;
                    letter-spacing: 1px;
                    font-weight: 600;
                    position: relative;
                    z-index: 1;
                    border: 0;
                    text-transform: uppercase;
                }*/
    }
    .bg-color-contact {
        .contact-header {
            font-size: 23px !important;
            padding-bottom: 1.2rem;
            font-weight: 500;
            color: $brown-black-color;
        }
        .pratite-nas {
            color: $brown-black-color;
            font-size: 23px;
            font-weight: 500;
        }
        .list-info {
            list-style-type: none;
            margin: 3rem 0 2rem 0;
            li {
                font-size: 1.2rem;
                color: $greyish-color;
                padding-bottom: 2rem;
                span {
                    font-family: $font-for-numbers;
                    color: $greyish-color;
                    font-display: swap;
                }
                i {
                    font-size: 1.6rem;
                }
                a {
                    color: $brown-black-color;
                    &:hover {
                        color: #5b6aaf;
                    }
                }
            }
        }
        .social-icons-contact {
            padding-top: 0 !important;
            @include social-icons;
        }
    }
}
/*posaljite nam poruku/kontaktirajte nas forma end*/

/*back to top button start*/
#backToTop {
    .backToTop {
        display: none;
        position: fixed;
        bottom: 5rem;
        right: 6.25rem;
        z-index: 9999;
        /*height: 3.125rem;*/
        width: 3.2rem;
        /*background-image: url("/img/backToTopBlack.png") no-repeat;*/
        cursor: pointer;
        -webkit-filter: brightness(100%);
        &:hover {
            -webkit-filter: brightness(80%);
            transition: all 1s ease;
        }
    }
}
/*back to top button end*/




@media (max-width: 1200px) {
    .text-box {
        p {
            padding-top: 0;
        }
    }
    .karte {
        .card {
            height: 600px;
            .card-content {
                .card-title {
                    font-size: 1.5rem;
                    height: 75px;
                }
                .card-text {
                    font-size: 1.2rem;
                    padding: 1.2rem .8rem 0 0.8rem;
                }
            }
        }
    }

    /*NAŠE USLUGE start*/
    .services {
        h3 {
            font-size: 2.2rem;
            margin-bottom: 1.6rem;
        }
        p {
            font-size: 1.3rem;
        }
    }
    /*NAŠE USLUGE end*/


    .customer-logos {
        .img-with-margin {
            margin-top: 3.3rem !important;
        }
    }

    .img-parallax {
        min-height: 15rem;
        p {   
            line-height: 1.6;
        }
    }

    .navbar {
        .nav-link {
            font-size: 11px;
        }
    }
    .navbar {
        margin-top: 0 !important;
        .fancy-link-18 {
            a {
                &:before, &:after {
                    background-color: $brown-black-color;
                }
            }
        }
        .nav-link {
            color: $brown-black-color;
            &:hover {
                color: $brown-black-color;
            }
        }
    }

    .navbar-toggler {
        &:focus {
            outline: none;
        }
    }
    .navbar-collapse {
        background: $white-color;
        padding: 1rem 0 2rem 0;

    }
    .navbar-icons, .nav-link {
        float: right;
        font-size: 15px !important;
    }
    .navbar-icons {
        display: inline-block !important;
        margin-right: 7px;
        .maliekran {
            display: inline-block;
        }
    }
    .uclani-se-btn {
        padding: 0.8em !important;
        &:hover {
            color: $white-color !important;
        }
    }
    .navbar-toggler-icon.changehambclr {
        &:before {
            color: $brown-black-color;
        }
    }
    .uclani-se-btn.changeclr {
        &:hover {
            color: $white-color;
        }
    }
}


@media (max-width: 992px) {
    .karte {
        .card {
            height: 480px;
            .card-content {
                .card-title {
                    height: 55px;
                    font-size: 1.116rem;
                }
                .card-text {
                    font-size: 1rem;
                    padding: .7rem 0 3rem 0;
                    height: 100px;
                    line-height: 1.4;
                }
                .detail-button {
                    font-size: .8rem;
                }
            }
        }
    }

    /*NAŠE USLUGE start*/
    .services {
        h3 {
            font-size: 1.85rem;
            margin-bottom: 1.6rem;
        }
        p {
            font-size: 1.23rem;
        }
    }
    /*NAŠE USLUGE end*/


    .customer-logos {
        .img-with-margin {
            margin-top: 2.5rem !important;
        }
    }

    .img-parallax {
        p {   
            font-size: 3.4vw;
            line-height: 1.8;
        }
    }

    .partneri {
        margin: 6rem 0;
    }
}


@media screen and (max-width: 767px) {
    .section-heading {
        h5 {
            font-size: 14px !important;
        }
        h2 {
            font-size: 30px !important;
        }
    }
    .popover {
        display: none !important;
    }
    #backToTop {
        .backToTop {
            bottom: 3rem;
            right: 4rem;
            width: 2.9rem;
        }
    }
    .text-box {
        top: 18vw;
        width: 500px;
        h2 {
            font-size: 8.5vw;
        }
        p {
            font-size: 7.5vw !important;
        }
    }



    .bg-color-contact {
        .list-info {
            margin-left: 2.8rem;
        }

    }


    .karte {
        .card {
            height: 600px;
            .card-content {
                .card-title {
                    height: 70px;
                    font-size: 1.4rem;
                    line-height: 1.4;
                }
                .card-text {
                    font-size: 1.2rem;
                    padding: 0.7rem 2rem 3rem 2rem;
                }
                .detail-button {
                    font-size: 1rem;
                }
            }
        }
    }

    .img-parallax {
        p {   
            font-size: 3.2vw;
            padding: 0 .5rem;
            font-weight: 600;
        }
    }
}

@media screen and (max-width: 575px) {
    .section-heading {
        h2 {
            font-size: 24px !important;
        }
    }

    .contact-us {
        padding-bottom: 3.4rem;
        .send-us-a-message-header {
            margin-left: 0.938rem;
            margin: 2rem 0 0 0.938rem;
            padding-bottom: 1rem;;
            font-size: 2rem;
        }
        .bg-color-contact {
            .contact-header {
                margin-top: 1rem;
            }
            .list-info {
                li {
                    font-size: 1.1rem;
                    padding-bottom: 1.5rem;
                    a {
                        font-size: 16px;
                    }
                }
            }
            .social-icons-contact {
                i {
                    height: 40px;
                    width: 40px;
                    font-size: 1rem;
                    line-height: 40px;
                }
                .follow {
                    font-size: 1.8rem;
                }
            }
        }
    }

    #backToTop {
        .backToTop {
            bottom: 2.5rem;
            right: 3rem;
            width: 2.5rem;
        }
    }

    footer {
        .links-social {
            padding: 20px 0;
        }
    }

    .services {
        margin-top: 1.8rem;
        h3 {
            font-size: 1.4rem;
            margin-bottom: 1rem;
        }
        p {
            font-size: 1.1rem;
        }
    }

    .img-parallax {
        min-height: 10rem;
        p {   
            padding: 0 0.9rem;
        }
    }

    .partneri {
        h2 {
            font-size: 1.7rem;
            padding: 10px;
        }
    }

    .karte {
        .card {
            height: 600px;
            .card-content {
                .card-title {
                    height: 70px;
                    font-size: 1.4rem;
                    line-height: 1.4;
                }
                .card-text {
                    font-size: 1.2rem;
                    padding: 0.7rem 2rem 3rem 2rem;
                }
                .detail-button {
                    font-size: .94rem;
                    margin-top: 1rem;
                }
            }
        }
    }
    .text-box {
        top: 21vw;
        h2 {
            font-size: 9.5vw;
        }
        p {
            font-size: 9vw !important;
        }
    }
}

@media only screen and (max-width:447px){
    #brandlogo {
        max-width: 80px;
    }
}

@media screen and (max-width: 400px) {
    .img-parallax {
        p {   
            font-size: 4vw;
            padding: 1rem 1rem 0 1rem;
        }
    }
}

@media only screen and (min-width:575px) and (max-width:767px){
    #brandlogo {
        max-width: 80px;
    }
}

@media only screen and (min-width:447px) and (max-width:575px){
    #brandlogo {
        max-width: 80px;
    }
}

