
@import "./variables";
@import "./mixins";

.pagination-gallery {
    margin-right:0;
}

.pagination {
    padding: 50px 0 0 0;
    >.disabled {
        >a {
            color: #b7b7b7;
            background-color: transparent;
            cursor: not-allowed;
            &:focus, &:hover {
                color: #ccc;
                background-color: transparent;
                border-color: rgba(18,18,18,.13);
                cursor: not-allowed;
            }
        }
    }

    >li.active {
        >a {
            color: $brown-black-color;
            font-weight: 600;
                        border-bottom: 3px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);

            &:active, &:focus, &:hover {
                color: hsla($main-color-h, $main-color-s, 20%, $main-color-a); 
            }
        }
    }

    .page-link {
         padding: 10px 18px;
        font-size: 1rem;
        border: none;
        color: hsla($main-color-h, $main-color-s, 20%, $main-color-a); 
        background: transparent;
        &:hover {
            color: hsla($main-color-h, $main-color-s, 20%, $main-color-a); 
            border-bottom: 3px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
            background: transparent;
        }
        &:focus {
            box-shadow: none;
        }
    }
}


