
@import "./variables";
@import "./mixins";

/*form validation start*/
.invalid-feedback {
    font-size: 90%;
}
.form-control.is-invalid, .was-validated .form-control:invalid {
    background-image: none;
    border-color: hsla(354, 70%, 74%, 1) !important;

    &:focus {
        box-shadow: none;
        outline: none;

    }
}
.form-control.is-valid, .was-validated .form-control:valid {
    border-color: hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a);
    background-image: none;
    &:focus {
        box-shadow: none;
        outline: none;
        border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a) !important;

    }
}
/*form validation end*/


.big-header-hidden {
    display: none;
}
.text-box.text-box-mini {
    top: 9vw;
    left: 50vw;
    h3 {
        font-family: $font-rest;
        letter-spacing: normal;
        font-size: 3.5vw !important;
    }
    p {
        font-size: 1.8vw;
        font-family: $font-rest;
        letter-spacing: normal;
    }
}
.nav-tabs {
    .nav-item {
        width: 50%;
        text-align: center;
    }
    .nav-link {
        /*border: 1px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
        /*border-radius: 0;*/
        color: hsla($main-color-h, $main-color-s, 30%, $main-color-a);
        width: 100%;
        font-size: 1rem !important;
        /*        &:hover {
                    background: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
                    color: hsla($main-color-h, $main-color-s, 100%, $main-color-a);
                    border: 1px solid hsla($green-color-h, $green-color-s, 41%, $green-color-a);
                }*/
    }
    .nav-link.active{
        /*background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
        color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
        border-radius: 0;
        /*border: 1px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
    }
}
.tab-content {
    border-left: 1px solid #dee2e6;
    padding: 1.5rem;
    border-right: 1px solid #dee2e6;
    border-bottom: 1px solid #dee2e6;
}

#uclanise-login-form {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2.5rem 0;
    .container-uclani-se {
        position: relative;
        min-height: 108rem;
        background-color: $white-color;
        box-shadow: 1px 0 20px 3px rgba(199,199,199,0.2);
        overflow: hidden;
        .user {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @include flexCenter;
            .formBx {
                position: relative;
                width: 65%;
                height: 100%;
                /*background-color: darken($white-color, 1%);*/
                /*@include flexCenter;*/
                padding: 2.5rem 0;
                transition: 0.5s;
                h2 {
                    font-size: 1.8rem;
                    font-weight: 700;
                    text-transform: uppercase;
                    letter-spacing: 2px;
                    text-align: center;
                    width: 100%;
                    margin-bottom: 2rem;
                    color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
                    line-height: 1.3;
                }

                .undertext-small {
                    font-size: 15px !important; 
                    text-transform: none !important;
                    letter-spacing: normal !important;
                    font-weight: 500 !important;
                }

                label {
                    color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
                    /*font-size: 18px;*/
                }
                .checkbox {
                    .rememberMe {
                        color: $brown-black-color;
                        letter-spacing: 0.3px;
                        .remember-me {
                            width: 0.813rem;
                            height: 0.813rem;
                        }
                        .uslovi-koriscenja {
                            cursor: pointer;
                            color: #5464ad;
                            &:hover {
                                text-decoration: underline !important;
                            }
                        }
                    }
                }

            }

        }
    }
}
.input-custom-border-clr {
    position: relative;
    width: 100% !important;
    padding: 1.2rem !important;
    /*background-color: darken($white-color, 1%);*/
    color: $brown-black-color !important;
    border: 2px solid hsla($blue-color-h, $blue-color-s, 88%, $blue-color-a) !important;
    border-radius: 5px !important;
    outline: none;
    box-shadow: none;
    /*margin: 0 0 1rem 0;*/
    font-size: 0.8rem !important;
    letter-spacing: 1px;
    font-weight: 300 !important;
    background: transparent;
    &:focus {
        box-shadow: none !important;
        outline: none !important;
        border-color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a) !important;
    }
}
.submitForm {
    width: 40%;
    display: inline-block;
    padding: 0.75rem 1.25rem;
    border-radius: 5px;
    color: $white-color;
    text-transform: uppercase;
    font-size: .95rem;
    letter-spacing: 0.05rem;
    transition: all 0.3s;
    position: relative;
    overflow: hidden;
    z-index: 1;
    outline: none;
    border: none;
    &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
        border-radius: 5px;
        z-index: -2;
    }
    &::before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0%;
        height: 100%;
        background-color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
        transition: all 0.3s;
        border-radius: 5px;
        z-index: -1;
    }
    &:hover {
        color: #fff;
        &::before {
            width: 100%;
        }
    }
    &:focus {
        outline: none;
    }

}


.form-check {
    padding-left:0 !important;
    .form-check-input {
        width: 2% !important;
    }
}

#openPassword, .openPasswordConf, .openPasswordLogin, #showPassword, #showPasswordRepeat, #oPassword, .oPasswordConf {
    color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);
}
#closedPassword, .closedPasswordConf, .closedPasswordLogin, #hidePassword, #hidePasswordRepeat, #cPassword, .cPasswordConf {
    display: none;
    color: hsla($blue-color-h, $blue-color-s, 78%, $blue-color-a);
}
#openPassword, #closedPassword, .openPasswordConf, .closedPasswordConf, .openPasswordLogin, .closedPasswordLogin, #oPassword, #cPassword, .oPasswordConf, .cPasswordConf {
    margin-top: -29px;
    @include show-hide-btn;
}
#showPassword, #hidePassword, #showPasswordRepeat, #hidePasswordRepeat {
    margin-top: -40px;
    @include show-hide-btn;
}

#label-2, #label-3 {
    color: #dc3545;
    font-size: .8rem;
}


.nacinPlacanja {
    h6 {
        font-weight: 400;
        color: #3a4da1;
    }
    .col-md-4 {
        padding: 0;
    }
    label {
        width: 100%;
    }
    .panel {
        box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
    }
    .panel-body {
        padding: 20px;
    }
    .panel-heading {
        padding: 2rem 0 0 0;
    }
    .card-input-element {
        display: none;
        &:checked {
            + {
                .card-input {
                    box-shadow: 0 0 1px 1px hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);;
                    border-radius: 5px;
                }
            }
        }
    }
    .card-input {
        margin: 10px 0 0 0;
        &:hover {
            cursor: pointer;
        }
    }
    .payIcon {
        @include flexCenter; 
        i { 
            font-size: 1.3rem;
        }
    }
}





@media (max-width: 1200px) {
    #uclanise-login-form {
        .container-uclani-se {
            .user {
                .formBx {
                    form {
                        h2 {
                            font-size: 1.65rem;
                        }
                    }
                }
            }
        }
    }
    .form-check {
        .form-check-input {
            width: 4% !important;
        }
    }

}
@media (min-width: 1200px) {
    .nacinPlacanja {
        .card-input {
            min-height: 90px;
        }
    }
}


@media (max-width: 992px) {
    #uclanise-login-form {
        .container-uclani-se {
            .user {
                .formBx {
                    width: 100%;
                }
            }
        }
    }
}

@media (max-width: 767px) {
    .nacinPlacanja {
        .card-input {
            margin: 1rem 0 0 0;
        }
    }
    .big-header-hidden {
        display: block;
    }
    .text-box.text-box-mini {
        position: absolute;
        top: 19vw;
        left: 47vw;
        h3 {
            /*font-family: $font-handwriting;*/
            /*letter-spacing: normal;*/
            font-size: 5.5vw !important;
        }
        p {
            display: none;
        }
    }
}

@media (max-width: 575px) {
    .submitForm {
        width: 100%;
    }
    #uclanise-login-form {
        .container-uclani-se {
            .user {
                .formBx {
                    form {
                        h2 {
                            font-size: 1.48rem;
                        }
                        input[type='submit'] {
                            width: 100%;
                        }
                    }
                }
            }
        }
    }
    .form-check {
        .form-check-input {
            width: 6% !important;
        }
    }

}