@import "./variables";

.big-header-hidden {
    display: none;
}
.text-box.text-box-mini {
    top: 9vw;
    left: 50vw;
    h3 {
        font-family: $font-rest;
        letter-spacing: normal;
        font-size: 3.5vw !important;
    }
}
.page-text {
    h4 {
        margin-bottom: 1rem;
    }
}

.body-content {
    .content {
        margin: 4rem 0;
        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .italic {
            font-style: italic;
        }
        .lawLink {
            color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
            &:hover {
                color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
            }
        }
    }
    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse !important;
        td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    }
}


@media (max-width: 767px) {
    .big-header-hidden {
        display: block;
    }
    .text-box.text-box-mini {
        position: absolute;
        top: 19vw;
        left: 47vw;
        h3 {
            /*font-family: $font-handwriting;*/
            /*letter-spacing: normal;*/
            font-size: 5.5vw !important;
        }
    }
}

@media screen and (max-width:575px) {
    .body-content {
        .content {
            h1 {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .body-content {
        .content {
            h1 {
                font-size: 1.56rem;
            }
        }
    }

}












