@import "./variables";

.body-content {
    .content {
        margin: 4rem 0;
        h1 {
            font-size: 2rem;
            margin-bottom: 2rem;
        }
        .italic {
            font-style: italic;
        }
        .lawLink {
            color: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
            &:hover {
                color: hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
            }
        }
    }
    table {
        width: 100%;
        max-width: 100%;
        margin-bottom: 20px;
        border-collapse: collapse !important;
        td {
            padding: 8px;
            line-height: 1.42857143;
            vertical-align: top;
            border-top: 1px solid #ddd;
        }
    }
}

@media screen and (max-width:575px) {
    .body-content {
        .content {
            h1 {
                font-size: 1.8rem;
            }
        }
    }
}

@media screen and (max-width:400px) {
    .body-content {
        .content {
            h1 {
                font-size: 1.56rem;
            }
        }
    }

}












