<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

    </head>

    <body>

    <th:block th:fragment="anketa">


        <div class="container mt-5" id="anketa" style="display: none">
            <div class="survey-padding">
                <button type="button" id="closeBtn" class="close zatvori-alert" data-dismiss="alert" aria-label="Close">
                    <span aria-hidden="true" class="xTimes">&times;</span>
                </button>

                <form id="anketaForm" >

                    <!-- 1 -->
                    <div id="form1">
                        <h6 id="register">Razmišljate li o kupovini električnog vozila?</h6>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios1" value="Da, razmišljam o kupovini EV" checked>
                            <label class="form-check-label" for="anketaRadios1">
                                Da
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios2" value="Ne, ne razmišljam o kupovini EV">
                            <label class="form-check-label" for="anketaRadios2">
                                Ne
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios3" value="Već imam EV">
                            <label class="form-check-label" for="anketaRadios3">
                                Već imam EV
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" name="anketaRadios" id="anketaRadios4" value="Imam EV, ali razmišljam o kupovini još jednog">
                            <label class="form-check-label" for="anketaRadios4">
                                Imam EV, ali razmišljam o kupovini još jednog
                            </label>
                        </div>
                        <div style="overflow:auto;" id="nextprevious" class="mt-3">
                            <div style="float:right;">
                                <button class="fullClrBtn" type="button" id="nextBtn">Dalje &nbsp; &rarr;</button>
                            </div>
                        </div>
                    </div>
                    <!--       1 -->

                    <!--       2 -->
                    <div id="form2" style=" display:none">
                        <h6 id="register">Ako želite možete nam ostaviti Vašu email adresu pa ćemo Vas obavestiti o pogodnostima za vlasnike električnih vozila:</h6>
                        <div class="form-group">
                            <label for="exampleInputEmail1">Email adresa</label>
                            <input type="email" class="form-control" id="emailAnketa" aria-describedby="emailHelp" placeholder="Unesite email adresu" required>
                            <small id="emailHelp" class="form-text text-muted">Email adresa neće biti podeljena ni sa kim.</small>
                        </div>
                        <div style="overflow:auto;" id="nextprevious" class="mt-3">
                            <div style="float:right;margin-left:10px;">
                                <!--<button class="fullClrBtn" id="prijaviSe">Prijavi se</button>-->
                                <input class="fullClrBtnInput" id="prijaviSe" value="Prijavi se" />
                            </div>
                            <div style="float:right;">
                                <button class="prevBtn" type="button" id="prevBtn">&larr; &nbsp;Nazad </button>
                            </div>

                        </div>
                    </div>
                    <!--       2 -->

                    <!--       3 -->
                    <div id="form3" style="display:none">
                        <h6 id="register">Hvala Vam što se učestvovali u anketi. <br>
                            Vaša prijava je uspešno primljena!</h6>
                    </div>
                    <!--       3 -->

                </form>
            </div>
        </div>

    </th:block>




</body>
</html>