<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">

    <head>

    </head>

    <body>

    <th:block th:fragment="footer">


        <footer class="nk-footer has-ovm">
            <section class="section section-footer ">

                <div class="container">
                    <div class=" block-footer mgb-m30">
                        <div class="row">
                            <div class="col-lg-5 mb-4 mb-lg-0">
                                <div class="wgs wgs-text">
                                    <div class="wgs-body">
                                        <a href="./" class="wgs-logo">
                                            <img src="/img/e-mob-logo-car.png" alt="logo" style="width: 120px; height: auto;">
                                        </a>
                                        <p>Copyright © 2021 E-mobilnost. <br> Sva prava zadržana. </p>
                                        <p class="copyright-text">Created by <a href="#">CMI</a>.</p>
                                        <div class="uclani-se-btn-small-cont"> <a class="uclani-se-btn-small" href="/uclani-se">Učlani se</a></div>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">MENI</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="/home">Početna</a></li>
                                            <li><a href="/onama">O nama</a></li>
                                            <li><a href="#">Pogodnosti</a></li>
                                            <li><a href="#">Vesti</a></li>
                                            <li><a href="#">Saveti</a></li>
                                            <li><a href="#">Subvencije</a></li>
                                            <li><a href="#">Galerija</a></li>
                                            <li><a href="#">Kontakt</a></li>

                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-3 col-sm-4 mb-4 mb-sm-0">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">PRAVNE ODREDBE</h6>
                                    <div class="wgs-body">
                                        <ul class="wgs-links">
                                            <li><a href="#">Uslovi korišćenja</a></li>
                                            <li><a href="#">Politika privatnosti</a></li>
                                            <li><a href="#">Politika kolačića</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                            <div class="col-lg-2 col-sm-4 mb-4 mb-sm-0">
                                <div class="wgs wgs-menu">
                                    <h6 class="wgs-title">PRATITE NAS</h6>
                                    <div class="wgs-body">
                                        <ul class="social-links">
                                            <li><a href="#"><i class="fab fa-facebook-f" style="padding-top: .7rem;"></i></a></li>
                                            <li><a href="#"><i class="fab fa-instagram" style="padding-top: .7rem;"></i></a></li>
                                            <li><a href="#"><i class="fab fa-twitter" style="padding-top: .7rem;"></i></a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div><!-- .col -->
                        </div><!-- .row -->
                    </div><!-- .block @e -->
                </div>

            </section>
            <div class="nk-ovm shape-b"></div>
        </footer>

        <!--        <footer class="animation-element bounce-up">
                    <div class="links-social">
                        <div class="container-class container">
                            <div class="links-social-inner">
                                <div class="row">
                                    <div class="col-md-8">
                                        <div class="link-groups">
                                            <div class="row">
                                                <div class="col-sm-4">
                                                    <div class="links">
                                                        <p class="title">Informacije</p>
                                                        <ul>
                                                            <li><a th:href="@{/onama}" >O nama</a></li>
                                                            <li><a th:href="@{/infoDostava}">Informacije o dostavi i reklamacijama</a></li>
                                                            <li><a th:href="@{/usloviKoriscenja}">Uslovi korišćenja</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="links">
                                                        <p class="title">Vaš nalog</p>
                                                        <ul>
                                                            <li><a th:href="@{/registration}">Uloguj se</a></li>
                                                            <li><a th:href="@{/registration}">Registruj se</a></li>
                                                            <li><a th:href="@{/shoppingCart}">Vaša korpa</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                                <div class="col-sm-4">
                                                    <div class="links">
                                                        <p class="title">Preporuka</p>
                                                        <ul>
                                                            <li><a th:href="@{/petmania}" >Petmania</a></li>
                                                            <li><a th:href="@{/horeca-tekstil}" >HORECA tekstil</a></li>
                                                            <li><a th:href="@{/dekorativniProgram}">Dekorativni tekstil za kuću</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
        
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-4">
                                        <div class="social-newsletter">
                                            <div class="social-links">
                                                <p class="title">Povežite se sa nama</p>    
                                                <p class="footer-kontakt-podaci"><a href="tel:+381-64-112-51-29">+381 64 112 51 29</a></p>
                                                <p class="footer-kontakt-podaci"><a href="https://goo.gl/maps/thFoVjcg9BCFShPH8" target="_blank">Časlava Veljića 53, Beograd</a></p>
                                                <p class="footer-kontakt-podaci"><a href="mailto:margoteks.doo@gmail.com" target="_blank" rel="noopener">margoteks.doo@gmail.com</a></p>
                                                <ul class="social list-inline list-unstyled">
                                                    <li><a href="https://www.facebook.com/margoteks/" aria-label="Our Facebook page" style="padding: 9px 16px;"><i class="fa fa-facebook"></i></a></li>
                                                    <li><a href="#" aria-label="Our instagram page" style="padding: 9px 15px;"><i class="fa fa-instagram"></i></a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
        
                    <div class="copyright">© Margotekstil 2021 | All rights reserved. <br>
                        <a href="https://margotekstil.com">Made by <b>CMI<b></a>
                                    </div>
        
                                    </footer>-->

    </th:block>




</body>
</html>