<!DOCTYPE html>
<html lang="srb"xmlns="https://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" >

    <head>
        <title>Margotekstil Navigation</title>


    </head>


    <body>
    <th:block th:fragment="topbar">
        <div class="header-top">
            <div class="header-row">
                <div class="header-col header-right">
                    <div class="header-contact">
                        <p>E-MOBILNOST - PIB: 112569739 | MB: 28326335 | <a href="tel:+381 61 20 28 158">+381 61 20 28 1589</a> | <a href="https://goo.gl/maps/thFoVjcg9BCFShPH8" target="_blank">Časlava Veljića 53, 1090 Beograd, Srbija</a> | <a href="mailto:e.mobilnost.rs@gmail.com" target="_blank" rel="noopener">e.mobilnost.rs@gmail.com</a></p>
                    </div>
                </div>
            </div>
        </div>


    </th:block>

    






</body>
</html>