/*buttons*/
/*tabela / lista fajlova*/
/*end of tabela / lista fajlova*/
/* .user-icon-nav {
                 padding: 50px 0 30px 0;
        }
*/
/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/
/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/
/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/
.min-wd {
  min-width: 60%;
}

.row-actions ul li {
  display: inline;
}
.row-actions ul li span {
  display: inline;
}

.note-editor .note-toolbar {
  background-color: #fafdf7;
}

.note-popover .popover-content {
  background: #fff8f0;
}

.btn-group-vertical > .btn {
  color: #000;
}

.btn-group > .btn {
  color: #000;
}

.note-editor.note-airframe {
  border: 1px solid #9acb37;
}
.note-editor.note-airframe .note-editing-area .note-editable:focus {
  border: 2px solid #799e4e;
}

.note-editor.note-frame {
  border: 2px solid #d2d7ef;
}
.note-editor.note-frame .note-editing-area .note-editable:focus {
  border-color: #adb6e1;
}

.btn-choose-file {
  border: 2px solid #81a459;
  color: #444443;
  padding: 0.3rem 1rem;
  cursor: pointer;
  font-weight: 400;
  border-radius: 4px;
}
.btn-choose-file:hover {
  border: 2px solid #81a459;
  color: #fff;
  background-color: #81a459;
  transition: 0.5s;
}

#file-chosen {
  margin-left: 0.5rem;
  color: #000;
}

body {
  font: 300 14px/1.86 "Open Sans", sans-serif;
  color: #444443;
  -webkit-font-smoothing: antialiased;
  position: relative;
  background-color: #fafdf7;
  min-width: 320px;
}

h3 {
  margin-bottom: 12px;
  line-height: 1.25;
  font-size: 1.5em;
}
h3:last-child {
  margin-bottom: 0;
}

ul {
  padding: 0px;
  margin: 0px;
}
ul:not(.btn-grp) {
  line-height: 1.68;
}
ul:not(.btn-grp):last-child {
  margin-bottom: 0;
}
ul li {
  list-style: none;
}

table:last-child {
  margin-bottom: 0;
}

a {
  outline: 0;
  transition: all 0.5s;
  color: #2b56f5;
}
a:link {
  text-decoration: none;
  text-decoration: none !important;
}
a:visited {
  text-decoration: none;
  text-decoration: none !important;
}
a:hover {
  outline: 0;
  color: #46bdf4;
  text-decoration: none !important;
}
a:focus {
  outline: 0;
  color: #46bdf4;
}
a:active {
  outline: 0;
  color: #46bdf4;
}

.container {
  z-index: 5;
}

.btn-save-vest {
  cursor: pointer;
  padding: 10px 30px;
  border-radius: 5px;
  color: white;
  /*text-transform: uppercase;*/
  font-size: 1rem;
  /*letter-spacing: 0.05rem;*/
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
  border: none;
}
.btn-save-vest::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8bc63f;
  border-radius: 5px;
  z-index: -2;
}
.btn-save-vest::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #70a130;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.btn-save-vest:hover {
  color: #fff;
}
.btn-save-vest:hover::before {
  width: 100%;
}
.btn-save-vest:focus {
  outline: none;
}

.btn-no {
  font-size: 1rem;
  color: #211b14;
  margin-left: 1rem;
  transition: all 0.3s;
  padding-bottom: 0.2rem;
}
.btn-no:hover {
  border-bottom: 1px solid #8bc63f;
  color: #211b14;
}

.btn-odustani {
  /*width: 100%;*/
  margin-top: 0.5rem;
  /*display: inline-block;*/
  text-align: center;
  /*padding: 0.75rem 1.25rem;*/
  padding: 8px 20px;
  border-radius: 5px;
  color: black !important;
  background: transparent;
  text-transform: uppercase;
  font-size: 1rem;
  /*letter-spacing: 0.15rem;*/
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 2px solid #8bc63f;
  font-weight: 400;
}
.btn-odustani:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 102%;
  height: 102%;
  background-color: transparent;
  border-radius: 5px;
  z-index: -2;
}
.btn-odustani:before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #8bc63f;
  transition: all 0.3s;
  border-radius: 2px;
  z-index: -1;
}
.btn-odustani:hover {
  color: white !important;
}
.btn-odustani:hover:before {
  width: 100%;
}

.dropdown-menu {
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.08);
  border: none;
}

.topbar {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  min-width: 310px;
  box-shadow: 0px 5px 7px 0px rgba(0, 0, 0, 0.02);
  padding: 15px 0;
}

.topbar-md {
  position: relative;
  background: #fff;
  z-index: 2;
  text-align: center;
}

.topbar-action-list {
  display: inline-flex;
  align-items: center;
  margin: 0 -15px;
  justify-content: center;
}
.topbar-action-list .topbar-action-item {
  padding: 0 15px;
}

.topbar-action-item {
  flex-shrink: 0;
}
.topbar-action-item > a {
  padding: 15px 0;
  display: inline-block;
  color: #333333;
}
.topbar-action-item > a:hover {
  color: #8bc63f;
}
.topbar-action-item .dropdown-menu {
  min-width: auto;
  margin: 0;
  padding: 0;
}
.topbar-action-item .user-box {
  padding: 10px 20px;
}

.topbar-action-link a {
  font-size: 16px;
  line-height: 30px;
  font-weight: 400;
}
.topbar-action-link [class*="fa-"] {
  font-size: 18px;
  margin-right: 10px;
  line-height: 30px;
}

.topbar-action-user .dropdown-menu {
  margin-top: 11px;
  margin-right: -5px;
}
.topbar-action-user > a img {
  height: 30px;
  width: 30px;
  border-radius: 50%;
}
.topbar-action-user .user-box {
  text-align: right;
}

.toggle-nav {
  width: 30px;
  display: block;
  transition: all 0.4s;
  left: 10px;
}
.toggle-nav .toggle-icon {
  margin: -7.5px 0;
}

.toggle-action {
  width: 30px;
  display: block;
  transition: all 0.4s;
  right: 10px;
}
.toggle-action .toggle-icon {
  margin: -4px 0;
}

.toggle-nav.active .toggle-line {
  width: 30px;
}
.toggle-nav.active .toggle-line:nth-last-of-type(1) {
  transform-origin: bottom left;
  transform: rotate(-45deg);
}
.toggle-nav.active .toggle-line:nth-last-of-type(2) {
  opacity: 0;
}
.toggle-nav.active .toggle-line:nth-last-of-type(3) {
  opacity: 0;
}
.toggle-nav.active .toggle-line:nth-last-of-type(4) {
  transform-origin: top left;
  transform: rotate(45deg);
}

.toggle-action.active .toggle-dot {
  position: relative;
}
.toggle-action.active .toggle-dot:nth-last-of-type(1) {
  transform: translate(-9px, -8px);
}
.toggle-action.active .toggle-dot:nth-last-of-type(3) {
  transform: translate(9px, 8px);
}

.toggle-line {
  display: block;
  width: 28px;
  height: 2px;
  line-height: 0;
  background: #444443;
  margin: 5px 0;
  transition: all 0.4s;
}
.toggle-line:nth-last-of-type(2) {
  width: 70%;
}
.toggle-line:nth-last-of-type(3) {
  width: 85%;
}

.site-brand {
  display: inline-block;
}

.user-wraper {
  margin-top: 3rem;
}

.user-sidebar {
  position: fixed;
  width: 260px;
  z-index: 99;
  top: 0;
  left: -260px;
  height: 100%;
  overflow: scroll;
  padding: 60px 20px 20px;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
  transition: all 0.4s ease;
  display: none;
}
.user-sidebar:before {
  position: fixed;
  top: 0;
  left: -260px;
  content: "";
  height: 100%;
  width: 260px;
  background: #fff;
  z-index: 1;
  transition: all 0.4s ease;
}
.user-sidebar > *:not(.user-sidebar-overlay) {
  position: relative;
  z-index: 2;
}
.user-sidebar .topbar-action-link a {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
}
.user-sidebar .topbar-action-link a:hover {
  color: #8bc63f !important;
}

.user-sidebar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  transition: all 0.4s;
  visibility: hidden;
  opacity: 0;
  z-index: -1;
}

.user-sidebar.active {
  left: 0;
}
.user-sidebar.active:before {
  left: 0;
}
.user-sidebar.active .user-sidebar-overlay {
  opacity: 1;
  visibility: visible;
  transition-delay: 0.6s;
}

.user-sidebar-mobile {
  display: block;
}

.user-sidebar-sap {
  width: 35px;
  height: 3px;
  background: #8bc63f;
  margin: 0 0 1.3rem 2rem;
}

.user-content {
  flex-grow: 1;
  max-width: 100%;
}

.user-content-w {
  max-width: 70%;
}

.user-panel, .add-additional {
  padding: 20px;
  background: #fff;
  border-radius: 4px;
  min-height: 100%;
  box-shadow: 0px 3px 8px 0px rgba(0, 0, 0, 0.05);
}
.user-panel label, .add-additional label {
  color: #3a4da1;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 0 !important;
}

.user-dashboard {
  padding-top: 80px;
}

.user-box {
  text-align: center;
}

.user-image img {
  width: 70px;
}

.user-name {
  color: #444443;
  opacity: 0.8;
  margin-top: 8px;
  margin-bottom: 8px;
  white-space: nowrap;
}

.input-custom-border {
  position: relative;
  width: 100%;
  padding: 1.2rem;
  color: #211b14;
  border: 2px solid #d2d7ef;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  /*margin: 0 0 1rem 0;*/
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  background: transparent;
}
.input-custom-border:focus {
  box-shadow: none;
  outline: none;
  border-color: #adb6e1;
}

.add-new {
  color: #3a4da1;
}

.user-icon-nav {
  padding-bottom: 25px;
}
.user-icon-nav li {
  padding: 10px 0;
}
.user-icon-nav li a {
  color: #333333;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  display: flex;
  align-items: center;
}
.user-icon-nav li a:hover {
  color: #8bc63f !important;
}
.user-icon-nav li a .ti {
  width: 35px;
}

.form-control {
  width: 100%;
}

.footer-bar {
  font-size: 13px;
  padding: 20px 0;
  font-weight: 400;
}
.footer-bar a {
  color: #8bc63f !important;
}
.footer-bar a:hover, .footer-bar a:focus {
  color: #3a4da1 !important;
}

.footer-copyright {
  display: block;
  padding: 15px 0;
  text-align: right;
  color: #444443;
}

.table-responsive {
  display: block;
  width: 100%;
  overflow-x: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  margin-top: 1.5rem;
}

.table {
  width: 100%;
  margin-bottom: 1rem;
  background-color: transparent;
}
.table thead tr {
  background-color: #d2e9b4;
  color: #444443;
}
.table thead th {
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  vertical-align: bottom;
}
.table thead th:first-child {
  border-radius: 4px 0 0 0;
}
.table thead th:last-child {
  border-radius: 4px 0 0 0;
}
.table tr {
  background: rgba(249, 244, 239, 0.3);
}
.table tr:last-child td:first-child {
  border-radius: 0 0 0 4px;
}
.table tr:last-child td:last-child {
  border-radius: 0 0 0 4px;
}
.table tr:nth-child(even) {
  background-color: #f3f9eb;
}
.table td {
  padding: 10px 20px;
  border: none;
  white-space: nowrap;
  vertical-align: top;
}
.table td span {
  color: #444443;
  display: block;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.1;
  padding-top: 5px;
}

.link-fajla:hover {
  text-decoration: underline;
}

/*form validation start*/
.invalid-feedback {
  font-size: 90%;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: none;
  border-color: #eb8e98;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
  outline: none;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #d2d7ef;
  background-image: none;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  box-shadow: none;
  outline: none;
  border-color: #adb6e1 !important;
}

/*form validation end*/
@media (max-width: 1200px) {
  .user-content-w {
    max-width: 100%;
  }
}
@media (min-width: 992px) {
  .container {
    width: 940px;
  }

  .user-sidebar {
    width: 220px;
    position: relative;
    flex-grow: 0;
    flex-shrink: 0;
    box-shadow: none;
    height: auto;
    left: 0;
    padding: 0;
    transition: unset;
    display: block;
    overflow: hidden;
    margin-left: 1.5rem;
  }
  .user-sidebar:before {
    display: none;
  }

  .user-sidebar-overlay {
    display: none;
  }

  .user-dashboard {
    padding-top: 110px;
  }

  .user-content {
    /*margin-left: 30px;*/
  }

  ul:not(.btn-grp):last-child {
    margin-top: 20px;
  }

  .user-icon-nav li a .ti {
    width: 0;
  }
}
@media (min-width: 576px) {
  .user-dashboard {
    padding-top: 90px;
  }

  .user-panel, .add-additional {
    padding: 30px;
  }
}
@media (max-width: 768px) {
  .user-content-additional {
    display: block;
  }
}
@media (min-width: 768px) {
  .footer-bar {
    padding: 40px 0 20px;
  }

  .footer-copyright {
    padding: 15px 0;
  }
}
@media (max-width: 992px) {
  .user-icon-nav {
    padding: 50px 0 30px 0;
  }

  .topbar-action-list {
    display: block;
  }
  .topbar-action-list .topbar-action-item {
    padding: 0 50px;
  }
  .topbar-action-list .topbar-action-item > a {
    padding: 5px 0;
  }

  .topbar-action-link a {
    line-height: unset;
  }

  .user-wraper {
    margin-top: 1rem;
  }
}
/*modal start*/
.modal-content {
  padding: 1rem;
}

.close {
  font-size: 2rem;
}

label[for=galerijaslika], label[for=galerijavideo] {
  font-size: 13px;
}

/*modal end*/
/*tabela da bude header sticky when scroll*/
.tableFixHead {
  overflow-y: auto;
  height: 800px;
}
.tableFixHead thead th {
  position: sticky;
  top: 0;
}

th {
  background: #d2e9b4;
}
