/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/
/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/
/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/
.full-size-img-error {
  height: 100vh;
  min-height: 500px;
  background-image: url(/img/flattyre.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  z-index: 0;
}
.full-size-img-error::before {
  /*color overlay for bg image*/
  content: "";
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.15);
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.error-page-area {
  position: relative;
  top: 30%;
}
.error-page-area h1 {
  font-size: 12rem;
  font-weight: 900;
  line-height: 7.5rem;
  margin-bottom: 3rem;
}
.error-page-area h2 {
  font-weight: 600;
  text-transform: capitalize;
  font-size: 3rem;
}
.error-page-area h1, .error-page-area h2 {
  color: white;
}
.error-page-area p {
  font-size: 1.1rem;
  color: white;
  margin: 2rem 0;
}

@media screen and (max-width: 767px) {
  .error-page-area {
    top: 25%;
  }
  .error-page-area h1 {
    font-size: 9rem;
  }
  .error-page-area h2 {
    font-size: 2rem;
  }
  .error-page-area p {
    font-size: 1rem;
  }
}
@media screen and (max-width: 575px) {
  .error-page-area {
    top: 20%;
  }
  .error-page-area h1 {
    font-size: 9rem;
    margin-bottom: 2rem;
    font-weight: 800;
  }
  .error-page-area h2 {
    font-size: 1.5rem;
  }
}
