/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/
/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/
/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/
.productShow {
  margin-top: 3rem;
  padding-bottom: 5rem;
}

.colorButton {
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: 1rem;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
  border: none;
}
.colorButton::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8bc63f;
  border-radius: 5px;
  z-index: -2;
}
.colorButton::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #70a130;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.colorButton:hover {
  color: #fff;
}
.colorButton:hover::before {
  width: 100%;
}
.colorButton:focus {
  outline: none;
}

.backBtn {
  padding: 0.75rem 1.25rem;
  color: #666666;
}
.backBtn:hover {
  text-decoration: underline !important;
  color: #666666 !important;
}

.licniPodaciForma {
  -webkit-box-shadow: 0px 1px 14px -4px rgba(193, 193, 193, 0.93);
  box-shadow: 0px 1px 14px -4px rgba(193, 193, 193, 0.93);
  padding-top: 4rem;
}
.licniPodaciForma .licniPodaci {
  font-size: 1.8rem;
  margin: 0 auto;
  color: #3a4da1;
  margin-bottom: 2rem;
  font-weight: 700;
  text-align: center;
}
.licniPodaciForma .centrirajFormuInput {
  margin-left: auto;
  margin-right: auto;
}
.licniPodaciForma .centrirajFormuInput label {
  color: #3a4da1;
}
.licniPodaciForma .centrirajFormuInput .input-custom-border {
  /*            border: 1px solid $burgundy-color; 
              border-radius: .2rem;
              &:focus {
                  box-shadow: 0 0 8px rgba(137, 47, 43, 0.36);
              }*/
  position: relative;
  width: 100%;
  padding: 1.3rem;
  color: #211b14;
  border: 2px solid #d2d7ef;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  margin: 0 0 0.5rem 0;
  font-weight: 300;
}
.licniPodaciForma .centrirajFormuInput .input-custom-border:focus {
  box-shadow: none;
  outline: none;
  border-color: #adb6e1;
}
.licniPodaciForma .buttonsSaveAndBack {
  padding-bottom: 3rem;
  /*padding-top: 1rem;*/
  margin: 0 auto;
}

@media screen and (max-width: 767px) {
  .productShow {
    margin-top: 1.8rem;
    padding-bottom: 2rem;
  }

  .form-group {
    margin-bottom: 0 !important;
  }

  .licniPodaciForma {
    padding-top: 1rem;
  }
  .licniPodaciForma .licniPodaci {
    font-size: 1.12rem;
  }
  .licniPodaciForma .buttonsSaveAndBack {
    padding-bottom: 2rem;
  }
}
