/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/
/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/
/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/
/*alert*/
.alert-akcija {
  background: #8bc63f;
  color: #fff;
  padding: 2rem 2rem 1rem;
}
.alert-akcija h3 {
  font-weight: 700;
}
.alert-akcija h5 {
  font-size: 1.3rem;
}
.alert-akcija a {
  color: #fff;
  text-decoration: underline !important;
}
.alert-akcija a:hover {
  color: #3a4da1;
}
.alert-akcija p {
  margin-bottom: 0.5rem;
}

.alert-dismissible .close {
  font-size: 2rem;
}
.alert-dismissible .close:focus {
  outline: none;
}

/*form validation start*/
.invalid-feedback {
  font-size: 90%;
}

.form-control.is-invalid, .was-validated .form-control:invalid {
  background-image: none;
  border-color: #eb8e98 !important;
}
.form-control.is-invalid:focus, .was-validated .form-control:invalid:focus {
  box-shadow: none;
  outline: none;
}

.form-control.is-valid, .was-validated .form-control:valid {
  border-color: #d2d7ef;
  background-image: none;
}
.form-control.is-valid:focus, .was-validated .form-control:valid:focus {
  box-shadow: none;
  outline: none;
  border-color: #adb6e1 !important;
}

/*form validation end*/
.big-header-hidden {
  display: none;
}

.text-box.text-box-mini {
  top: 9vw;
  left: 50vw;
}
.text-box.text-box-mini h3 {
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
  font-size: 3.5vw !important;
}
.text-box.text-box-mini p {
  font-size: 1.8vw;
  font-family: "Open Sans", sans-serif;
  letter-spacing: normal;
}

.nav-tabs .nav-item {
  width: 50%;
  text-align: center;
}
.nav-tabs .nav-link {
  /*border: 1px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
  /*border-radius: 0;*/
  color: #4d4d4d;
  width: 100%;
  font-size: 1rem !important;
  /*        &:hover {
              background: hsla($green-color-h, $green-color-s, 41%, $green-color-a);
              color: hsla($main-color-h, $main-color-s, 100%, $main-color-a);
              border: 1px solid hsla($green-color-h, $green-color-s, 41%, $green-color-a);
          }*/
}
.nav-tabs .nav-link.active {
  /*background: hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
  color: #3a4da1;
  border-radius: 0;
  /*border: 1px solid hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);*/
}

.tab-content {
  border-left: 1px solid #dee2e6;
  padding: 1.5rem;
  border-right: 1px solid #dee2e6;
  border-bottom: 1px solid #dee2e6;
}

#uclanise-login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
#uclanise-login-form .container-uclani-se {
  position: relative;
  min-height: 116rem;
  background-color: white;
  box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
  overflow: hidden;
}
#uclanise-login-form .container-uclani-se .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uclanise-login-form .container-uclani-se .user .formBx {
  position: relative;
  width: 65%;
  height: 100%;
  /*background-color: darken($white-color, 1%);*/
  /*@include flexCenter;*/
  padding: 2.5rem 0;
  transition: 0.5s;
}
#uclanise-login-form .container-uclani-se .user .formBx h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  color: #3a4da1;
  line-height: 1.3;
}
#uclanise-login-form .container-uclani-se .user .formBx .undertext-small {
  font-size: 15px !important;
  text-transform: none !important;
  letter-spacing: normal !important;
  font-weight: 500 !important;
}
#uclanise-login-form .container-uclani-se .user .formBx label {
  color: #3a4da1;
  /*font-size: 18px;*/
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe {
  color: #211b14;
  letter-spacing: 0.3px;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .remember-me {
  width: 0.813rem;
  height: 0.813rem;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .uslovi-koriscenja {
  cursor: pointer;
  color: #5464ad;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .uslovi-koriscenja:hover {
  text-decoration: underline !important;
}

.input-custom-border-clr {
  position: relative;
  width: 100% !important;
  padding: 1.2rem !important;
  /*background-color: darken($white-color, 1%);*/
  color: #211b14 !important;
  border: 2px solid #d2d7ef !important;
  border-radius: 5px !important;
  outline: none;
  box-shadow: none;
  /*margin: 0 0 1rem 0;*/
  font-size: 0.8rem !important;
  letter-spacing: 1px;
  font-weight: 300 !important;
  background: transparent;
}
.input-custom-border-clr:focus {
  box-shadow: none !important;
  outline: none !important;
  border-color: #adb6e1 !important;
}

.submitForm {
  width: 40%;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
  border: none;
}
.submitForm::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8bc63f;
  border-radius: 5px;
  z-index: -2;
}
.submitForm::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #70a130;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.submitForm:hover {
  color: #fff;
}
.submitForm:hover::before {
  width: 100%;
}
.submitForm:focus {
  outline: none;
}

.form-check {
  padding-left: 0 !important;
}
.form-check .form-check-input {
  width: 2% !important;
}

#openPassword, .openPasswordConf, .openPasswordLogin, #showPassword, #showPasswordRepeat, #oPassword, .oPasswordConf {
  color: #adb6e1;
}

#closedPassword, .closedPasswordConf, .closedPasswordLogin, #hidePassword, #hidePasswordRepeat, #cPassword, .cPasswordConf {
  display: none;
  color: #adb6e1;
}

#openPassword, #closedPassword, .openPasswordConf, .closedPasswordConf, .openPasswordLogin, .closedPasswordLogin, #oPassword, #cPassword, .oPasswordConf, .cPasswordConf {
  margin-top: -29px;
  float: right;
  position: relative;
  margin-right: .8rem;
  cursor: pointer;
}

#showPassword, #hidePassword, #showPasswordRepeat, #hidePasswordRepeat {
  margin-top: -40px;
  float: right;
  position: relative;
  margin-right: .8rem;
  cursor: pointer;
}

#label-2, #label-3 {
  color: #dc3545;
  font-size: .8rem;
}

.nacinPlacanja h6 {
  font-weight: 400;
  color: #3a4da1;
}
.nacinPlacanja .col-md-4 {
  padding: 0;
}
.nacinPlacanja label {
  width: 100%;
}
.nacinPlacanja .panel {
  box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
}
.nacinPlacanja .panel-body {
  padding: 20px;
}
.nacinPlacanja .panel-heading {
  padding: 2rem 0 0 0;
}
.nacinPlacanja .card-input-element {
  display: none;
}
.nacinPlacanja .card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #8bc63f;
  border-radius: 5px;
}
.nacinPlacanja .card-input {
  margin: 10px 0 0 0;
}
.nacinPlacanja .card-input:hover {
  cursor: pointer;
}
.nacinPlacanja .payIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nacinPlacanja .payIcon i {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  #uclanise-login-form .container-uclani-se .user .formBx form h2 {
    font-size: 1.65rem;
  }

  .form-check .form-check-input {
    width: 4% !important;
  }
}
@media (min-width: 1200px) {
  .nacinPlacanja .card-input {
    min-height: 90px;
  }
}
@media (max-width: 992px) {
  #uclanise-login-form .container-uclani-se .user .formBx {
    width: 100%;
  }
}
@media (max-width: 767px) {
  /*alert*/
  .alert-akcija h3 {
    font-size: 1.75rem !important;
  }
  .alert-akcija h5 {
    font-size: 1.3rem !important;
  }
  .alert-akcija p {
    font-size: 1.1rem !important;
  }

  .nacinPlacanja .card-input {
    margin: 1rem 0 0 0;
  }

  .big-header-hidden {
    display: block;
  }

  .text-box.text-box-mini {
    position: absolute;
    top: 19vw;
    left: 47vw;
  }
  .text-box.text-box-mini h3 {
    /*font-family: $font-handwriting;*/
    /*letter-spacing: normal;*/
    font-size: 5.5vw !important;
  }
  .text-box.text-box-mini p {
    display: none;
  }
}
@media (max-width: 575px) {
  .submitForm {
    width: 100%;
  }

  #uclanise-login-form .container-uclani-se .user .formBx form h2 {
    font-size: 1.48rem;
  }
  #uclanise-login-form .container-uclani-se .user .formBx form input[type='submit'] {
    width: 100%;
  }

  .form-check .form-check-input {
    width: 6% !important;
  }
}
