/* 
hsla($main-color-h, $main-color-s, $main-color-l, $main-color-a);

*/
/* 
hsla($green-color-h, $green-color-s, $green-color-l, $green-color-a);
*/
/* 
hsla($blue-color-h, $blue-color-s, $blue-color-l, $blue-color-a);
*/
#uclanise-login-form {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem 0;
}
#uclanise-login-form .container-uclani-se {
  position: relative;
  min-height: 105rem;
  background-color: white;
  box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
  overflow: hidden;
}
#uclanise-login-form .container-uclani-se .user {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#uclanise-login-form .container-uclani-se .user .formBx {
  position: relative;
  width: 65%;
  height: 100%;
  /*background-color: darken($white-color, 1%);*/
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5rem;
  transition: 0.5s;
}
#uclanise-login-form .container-uclani-se .user .formBx h2 {
  font-size: 1.8rem;
  font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 2px;
  text-align: center;
  width: 100%;
  margin-bottom: 2rem;
  color: #3a4da1;
  line-height: 1.3;
}
#uclanise-login-form .container-uclani-se .user .formBx input {
  position: relative;
  width: 100%;
  padding: 0.8rem;
  /*background-color: darken($white-color, 1%);*/
  color: #211b14;
  border: 2px solid #d2d7ef;
  border-radius: 5px;
  outline: none;
  box-shadow: none;
  margin: 0 0 1rem 0;
  font-size: 0.8rem;
  letter-spacing: 1px;
  font-weight: 300;
  background: transparent;
}
#uclanise-login-form .container-uclani-se .user .formBx input:focus {
  box-shadow: none;
  outline: none;
  border-color: #adb6e1;
}
#uclanise-login-form .container-uclani-se .user .formBx label {
  color: #3a4da1;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe {
  color: #211b14;
  letter-spacing: 0.3px;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .remember-me {
  width: 0.813rem;
  height: 0.813rem;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .uslovi-koriscenja {
  cursor: pointer;
  color: #5464ad;
}
#uclanise-login-form .container-uclani-se .user .formBx .checkbox .rememberMe .uslovi-koriscenja:hover {
  text-decoration: underline !important;
}

.submitForm {
  width: 40%;
  display: inline-block;
  padding: 0.75rem 1.25rem;
  border-radius: 5px;
  color: white;
  text-transform: uppercase;
  font-size: .95rem;
  letter-spacing: 0.05rem;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  outline: none;
  border: none;
}
.submitForm::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #8bc63f;
  border-radius: 5px;
  z-index: -2;
}
.submitForm::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 100%;
  background-color: #70a130;
  transition: all 0.3s;
  border-radius: 5px;
  z-index: -1;
}
.submitForm:hover {
  color: #fff;
}
.submitForm:hover::before {
  width: 100%;
}
.submitForm:focus {
  outline: none;
}

.form-check {
  padding-left: 0 !important;
}
.form-check .form-check-input {
  width: 2% !important;
}

#openPassword, .openPasswordConf, .openPasswordLogin, #showPassword, #showPasswordRepeat {
  color: #adb6e1;
}

#closedPassword, .closedPasswordConf, .closedPasswordLogin, #hidePassword, #hidePasswordRepeat {
  display: none;
  color: #adb6e1;
}

#openPassword, #closedPassword, .openPasswordConf, .closedPasswordConf, .openPasswordLogin, .closedPasswordLogin {
  margin-top: -47px;
  float: right;
  position: relative;
  margin-right: .8rem;
  cursor: pointer;
}

#showPassword, #hidePassword, #showPasswordRepeat, #hidePasswordRepeat {
  margin-top: -40px;
  float: right;
  position: relative;
  margin-right: .8rem;
  cursor: pointer;
}

#label-2 {
  color: #dc3545;
  font-size: .8rem;
}

.nacinPlacanja h6 {
  font-weight: 400;
  color: #3a4da1;
}
.nacinPlacanja .col-md-4 {
  padding: 0;
}
.nacinPlacanja label {
  width: 100%;
}
.nacinPlacanja .panel {
  box-shadow: 1px 0 20px 3px rgba(199, 199, 199, 0.2);
}
.nacinPlacanja .panel-body {
  padding: 20px;
}
.nacinPlacanja .panel-heading {
  padding: 2rem 0 0 0;
}
.nacinPlacanja .card-input-element {
  display: none;
}
.nacinPlacanja .card-input-element:checked + .card-input {
  box-shadow: 0 0 1px 1px #8bc63f;
  border-radius: 5px;
}
.nacinPlacanja .card-input {
  margin: 10px 0 0 0;
}
.nacinPlacanja .card-input:hover {
  cursor: pointer;
}
.nacinPlacanja .payIcon {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nacinPlacanja .payIcon i {
  font-size: 1.3rem;
}

@media (max-width: 1200px) {
  #uclanise-login-form .container-uclani-se .user .formBx form h2 {
    font-size: 1.65rem;
  }

  .form-check .form-check-input {
    width: 4% !important;
  }
}
@media (min-width: 1200px) {
  .nacinPlacanja .card-input {
    min-height: 90px;
  }
}
@media (max-width: 992px) {
  #uclanise-login-form .container-uclani-se .user .formBx {
    width: 100%;
  }
}
@media (max-width: 767px) {
  .nacinPlacanja .card-input {
    margin: 1rem 0 0 0;
  }
}
@media (max-width: 575px) {
  .submitForm {
    width: 100%;
  }

  #uclanise-login-form .container-uclani-se .user .formBx form h2 {
    font-size: 1.48rem;
  }
  #uclanise-login-form .container-uclani-se .user .formBx form input[type='submit'] {
    width: 100%;
  }

  .form-check .form-check-input {
    width: 6% !important;
  }
}
